/* ================================
   FormHack v1.2.0 (formhack.io)
	 ================================ */

// Center/Left-Aligned Layout
@mixin center-layout {
	@if $fh-centered == true {
		margin: 10px auto;
		text-align: center;
	}
	@else {
		margin: 10px 0;
	}
}

/* Global Reset Styles ------------------ */

input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
	box-sizing: border-box;
	outline: none;

	// font-family: $fh-font-family;
	font-size: $fh-font-size;
	// color: $fh-font-color;
	vertical-align: top;

	display: $fh-display;
	//@include center-layout;

}


datalist {
	// font-family: $fh-font-family;
	// font-size: $fh-font-size;
}

label {
	//display: $fh-display;
	@include center-layout;
}



/* Input & Textarea ------------------ */

/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
	width: $fh-input-width;
	max-width: $fh-input-max-width;
	padding: $fh-input-padding;
	background-color: $fh-input-bg-color;
	border-radius: $fh-border-radius;
	border: $fh-border-width $fh-border-style $fh-border-color;
	transition: background-color 150ms ease-in-out, border 150ms ease-in-out;
	font-family: $fh-font-family;
}

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
	height: $fh-input-height;
	-webkit-appearance: none;
}

/* Other */

textarea {
	-webkit-appearance: none;
	overflow: auto;
	height: $fh-input-height*2;
}

input[type="range"] {
	height: $fh-input-height;
	width: $fh-input-width;
	max-width: $fh-input-max-width;
}

input[type="file"] {
	min-height: $fh-input-height;
}

input[type="search"] {
	height: $fh-input-height;
	-webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
}
input[type="color"]{
	width: $fh-input-height*1.61803398875;
	padding: 0;
	border: 0;
	border-radius: 0;
}
// For checkbox and radio to be centered, need to wrap the input and label in a span -
// .checkbox-container {
// 	display: block;
// 	text-align: center;
// }


/* Select ------------------ */

select {
	height: $fh-input-height;

	@if $fh-allow-select-vendor-styling == false {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
	}
}

select[multiple] {
	height: auto;
	min-height: $fh-input-height;
	padding: 0;

	option {
		margin: 0;
		padding: $fh-input-height / 5;
	}
}

/* Fieldset ------------------ */

fieldset {
	@if $fh-fieldset-bare == true {
		padding: 0;
		border: 0;
	}
	@else {
		padding: 10px 25px;
		border-radius: $fh-border-radius;
		border: $fh-border-width $fh-border-style $fh-border-color;
	}
}

legend {
	@if $fh-fieldset-bare == true {
		padding: 0;
		font-weight: inherit;
	}
	@else {
		padding: 0 5px;
		font-weight: 700;
	}
}

/* Buttons, Input Type Submit/Reset ------------------ */

// button,
// input[type="button"],
// input[type="submit"],
// input[type="reset"],
// input[type="image"] {
// 	height: $fh-button-height;
// 	width: $fh-button-width;
// 	max-width: $fh-button-max-width;
// 	background-color: $fh-button-bg-color;
// 	padding: $fh-input-height / 5;
// 	cursor: pointer;

// 	color: $fh-button-font-color;
// 	font-weight: 700;

// 	-webkit-appearance: none;
// 	-moz-appearance: none;

// 	border-radius: $fh-border-radius;
// 	border: $fh-border-width $fh-border-style $fh-border-color;
// }

// input[type="image"] {
// 	text-align: center;
// 	padding: $fh-input-height / 5;
// }

/* States ------------------ */

input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
	cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus  {
	background-color: $fh-focus-bg-color;
	border-color: $fh-focus-border-color;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
	outline: $fh-focus-border-color solid 2px;
}



/*
 * Select from WTF, forms? https://github.com/mdo/wtf-forms/
 */

.select-custom {
  position: relative;
  display: inline-block;
  width: $fh-input-width;
  max-width: $fh-input-max-width;
}
.select-custom select {
  display: inline-block;
  width: $fh-input-width;
  max-width: $fh-input-max-width;
  margin: 0;
  padding: $fh-input-height/5 2em $fh-input-height/5 $fh-input-height/5;
  line-height: 1.5;
  color: $select-custom-text;
  background-color: $select-custom-background;
	border: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/* Undo the Firefox inner focus ring */
.select-custom select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* Dropdown arrow */
.select-custom:after {
  position: absolute;
  top: 50%;
  right: 0.75em;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid $select-custom-text;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

/* Hover state */
//Uncomment if you need it, but be aware of the sticky iOS states.
// .select-custom select:hover {
//   background-color: #ddd;
// }


/* Focus */
// .select-custom select:focus {
//   box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
// }

/* Active/open */
.select-custom select:active {
  color: $cream;
  background-color: $blue;
}

/* Hide the arrow in IE10 and up */
.select-custom select::-ms-expand {
  display: none;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select-custom select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  /* <option> elements inherit styles from <select>, so reset them. */
  .select-custom option {
    background-color: #fff;
  }
}

/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
  .select-custom select {
    z-index: 1;
    padding: .5rem 1.5rem .5rem 1rem;
  }
  .select-custom:after {
    z-index: 5;
  }
  .select-custom:before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 1.5rem;
    background-color: #eee;
  }
  .select-custom select:hover,
  .select-custom select:focus,
  .select-custom select:active {
    color: $yellow;
    background-color: #eee;
  }
}


//input-with-button
.input-with-button{
	position: relative;
	width: $fh-input-width;
	max-width: $fh-input-max-width;
	height: 46px;
	input{
		padding-right: 30%;
		height: 46px;
	}
	.btn{
		position: absolute;
		top: 0;//$fh-border-width;
		right: 0;//$fh-border-width;
		padding: $fh-input-padding;
		margin: 0;
		font-size: $fh-font-size;
		line-height: $base-line-height;
		border-radius: 0px $fh-border-radius $fh-border-radius 0px;

	}
}

// hide honeypot
input#edit-personal-link{
	display: none;
}
