

h1, .h1{
  margin-top: $base-margin;
  margin-bottom: $base-margin*2;
  font-size: 28px;
  line-height: (47/40);
  font-weight: 300;
  color: $red;
  clear: both;
  @media (min-width: $bp-medium){
    font-size: 40px;
  }
}

h2, .h2{
  margin-top: 0;
  margin-bottom: $base-margin;
  font-size: 24px;
  line-height: (33/28);
  font-weight: 300;
  clear: both;
  @media (min-width: $bp-medium){
    font-size: 28px;
  }
}

h3, .h3{
  margin-top: $base-margin;
  margin-bottom: $base-margin;
  font-size: 24px;
  line-height: (30/26);
  font-weight: 300;
  clear: both;
  @media (min-width: $bp-medium){
    font-size: 26px;
  }
}
h4, .h4{
  margin-top: $base-margin;
  margin-bottom: $base-margin;
  font-size: 21px;
  font-weight: $semibold;
  line-height: (30/21);
  display: block;
  clear: both;
}
h5, .h5{
  margin-top:$base-margin;
  margin-bottom: $base-margin;
  font-size: 15px;
  line-height: (17/15);
  clear: both;
}
h6, .h6{
  margin-top:$base-margin;
  margin-bottom: $base-margin;
  font-size: 15px;
  line-height: (17/15);
  clear: both;
}
p{
  margin-top: 0;
  margin-bottom: $base-margin;
}
ul, ol, pre, table, blockquote{
  margin-top: $base-margin;
  margin-bottom: $base-margin;
}
