<aside class="side-callout island-callout">
	<div class="callout-inner">
		<header><h1>Important Dates</h1></header>
		<ul class="date-list">
			<li>
				<span>December 1st, 2015</span>
				<span>Application Deadline</span>
			</li>
			<li>
				<span>December 1st, 2015</span>
				<span>Application Deadline</span>
			</li>
			<li>
				<span>December 1st, 2015</span>
				<span>Application Deadline</span>
			</li>
		</ul>
	</div>
</aside>