<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <%= partial "/base/head" %>
  <body class="<%= page_classes %> post-template-blockchain">
  	<a class="skipnav" href="#maincontent">Skip to main content</a>
    <div id="main-wrapper">
        <%= partial "/custom/header" %>
        <%= partial "/custom/nav-offcanvas" %>
  	    <div id="maincontent">
            <%= yield %>
        </div><!--#maincontent for accessibility skip to main content link-->
        <%= partial "/custom/footer" %>
        <%= partial "/custom/back-to-top" %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js"></script>
    <script src="https://unpkg.com/smoothscroll-anchor-polyfill"></script>
    <%= javascript_include_tag "vendor/modernizr.min",  "blockchain" %>
  </body>
</html>
