<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" id="guide"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Guide - <%= current_page.data.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "guide" %>
    <!--Guide Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">
    <!--Site Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700italic,700|Roboto+Condensed:700,700italic|Roboto+Mono:400,400italic,500,500italic|Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="/assets/scripts/vendor/html5shiv.min.js"></script>
        <script src="/assets/scripts/vendor/respond.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= page_classes %> styleguide language-html">
      <%= partial "/guide/header" %>
  	   <div id="maincontent" class="guide-wrap">
         <div id="guide-container">
             <div class="row">
               <div id="guide-nav" class="triggered-area">
                 <%= partial "/guide/nav" %>
               </div>
               <div id="guide-body"  role="main">
                 <h1 class="guide-font guide-page-title"><%= current_page.data.title %></h1>
                 <%= yield %>
               </div><!--main-body[role="main"]-->
              </div><!--row-->
          </div><!--page-body-->
      </div><!--#maincontent for accessibility skip to main content link-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <%= javascript_include_tag "vendor/prism", "vendor/fastClick", "vendor/flickity", "vendor/flickity-imageLoaded", "vendor/reframe", "index" %>
    <script>
      //Add line number to Code Block
      (function() {
          var pre = document.getElementsByTagName('pre'),
              pl = pre.length;
          for (var i = 0; i < pl; i++) {
              pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';
              var num = pre[i].innerHTML.split(/\n/).length;
              for (var j = 0; j < num; j++) {
                  var line_num = pre[i].getElementsByTagName('span')[0];
                  line_num.innerHTML += '<span>' + (j + 1) + '</span>';
              }
          }
      })();


      //Current Page
      $(function(){
        $('a').each(function() {
          if ($(this).prop('href') == window.location.href) {
            $(this).addClass('current');
          }
        });
      });
    </script>
  </body>
</html>
