<header id="guide-header">
  <div class="header-inner">
    <div class="guide-logo">
      <a href="/guide/index.html">
        <i class="zmdi zmdi-shape icon"></i>
        <span class="project-title">Web Style Guide</span>
      </a>
    </div>
    <div class="guide-side-trigger">
      <div class="trigger block-scroll" rel="guide-nav">
        <span class="screen-reader-text">Menu</span>
        <i class="zmdi zmdi-menu icon"></i>
        <i class="zmdi zmdi-close icon"></i>
      </div>
    </div>
  </div>
</header>
