
$accodion-spacing: $base-margin/2;
.accordion{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    ul{
      list-style: initial;
      margin: 0 1.625em;
      margin-bottom: $base-margin;
    }
  }
  li{
    margin-bottom: 1px;
    padding-left: 0;
  }
  .accordion--button{
    position: relative;
    background: none;
    border-radius: 0;
    background: $blue;
    color: $yellow;
    padding: 20px 40px 20px 15px;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 20px;
    line-height: 1.25;
    &.white {
        color: $white;
    }
    &:hover, &:focus-visible{
      background-color: $blue-dark;
    }
    // &:focus-visible{

    //   outline: 1px dashed rgba(0,0,0,0.5);
    // }
    &[aria-expanded="true"]{
      background-color: $blue-dark;
    }
    &[aria-expanded="false"]:after{
      content: "\f2f9";
      font-family: 'Material-Design-Iconic-Font';
      display: block;
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 30px;
    }
    &[aria-expanded="true"]:after{
      content: "\f2fc";
      font-family: 'Material-Design-Iconic-Font';
      display: block;
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 30px;
    }
  }
  .accordion--body{
    padding: $accodion-spacing;
    h1,h2,h3{
      font-weight: bold;
      font-size: 20px;
      margin-top: $base-margin;
      margin-bottom: $base-margin/2;
    }
    h4,h5,h6{
      font-weight: bold;
      font-size: 17px;
      margin-top: $base-margin;
      margin-bottom: $base-margin/2;
    }
    p, ol, ul, ol ul, ul ul, ol ol, ul ol{
      margin-bottom: $base-margin/2;
    }
  }
}
