#alert{
  position: sticky;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  z-index: 9999;
  background-color: rgba($red-dark, 0.95);
  color: $white;
  padding: 16px 30px;
  @media (min-width: $bp-medium){
      padding: 16px 40px;
  }
  &.active{
    display: block;
  }
}
.alert-inner{
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  p{
    font-size: 17px;
    margin: 0 0 8px;
    font-family: $font-stack-sans;
    strong {
        font-family: $font-stack-serif; 
        font-size: 28px;
    }
    a {
        font-family: $font-stack-mono;
    }
  }
  a, a:visited{
    color: $yellow;
    &:hover, &:active, &:focus{
      color: $white;
    }
  }
}
#alert--dismiss{
  background-color: transparent;
  position: absolute;
  top: 0;
  right: -24px;
  color: $white !important;
  font-size: 24px;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  &:hover, &:focus, &:active{
    color: $yellow !important;
  }
}
