/* ================================
   Base (Custom)
   ================================ */

//Structural
html{
  // overflow-x: hidden;
  overflow-y: visible;
}
body{
  min-width: 250px;
  overflow-x: hidden;
  background: $background-color;
}
#maincontent{
  min-height: 50vh; //just for the rare case where there is almost nothing on the page..pushing footer down
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin-top: $header-height;
  @media (min-width: $bp-medium){
    margin-top: 0;
  }
  @media (orientation: landscape) and (max-width: $bp-medium) {
    margin-top: 0;
  }
}
.container,
.contained,
.super-container,
.super-contained{
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
  display: block;

  @media(min-width: $bp-medium){
    width: 90%;
    padding: 0;
  }
  @media(min-width: $bp-xlarge){
    width: 85%;
  }
  &:before{
    content: "";
    display: table;
  }
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
  }
  &.relative{
    position: relative; //to keep absolute things in this container
  }
}

.super-container,
.super-contained{
  @media(min-width: $bp-huge){
    width: 70%;
  }
}

$full-but-contained: 36px;
.full-but-contained{
  // max-width: 1600px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: block;
  float: left;
  @media(min-width: $bp-medium){
    width: calc(100% - (#{$full-but-contained} * 2));
    margin: $full-but-contained;
  }
  &.no-margin{
    @media(min-width: $bp-medium){
      margin: 0 $full-but-contained;
    }
  }
  //adjust any container within it to align with outside ones...oh god help
  .container,
  .contained,
  .super-container,
  .super-contained{
    @media(min-width: $bp-medium){
      width: calc(90% + (#{$full-but-contained} * 2));
      padding: 0;
    }
    @media(min-width: $bp-xlarge){
      width: calc(85% + (#{$full-but-contained} * 2));
    }
  }
  .super-container,
  .super-contained{
    @media(min-width: $bp-huge){
      width: calc(70% + (#{$full-but-contained} * 2));
    }
  }
}

$homepage--full-but-contained: 56px;
.homepage--full-but-contained{
  // max-width: 1600px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: block;
  float: left;
  @media(min-width: $bp-medium){
    width: calc(100% - (#{$homepage--full-but-contained} * 2));
    margin: $homepage--full-but-contained;
    float: left;
  }

  //adjust any container within it to align with outside ones...oh god help
  .container,
  .contained,
  .super-container,
  .super-contained{
    @media(min-width: $bp-medium){
      width: calc(90% + (#{$homepage--full-but-contained} * 2));
      padding: 0;
    }
    @media(min-width: $bp-xlarge){
      width: calc(85% + (#{$homepage--full-but-contained} * 2));
    }
  }
  .super-container,
  .super-contained{
    @media(min-width: $bp-huge){
      width: calc(70% + (#{$homepage--full-but-contained} * 2));
    }
  }
}


hr{
  width: 100%;
  margin-top: $base-margin*2;
  margin-bottom: $base-margin*2;
  @media (min-width: $bp-medium){
    width: calc(100% + 50px);
    margin-left: -25px;
  }
}
