.post-template-blockchain {
    h1, .h1 {
        color: $blockchain-red;
        font: {
            family: $font-stack-serif;
            size: rem(48);
            weight: $light;
        }
        line-height: rem(56);
        margin-bottom: 30px;
    
        @media (min-width: $bp-menu-shift) {
            width: 55%;
        }
    }
    
    h2, .h2 {
        font: {
            family: $font-stack-serif;
            size: rem(20);
            weight: $normal;
        }
        line-height: rem(32);
        margin-bottom: 20px;
        @media (min-width: $bp-sm-medium) {
            font-size: rem(26);
        }
    }
    
    h3, .h3 {
        color: $black;
        margin-top: 0;
        margin-bottom: $base-margin/2;
        font: {
            family: $font-stack-sans;
            size: rem(16);
            weight: $normal;
        }
    }
    h4, .h4 {
        color: $blockchain-red;
        margin-top: 0;
        margin-bottom: $base-margin/2;
        font: {
            family: $font-stack-sans;
            size: 14px;
            weight: $semibold;
        }
        @media (min-width: $bp-medium) {
            font-size: 18px;
        }
    }
   
    p {
        color: $primary-text-color;
        font: {
            family: $font-stack-sans;
            size: rem(16);
            weight: $light;
        }
        line-height: rem(28);
        margin-top: 0;
        margin-bottom: $base-margin;
    }

    .page-body {
        background: $blockchain-background-color;
        border-bottom: 25px solid $red;
        border-top: 15px solid $red;
        padding: 50px 0;
        @media (min-width: $bp-menu-shift) {
            margin-top: 152px;
        }
        .contained {
            position: relative;
        }
    }
    
    .intro {
        a,
        a:visited {
            color: $red;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .outro {
        margin-top: 15%;
        text-align: left;
    }
    
    .site-link {
        color: $gray;
        font-weight: $bold;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .contained-narrow {
        margin: 0 auto;
        padding: 0 1em;
        display: block;
        width: 100%;
        @media (min-width: $bp-small) {
            max-width: 550px;
        }
    }
    .blockchain {
        margin: 15% auto 0 auto;
        text-align: center;
        transition: width .3s ease-in;
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        &:hover {
            .blockchain-part {
                img {
                    filter: brightness(90%);
                }
            }
        }

        .blockchain-image {
            position: relative;
            a {
                display: flex;
                align-items: center;
                margin-top: 0;
                position: relative;
                transition: margin-top .5s ease;
                text: {
                    align: left;
                    decoration: none;
                }
                img {
                    margin-right: 35px;
                    max-width: 140px;
                    width: 100%;
                    transition: all .3s ease;
                    @media (min-width: $bp-sm-medium) {
                        max-width: 220px;
                    }
                    &.closed {
                        opacity: 1;
                        left: 0;
                        top: 0;
                        position: relative;
                        z-index: 5;
                    }
                    &.open {
                        filter: none;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        z-index: 5;
                        width: 100%;
                    }
                }
                &:hover {
                    img {
                        transform: scale(1.05);
                        filter: brightness(100%) drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.6));
                        z-index: 20;
                        &.open {
                            filter: none;
                        }
                    }
                }
                &.is-collapsed {
                    h2 {
                        color: $blockchain-red;
                    }
                }
                &.is-expanded {
                    margin-top: 80px;
                    @media (min-width: $bp-sm-medium) {
                        margin-top: 120px;
                    }
                    h2 {
                        color: $blockchain-blue;
                    }
                    img {
                        &.closed {
                            opacity: 0;
                            transition: all 1s ease;
                        }
                        &.open {
                            opacity: 1;
                            transition: all .5s ease;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .blockchain-part {
            margin-top: -53px;
            position: relative;
            @media (min-width: $bp-sm-medium) {
                margin-top: -85px;
            }
            &:first-of-type {
                margin-top: 0;
            }
            transition: filter .3s linear;
        }
        .blockchain-text {
            background: $white;
            max-height: 0;
            width: 100vw;
            margin-left: calc(-50vw + 50%);
            overflow: hidden;
            text: {
                align: left;
            }
            transition: max-height .6s ease-in-out, margin-top .5s ease, margin-bottom .5s ease;
            p {
                color: $blue;
                font: {
                    family: $font-stack-sans;
                    weight: $semibold;
                }
                margin-bottom: 15px;
                @media (min-width: $bp-medium) {
                    font-size: rem(16);
                    line-height: rem(28);
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            &.is-expanded {
                margin-bottom: 90px;
                margin-top: 30px;
                max-height: 500px;
                @media (min-width: $bp-sm-medium) {
                    margin-bottom: 150px;
                    margin-top: 50px;
                }
            }
            &-inner {
                padding: 20px;
                @media (min-width: $bp-medium) {
                    padding: 36px 0;
                }
            }
        }
        #accordion5.blockchain-text.is-expanded {
            margin-bottom: 0;
        }
    }

    .logo {
        display: flex;
        flex-direction: column;
        padding: 30px 0 50px 0;
        text-align: center;
        @include grid-column(12);
        float: none;
        @media (min-width: $bp-medium) {
            margin-left: 0;
            padding-top: 160px;
            text-align: left; 
            float: none;
        }
        @media (min-width: $bp-xlarge) {
            @include grid-column(10.5);
            float: none;
            margin-left: 0;
        }
        img {
            max-width: 260px;
            width: 100%;
        }
        .site-link {
            color: $blockchain-red;
            font-weight: $normal;
            margin: 10px 0 0 0;
            @media (min-width: $bp-sm-medium) {
                margin: 10px 0 0 68px;
            }
            &:visited {
                color: $blockchain-red;
            }
        }
        &-left {
            @media (min-width: $bp-medium) {
                @include grid-column(6);
            }
        }
        &-right {
            padding-top: 15px;
            @media (min-width: $bp-medium) {
                @include grid-column(6);
                padding-top: 0;
            }
        }
    }

    .copyright {
        font-size: 12px;
        padding-top: 30px;
        text-align: center;
        @include grid-column(12);
        @media (min-width: $bp-medium) {
            text-align: right;
        }
        @media (min-width: $bp-xlarge) {
            @include grid-column(10.5);
        }
    }

    .blockchain-footer {
        border-top: 25px solid $red;
        padding: 40px 0;
        ul {
            list-style: none;
            margin: 0;
            li {
                padding-bottom: 15px;
                padding-left: 0;
                a,
                a:visited {
                    color: $black;
                    font-size: rem(14);
                    text-decoration: none;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}