//Block colored grid
$block-gutter: 1rem;
$block-padding: 1rem;

.block-row{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	float: left;
	color: $white;
	@media (min-width: $bp-small){
		width: calc(100% + #{$block-gutter});
		margin-left: -$block-gutter/2;
		margin-right: -$block-gutter/2;
	}
}
.block-full,
.block-half,
.block-third,
.block-quarter{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}
.block-full{
	width: 100%;
	float: left;
	padding: $block-padding;
	margin-bottom: $block-gutter;
	@media (min-width: $bp-small){
		width: calc(100% - #{$block-gutter});
		margin-left: $block-gutter/2;
		margin-right: $block-gutter/2;
	}
}
.block-half{
	width: 100%;
	float: left;
	padding: $block-padding;
	margin-bottom: $block-gutter;
	@media (min-width: $bp-small){
		width: calc(50% - #{$block-gutter});
		margin-left: $block-gutter/2;
		margin-right: $block-gutter/2;
	}
}
.block-third{
	width: 100%;
	float: left;
	padding: $block-padding;
	margin-bottom: $block-gutter;
	@media (min-width: $bp-small){
		width: calc(50% - #{$block-gutter});
		margin-left: $block-gutter/2;
		margin-right: $block-gutter/2;
	}
	@media (min-width: $bp-large){
		width: calc(33.33333% - #{$block-gutter});
		margin-left: $block-gutter/2;
		margin-right: $block-gutter/2;
	}

}
.block-quarter{
	width: 100%;
	float: left;
	padding: $block-padding;
	margin-bottom: $block-gutter;
	@media (min-width: $bp-small){
		width: calc(50% - #{$block-gutter});
		margin-left: $block-gutter/2;
		margin-right: $block-gutter/2;
	}
	@media (min-width: $bp-large){
		width: calc(25% - #{$block-gutter});
		margin-left: $block-gutter/2;
		margin-right: $block-gutter/2;
	}
}

.block-half,
.block-third {
    .router-row--icon {
        @include grid-column(12);
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    .router-row--txt {
        @include grid-column(12);
    }
}

.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    .router-row {
        margin-left: 0;
        margin-right: 0;
        .router-row--icon {
            text-align: center;
            img {
                max-width: 250px;
            }
        }
        .router-row--txt {
            padding: 0 20px;
        }
    }
}

//colors
.block-red{
	background-color: $red;
}
.block-blue{
	background-color: $blue-dark;
}
.block-green{
	background-color: $green;
}
.block-gray{
	background-color: $gray-dark;
}


//Stats
.stat-container{
	position: relative;
	display: block;
}
.stat{
	display: block;
	text-align: center;
	font-size: 50px;
	line-height: 1.25;
	font-weight: 600;
	@media (min-width: $bp-small){
		font-size: 40px;
	}
	@media (min-width: $bp-medium){
		font-size: 50px;
	}
	@media (min-width: $bp-xlarge){
		font-size: 60px;
	}
}
.stat-thin{
	font-weight: 300;
}
.stat-blurb{
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: (22 / 14);
}
