/* ================================
   Body Parts
   ================================ */

.page-top{
	position: relative;
	display: block;
	z-index: 1;
	width: 100%;
	float: left;
	background: linear-gradient(169.5deg, rgba(190,237,250,1) 0%,rgba(255,255,255,0) 40%),
	url('../images/page-top--skew.svg') 10% 0px no-repeat;
	padding-top: 100px;
	@media (min-width: $bp-medium){
		background: linear-gradient(169.5deg, rgba(190,237,250,0.5) 0%,rgba(255,255,255,0) 40%),
		url('../images/page-top--skew.svg') 100% 0px no-repeat;
		padding-top: 150px;
	}
}
.page-body{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	background: $white; //prevents parallax hero from peaking through
}

.section{
	position: relative;
	display: block;
	width: 100%;
	float: left;
}

.body-content{
	padding: 50px 0;
}

.background-gray{
	position: relative;
	display: block;
	width: 100%;
	padding: 50px 0;
	background-color: $gray-light;
}
.background-blue{
	position: relative;
	display: block;
	width: 100%;
	padding: 50px 0;
	background-color: $blue;
}
.background-blue-dark{
	position: relative;
	display: block;
	width: 100%;
	padding: 50px 0;
	background-color: $blue-dark;
}
.background-white{
	position: relative;
	display: block;
	width: 100%;
	padding: 50px 0;
	background-color: $white;
}

.color-white {
	color: $white;
}

.color-red {
	color: $red;
}

.center {
	text-align: center;
}


.skew-top{
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		display: block;
		z-index: 100;
		height: 123px;
		width: 100%;
		top: -122px;
		left: 0;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1329.7 127' xml:space='preserve' preserveAspectRatio='none'%3E%3Cstyle type='text/css'%3E .st0{fill:%23FFFFFF;} %3C/style%3E%3Cg id='Field-of-Study---Cyber-Security' transform='translate(0.000000, -4386.000000)'%3E%3Cpolygon id='Rectangle-4-Copy-260' class='st0' points='0,4386.1 1330,4512.9 0,4512.9 '/%3E%3C/g%3E%3C/svg%3E");
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: 100% 100%;

	}
}
.skew-bottom{
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		display: block;
		z-index: 100;
		height: 123px;
		width: 100%;
		bottom: -122px;
		left: 0;
		background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1329.7 127' style='enable-background:new 0 0 1329.7 127;' xml:space='preserve' preserveAspectRatio='none'%3E%3Cstyle type='text/css'%3E .st0{fill:%23FFFFFF;} %3C/style%3E%3Cg id='Field-of-Study---Cyber-Security' transform='translate(0.000000, -4386.000000)'%3E%3Cpolygon id='Rectangle-4-Copy-260' class='st0' points='1330,4512.9 0,4386.1 1330,4386.1 '/%3E%3C/g%3E%3C/svg%3E");
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}
.svg-bg{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	padding-top: 123px + 50px;
	padding-bottom: 123px + 50px;
  background-color: #0F6E98;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1280 6665.4' style='enable-background:new 0 0 1280 6665.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:%23006E9A;} .st1{fill:%231B3F56;} .st2{fill:%2300597D;fill-opacity:0.5;} .st3{fill:%23006E9A;fill-opacity:0.5;} %3C/style%3E%3Ctitle%3EGroup 17%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Field-of-Study---Cyber-Security' transform='translate(0.000000, -1771.000000)'%3E%3Cg id='Group-8' transform='translate(-3.000000, 1770.621094)'%3E%3Cg id='Group-17'%3E%3Cpolygon id='Rectangle-4-Copy-284' class='st0' points='1284.5,6812 1.4,6812 1.4,273.2 1280.5,273.2 '/%3E%3Cpolygon id='Rectangle-4-Copy-285' class='st1' points='2.9,0.4 1283,0.4 1283,409.1 3.9,853.8 '/%3E%3Cpolygon id='Rectangle-4-Copy-287' class='st2' points='3.9,1279.1 1283,1437.5 1283,1723.8 3.9,2168.5 '/%3E%3Cpolygon id='Rectangle-4-Copy-288' class='st3' points='3.9,494.3 1308.5,700.3 1308.5,1072.3 3.9,1650.3 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpolygon id='Rectangle-4-Copy-287_1_' class='st2' points='6.8,2652.8 1285.9,2811.3 1285.9,3097.5 6.8,3542.2 '/%3E%3Cpolygon id='Rectangle-4-Copy-288_1_' class='st3' points='6.8,1868.1 1311.4,2074 1311.4,2446.1 6.8,3024 '/%3E%3Cpolygon id='Rectangle-4-Copy-287_2_' class='st2' points='9.8,4004.6 1288.9,4163 1288.9,4449.3 9.8,4894 '/%3E%3Cpolygon id='Rectangle-4-Copy-288_3_' class='st3' points='9.8,3219.8 1314.4,3425.8 1314.4,3797.8 9.8,4375.8 '/%3E%3Cpolygon id='Rectangle-4-Copy-287_6_' class='st2' points='-12.3,5382.2 1266.8,5540.7 1266.8,5826.9 -12.3,6271.6 '/%3E%3Cpolygon id='Rectangle-4-Copy-288_6_' class='st3' points='-12.3,4597.5 1292.3,4803.4 1292.3,5175.5 -12.3,5753.5 '/%3E%3Cpolygon id='Rectangle-4-Copy-288_8_' class='st3' points='9.8,5991.6 1314.4,6197.6 1314.4,6569.6 9.8,7147.6 '/%3E%3C/svg%3E");

}

//Reusable columns

.column-row{
	position: relative;
	@include grid-collapse;
	@include grid-container;
	float: left;
	display: flex;
	flex-wrap: wrap;

}
.column-full{
	@include grid-column(12);
}
.column-half{
	@include grid-column(12);
	@media (min-width: $bp-medium){
		@include grid-column(6);
	}
}
.column-third{
	@include grid-column(12);
	@media (min-width: $bp-medium){
		@include grid-column(4);
	}
}
.column-quarter{
	@include grid-column(12);
	@media (min-width: $bp-medium){
		@include grid-column(3);
	}
}

//Body Columns
.column--small{
  @include grid-column(12);
  @media (min-width: $bp-large){
    @include grid-column(4);
  }
  @media (min-width: $bp-xlarge){
    @include grid-column(3);
  }
}
.column--large{
  @include grid-column(12);
  @media (min-width: $bp-large){
    @include grid-column(8);
  }
  @media (min-width: $bp-xlarge){
    @include grid-column(7.75);
		@include grid-push(0.25);
  }
}


//Section Title Area
.section-title--area{
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	&.section-title--width-button{
		text-align: center;
		@media (min-width: $bp-medium){
			text-align: left;
		}
		.section-title--title{
			font-family: $font-stack-serif;
			margin: 0 0 15px;
			@media (min-width: $bp-medium){
				margin: 0;
			}
		}
	}
	&.no-bottom-margin{
		margin-bottom: 0;
	}
	.svg-bg &, .background-blue-dark &, .cue-bert-bg &{
		color: $white;
		h1,h2,h3,h4,h5,h6{
			color: $white !important;
		}
		.section-title--title{
			@media (min-width: $bp-medium){
				margin: 15px;
			}
		}
	}
	.background-white &{
		color: $primary-text-color !important;
		h1,h2,h3,h4,h5,h6{
			color: $primary-text-color !important;
		}
	}
}
.section-title--category{
	display: block;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 3.76px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.section-title--title{
	margin-bottom: 15px;
	font-weight: 300;
}
.section-title--button{
	position: relative;
	@media (min-width: $bp-medium){
		position: absolute;
		bottom: 0;
		right: 0;
	}
}


//Notched
.notched{
	clip-path: polygon(
		0% 0%, /* top left */
		0% 0%, /* top left */
		100% 0%, /* top right */
		100% 0%, /* top right */
		100% calc(100% - 20px), /* bottom right */
		calc(100% - 20px) 100%, /* bottom right */
		0% 100%, /* bottom left */
		0 100% /* bottom left */
	);
}



//Pagination
.pager{
  margin-bottom: $base-margin*2;
  font-family: $font-stack-sans;
  font-size: 16px;
  line-height: 1.15384615;
  font-weight: bold;
  text-transform: uppercase;
  color: #465F69;
  letter-spacing: 0.15px;
  text-align: center;
  a, a:visited{
    color: $blue;
    text-decoration: none;
    padding: 5px 8px;
    &:hover, &:focus-visible, &:active{
      color: $red;
	  outline: none;
      text-decoration: underline;
    }
    &.current-page{
      color: $primary-text-color !important;
    }
  }
  label{
    display: inline-block;
  }
  ul{
    display: inline-block;
    list-style: none;
    margin: 0;
  }
  li{
    display: inline-block;
		padding-left: 0;
		color: $white !important;

    &:after{
      content: " | ";
      color: #C6C6C6;

    }
    &:last-child:after{
      content: "";
    }
  }
	.background-gray & ,
	.background-blue & ,
	.background-blue-dark & ,
	.cue-bert-bg &,
	.svg-bg & {
		a, a:visited{
			color: $white !important
		}
	}
}

.tag-section{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	margin: $base-margin 0;
	label{
		display: block;
		color: $gray-dark;
    font-size: 15px;
    line-height: 1.3;
    font-weight: bold;
    text-transform: uppercase;
		margin: 0;
	}
}
#post-tags{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		display: inline-block;
		padding-right: 5px;
		padding-left: 0;
	}
	a, a:visited{
		font-family: $font-stack-mono;
		font-size: 15px;
	}
}

#edit-shirt-size-radios {
    display: flex;
    p {
        margin-right: 10px;
    }
}

.emsicc-iframe-container {
    height: 800px;
    position: relative;
    overflow: hidden;
    width: 100%;
    @media (min-width: $bp-menu-shift) {
        height: 600px;
    }
    iframe {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.targetx-form {
	iframe {
		max-width: 750px;
		border: 1px solid #cfcfcf;
	}
}