/* ================================
   Breadcrumbs
   ================================ */
.breadcrumbs{
	padding: 0;
	margin: 12px 0;
  @media(min-width: $bp-medium){
  }
	.breadcrumbs--home-icon{
		position: relative;
		display: inline-block;
		width: 15px;
		margin-right: 5px;
		
		&::after {
			content: '';
		}
	}
	li{
		display: inline-block;
		padding: 0;
	}
	li:after{
		content: " / ";
		font-size: 12px;
		letter-spacing: 1.71px;
		color: #555555;
	}
	li:last-child:after{
		content: "";
	}
	a, a:visited{
		font-size: 12px;
		letter-spacing: 1.71px;
		color: #555555;
		text-transform: uppercase;
		text-decoration: none;
		&:hover, &:focus, &:active{
			text-decoration: underline;
		}
	}

	.background-gray & ,
	.background-blue & ,
	.background-blue-dark & ,
	.cue-bert-bg &,
	.svg-bg & {
		li:after,
		a, a:visited{
			color: $white !important
		}
	}

}
