/* ================================
   Buttons
   ================================ */
$btn-small-font-size: 12px;
$btn-font-size: 14px;
$btn-large-font-size: 18px;

button, .btn{
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	-webkit-appearance: none;
	font-size: $btn-font-size;
	font-family: $font-stack-mono;
	display: inline-block;
	padding: 10px 15px;
	line-height: 1.25;
	font-weight: normal;
	border: 0;
	border-radius: $fh-border-radius;
	margin: 0 3px 6px 3px;
	color: $btn-text-color;
	text-decoration: none;
	background-color: $btn-background-color;
	transition: background-color 250ms ease-in-out;
	&:visited{
		color: $btn-text-color;
		&:hover, &:focus, &:active{
			color: $btn-text-color;
		}
	}
	&:hover, &:focus, &:active{
		color: $btn-text-color;
	}
	&:focus {
		text-decoration: underline;
	}
}


//Button States (Hover, Active, Disabled)
.btn:hover,
.btn.hover,
a .btn:hover,
.btn.active {
	color: $yellow;
	background-color: $btn-hover-color;
	text-decoration: none;
}
.btn:active,
.btn.active,
.btn:focus,
.btn.focus {
	background-color: $btn-active-color;
	// box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	outline: 0;
	// transform: scale(1.05);

}
.btn.disabled,
.btn[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
	filter: alpha(opacity=50);
    box-shadow: none;
}





//Transparent
button.transparent, .btn-transparent{
	color: $btn-transparent-text-color;
	background-color: $btn-transparent-background-color;
	border: 2px solid $yellow;
	font-size: 16px;
	transition: border 150ms ease-in-out, padding 150ms ease-in-out;
	&:visited{
		color: $btn-transparent-text-color;
		&:hover, &:focus, &:active{
			color: $btn-transparent-text-color;
		}
	}
}
.btn-transparent:hover,
.btn-transparent.hover,
a .btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent.active {
	background-color: $btn-transparent-hover-color;
	border: 4px solid $yellow;
	padding: 8px 13px;
}
.btn-transparent:active,
.btn-transparent.active,
.btn-transparent:focus,
.btn-transparent.focus {
	background-color: $btn-transparent-active-color;
}

//Transparent Alternative
button.transparent-alternative, .btn-transparent-alternative{
	color: $btn-transparent-alternative-text-color;
	background-color: $btn-transparent-alternative-background-color;
	border: 2px solid #C0DBE6;
	font-size: 16px;
	transition: border 150ms ease-in-out, padding 150ms ease-in-out;
	&:visited{
		color: $btn-transparent-alternative-text-color;
		&:hover, &:focus, &:active{
			color: $btn-transparent-alternative-text-color !important;
			border: 4px solid $blue;
			padding: 8px 13px;
		}
	}
}
.btn-transparent-alternative:hover,
.btn-transparent-alternative.hover,
a .btn-transparent-alternative:hover,
.btn-transparent-alternative.active {
	background-color: $btn-transparent-alternative-background-color;
	border: 4px solid $blue;
	padding: 8px 13px;
	color: $btn-transparent-alternative-active-color;
}
.btn-transparent-alternative:active,
.btn-transparent-alternative.active,
.btn-transparent-alternative:focus,
.btn-transparent-alternative.focus {
	background-color: $btn-transparent-alternative-background-color;
	color: $btn-transparent-alternative-text-color !important;
	border: 4px solid $blue;
	padding: 8px 13px;
}

//Secondary
button.secondary, .btn-secondary{
	color: $btn-secondary-text-color;
	background-color: $btn-secondary-background-color;
}
.btn-secondary:hover,
.btn-secondary.hover,
a .btn-secondary:hover,
.btn-secondary.active {
	color: $blue-darker;
	background-color: $btn-secondary-hover-color;
}
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:focus,
.btn-secondary.focus {
	color: $btn-secondary-text-color;
	background-color: $btn-secondary-active-color;
}

//Additional
button.additional, .btn-additional{
	color: $btn-additional-text-color;
	background-color: $btn-additional-background-color;
}
.btn-additional:hover,
.btn-additional.hover,
a .btn-additional:hover,
.btn-additional.active {
	color: $btn-additional-text-color;
	background-color: $btn-additional-hover-color;
}
.btn-additional:active,
.btn-additional.active,
.btn-additional:focus,
.btn-additional.focus {
	color: $btn-additional-text-color;
	background-color: $btn-additional-active-color;
}

//Alternative
button.alternative, .btn-alternative{
	color: $btn-alternative-text-color;
	background-color: $btn-alternative-background-color;
	border-radius: 32px;
	padding: 10px 20px;
	font-family: $font-stack-serif;
	&:visited{
		color: $btn-alternative-text-color;
	}
}
.btn-alternative:hover,
.btn-alternative.hover,
a .btn-alternative:hover,
.btn-alternative.active {
	color: $yellow;
	background-color: $btn-alternative-hover-color;
}
.btn-alternative:active,
.btn-alternative.active,
.btn-alternative:focus,
.btn-alternative.focus {
	background-color: $btn-alternative-active-color;
}

//Alternative 2
button.alternative-2, .btn-alternative-2{
	color: $btn-alternative-2-text-color;
	background-color: $btn-alternative-2-background-color;
	border-radius: 32px;
	padding: 10px 20px;
	font-family: $font-stack-serif;
	&:visited{
		color: $btn-alternative-text-color;
	}
}
.btn-alternative-2:hover,
.btn-alternative-2.hover,
a .btn-alternative-2:hover,
.btn-alternative-2.active {
	color: $yellow;
	background-color: $btn-alternative-2-hover-color;
}
.btn-alternative-2:active,
.btn-alternative-2.active,
.btn-alternative-2:focus,
.btn-alternative-2.focus {
	background-color: $btn-alternative-2-active-color;
}


//Alternative 2
button.alternative-3, .btn-alternative-3{
	color: $btn-alternative-3-text-color;
	background-color: $btn-alternative-3-background-color;
	border-radius: 32px;
	padding: 10px 20px;
	font-family: $font-stack-serif;
	&:visited{
		color: $btn-alternative-text-color;
	}
}
.btn-alternative-3:hover,
.btn-alternative-3.hover,
a .btn-alternative-3:hover,
.btn-alternative-3.active {
	color: $yellow;
	background-color: $btn-alternative-3-hover-color;
}
.btn-alternative-3:active,
.btn-alternative-3.active,
.btn-alternative-3:focus,
.btn-alternative-3.focus {
	background-color: $btn-alternative-3-active-color;
}


.btn-large {
	padding: ($btn-large-font-size / 2) $btn-large-font-size;
	font-size: $btn-large-font-size;
	line-height: normal;
}

.btn-full {
	padding: ($btn-large-font-size / 2) $btn-large-font-size;
	font-size: $btn-large-font-size;
	line-height: normal;
	width: 100%;
}

//No Style button for accessible dropdowns/accordions/navs
button.clean{
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	/* Override default Webkit/Firefox button styling */
	background-image: none;
	-webkit-appearance: none;
	font-size: $btn-font-size;
	display: inline-block;
	padding: 0;
	line-height: $btn-font-size;
	font-weight: normal;
	border: 0;
	border-radius: 0;
	margin: 0;
	color: $primary-text-color;
	text-decoration: none;
	background-color: transparent;
	&:visited{
		color: $primary-text-color;
		&:hover, &:focus, &:active{
			color: $primary-text-color;
		}
	}
	&:hover, &:focus, &:active{
		color: $primary-text-color;
	}
}



.btn{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;


  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}

.more-btn:after{
  content: "\00bb";
  display: inline-block;
  padding-left: 5px;
  transition: transform 200ms ease-in-out;
}

// Landing page callout buttons
#landing-page-callouts {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    z-index: 10;
    @media (min-width: $bp-medium) {
        bottom: auto;
        justify-content: space-between;
        top: 0;
        width: 30%;
        right: 10%;
        left: auto;
        z-index: 999;
    }
    .btn-mobile-callout {
        border-radius: 0;
        margin: 0;
        padding: 18px 0;
        width: 50%;
        @media (min-width: $bp-medium) {
            font-size: $btn-small-font-size;
            width: 49%;
        }
        @media (min-width: $bp-large) {
            font-size: $btn-font-size;
        }
    }
 }
