
.callout--next-steps--row{
	@include grid-collapse;
	@include grid-container;
}
.callout--next-steps{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	background: #F4F4F4;
	.section-title--area{
		@media (min-width: $bp-large){
			margin-bottom: 0;
		}
	}
}
.callout--next-steps--left{
	@include grid-column(12);
	@media (min-width: $bp-large){
		@include grid-column(8);
	}
}
.callout--next-steps--right{
	@include grid-column(12);
	@media (min-width: $bp-large){
		@include grid-column(4);
	}
}

.callout--buttons{
	list-style: none;
	margin: 0;
	text-align: center;
	li{
		padding-left: 0;
	}
	&.vertical{
		.btn-callout{
			margin: 5px 0;
		}
	}
	&.horizontal{
		text-align: center;
		li{
			display: block;
			padding: 0;
			@media (min-width: $bp-medium){
				display: inline-block;
			}
		}
		.btn-callout{
			margin: 5px 0;
			@media (min-width: $bp-medium){
				margin: 5px 10px;
			}
		}
	}
}
.btn-callout{
	padding: 18px;
	width: 100%;

	@media (min-width: $bp-tiny) {
		min-width: 296px;
		width: auto;
	}

}


.callout-small--block{
	position: relative;
	display: block;
	width: 100%;
	float: left;

	margin-bottom: 40px;
	background-color: $red;
	color: $white;
	&.red{
		background-color: $red;
	}
	&.red-dark{
		background-color: $red-dark;
	}
	&.blue{
		background-color: $blue;
	}
	&.blue-dark{
		background-color: $blue-dark;
	}
	&.purple{
		background-color: $purple;
	}

}
.callout-small--block-img{
	position: relative;
	display: block;
	width: 100%;
	float: left;
}
.callout-small--block-txt{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	padding: 20px;
}
.callout-small--block-title{
	font-family: $font-stack-serif;
	font-weight: normal;
	font-size: 17px;
	line-height: 23/17;
	margin: 5px 0 20px;
	.btn{
		margin: 0;
	}
}

//Callout Blocks
.callout-blocks{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	float: left;
	.callout-blocks--block,
	.callout-blocks--block:visited{
		width: 100%;
		float: left;
		background-color: $red;
		padding: 24px;
		color: $white;
		text-decoration: none;
		transition: background-color 250ms ease-in-out;
		@media (min-width: $bp-large){
			width: 33.333333%;
		}
		&:hover, &:active, &:focus{
			background-color: $red-dark;
			.callout-blocks--title:after{
			  transform: translateX(10px);
			}
		}
		//Color Options
		&.red-dark{
			background-color: $red-dark;
			&:hover, &:active, &:focus{
				background-color: $red-darker;
			}
		}
		&.red{
			background-color: $red;
			&:hover, &:active, &:focus{
				background-color: $red-dark;
			}
		}
		&.blue{
			background-color: $blue;
			&:hover, &:active, &:focus{
				background-color: $blue-dark;
			}
		}
		&.purple{
			background-color: $purple;
			&:hover, &:active, &:focus{
				background-color: darken($purple, 5%);
			}
		}
	}
	.callout-blocks--cat{
		display: block;
		width: 75%;
		font-family: $font-stack-mono;
		line-height: 1.5;
		margin-bottom: 65px;
	}
	.callout-blocks--title{
		font-size: 28px;
		line-height: (38/29);
		font-weight: normal;
		margin-bottom: 100px;
		&:after{
			content: "\00bb";
		  display: inline-block;
		  padding-left: 5px;
		  transition: transform 200ms ease-in-out;
		}
	}
}
.callout-block-full{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	padding: 56px 20px;
	background-color: $blue;
	background-image: url('/assets/images/robot-bg-pattern.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media (min-width: $bp-medium){
		padding: 84px 56px;
	}
	&.red{
		background-color: $red;
	}
	&.red-dark{
		background-color: $red-dark;
	}
	&.blue{
		background-color: $blue;
	}
	&.purple{
		background-color: $purple;
	}
}
.callout-block-full--title{
	position: relative;
	width: 100%;
	float: left;
	font-size: 30px;
	line-height: (60/48);
	color: $white;
	font-family: $font-stack-mono;
	margin: 0 0 60px;
	@media (min-width: $bp-medium){
		font-size: 48px;
	}
	@media (min-width: $bp-large){
		width: 75%;
		margin: 0 25% 60px 0;
	}
}
