//Callout Block Row
.callout-block-row {
  position: relative;
  display: block;
  width: 100%;
  //float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 10px solid $white;
  .purple {
    .callout-block-row--img{
      $notched-frame-size: 35px;
      &:before{
    		content: "";
    		position: absolute;
    		top: 0;
    		right: 0;
    		width: 0;
    		height: 0;
    		border-top: $notched-frame-size solid $purple;
    		border-left: $notched-frame-size solid transparent;
    	}
    	&:after{
    		content: "";
    		position: absolute;
    		bottom: 0;
    		left: 0;
    		width: 0;
    		height: 0;
    		border-bottom: $notched-frame-size solid $purple;
    		border-right: $notched-frame-size solid transparent;
    	}
    }
    .callout-block-row--txt{
      background-color: $purple;
    }
  }
}

.callout-block-row--left{
  position: relative;
  width: 100%;
  float: left;
  @media (min-width: $bp-small){
    .callout-block-row--img{
      flex: 1;
      &.right {
          order: 2;
      }
    }
    .callout-block-row--txt{
      flex: 1
    }
  }
  @media (min-width: $bp-medium){
    width: 68%;
    border-right: 5px solid white;
    display: flex;
    flex-direction: column;
    .callout-block-row--item{
      flex-direction: row;
      &.callout-block-row--no-image{
        flex: 1;
      }
    }
    .callout-block-row--img{
      flex: 1;
      min-height: 400px;
    }
    .callout-block-row--txt{
      flex: 1;
    }
  }
  .callout-block-row--item{
    border-bottom: 10px solid white;
    @media (max-width: $bp-medium){
      border-bottom: 10px solid white;
    }
  }
  .callout-block-row--item:nth-child(2){
    border-bottom: 0px;
  }
}


.callout-block-row--right{
  position: relative;
  width: 100%;
  float: left;
  @media (min-width: $bp-medium){
    width: 32%;
    border-left: 5px solid white;
    display: flex;
    .callout-block-row--item{
      flex-direction: column;
      // flex: 1;
    }
    .callout-block-row--img{
      min-height: 400px;
    }
    // .homepage-bottom-grid--txt{
      // flex: 1;
      // min-height: 300px;
    // }
  }
}



.callout-block-row--item{
  display: block;
  float: left;
  width: 100%;
  @media (min-width: $bp-small){
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: $bp-medium){
    .callout-block-row--img{
      flex: 1;
    }
    .callout-block-row--txt{
      flex: 1
    }
  }
}






//Inner Grids
.callout-block-row--img{
  position: relative;
  background-position: center;
  background-size: cover;
  @media (max-width: $bp-small){
    padding-bottom: 50%;
  }
  @media (min-width: $bp-small){
    flex: 1;
  }
}
.callout-block-row--txt{
  padding: 45px;
  // &.purple{
  //   background-color: $purple;
  // }
  // &.red{
  //   background-color: $red;
  // }
  // &.green{
  //   background-color: $green;
  // }
}
.callout-block-row--title{
  font-family: $font-stack-serif;
  margin-top: 0;
  color: $white;
  font-size: 18px;
  line-height: (34/24);
  font-weight: normal;
  @media (min-width: $bp-small){
    font-size: 24px;
  }
}
.callout-block-row--subtitle {
    color: $white;
    font: {
        family: $font-stack-sans;
        size: 14px;
    }
    @media (min-width: $bp-small){
        font-size: 18px;
    }
}
.callout-block-row--button{
  margin-top: $base-margin;
}



//Color Variations
.callout-block-row{

  .purple{
    .callout-block-row--img{
      $notched-frame-size: 35px;
      &:before{
    		content: "";
    		position: absolute;
    		top: 0;
    		right: 0;
    		width: 0;
    		height: 0;
    		border-top: $notched-frame-size solid $purple;
    		border-left: $notched-frame-size solid transparent;
    	}
    	&:after{
    		content: "";
    		position: absolute;
    		bottom: 0;
    		left: 0;
    		width: 0;
    		height: 0;
    		border-bottom: $notched-frame-size solid $purple;
    		border-right: $notched-frame-size solid transparent;
    	}
    }
    .callout-block-row--txt{
      background-color: $purple;
    }
  }

  .green{
    .callout-block-row--img{
      $notched-frame-size: 35px;
      &:before{
    		content: "";
    		position: absolute;
    		top: 0;
    		right: 0;
    		width: 0;
    		height: 0;
    		border-top: $notched-frame-size solid $green;
    		border-left: $notched-frame-size solid transparent;
    	}
    	&:after{
    		content: "";
    		position: absolute;
    		bottom: 0;
    		left: 0;
    		width: 0;
    		height: 0;
    		border-bottom: $notched-frame-size solid $green;
    		border-right: $notched-frame-size solid transparent;
    	}
    }
    .callout-block-row--txt{
      background-color: $green;
    }
  }


  .red{
    .callout-block-row--img{
      $notched-frame-size: 35px;
      &:before{
    		content: "";
    		position: absolute;
    		top: 0;
    		right: 0;
    		width: 0;
    		height: 0;
    		border-top: $notched-frame-size solid $red;
    		border-left: $notched-frame-size solid transparent;
    	}
    	&:after{
    		content: "";
    		position: absolute;
    		bottom: 0;
    		left: 0;
    		width: 0;
    		height: 0;
    		border-bottom: $notched-frame-size solid $red;
    		border-right: $notched-frame-size solid transparent;
    	}
    }
    .callout-block-row--txt{
      background-color: $red;
    }
  }
}
