
.carousel-double{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	margin-bottom: 50px;
	@media (min-width: $bp-small){
		// width: 75%;
		// margin-left: 12.5%;
	}
	@media (min-width: $bp-medium){
		box-shadow: none;
	}
	*:focus{
		outline: 0;
	}
}
.carousel-double--next,
.carousel-double--prev{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	user-select: none;
	button{
		background-color: transparent;
		border: 0;
		border-radius: 50%;
		height: 60px;
		width: 60px;
		margin: 0;
		@media (min-width: $bp-small){
			background-color: $red;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
		}
		svg{
			stroke: $red;
			fill: $red;
			@media (min-width: $bp-small){
				stroke: $white;
				fill: $white;
				vertical-align: middle;
			}
		}
		&:hover, &:focus-visible{
			@media (min-width: $bp-small){
				box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
				background-color: $red-dark;
			}
			svg{
				stroke: $red-dark;
				fill: $red-dark;
				@media (min-width: $bp-small){
					stroke: $yellow;
					fill: $yellow;
				}
			}
		}
		&:focus-visible {
			outline: 2px solid $yellow;
		}
		&:active{
			outline: 0;
			@media (min-width: $bp-small){
				box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
			}
		}
	}
}

.carousel-double--next{
	right: -1rem;
	// @media (min-width: $bp-small){
	// 	right: -30px;
	// }
	@media (min-width: $bp-medium){
		right: -90px;
	}
}
.carousel-double--prev{
	left: -1rem;
	// @media (min-width: $bp-small){
	// 	left: -30px;
	// }
	@media (min-width: $bp-medium){
		left: -90px;
	}
}

.carousel-double--img-container{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	@media (min-width: $bp-medium){
		width: 60%;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	}
	img{
		width: 100%;
	}
}

.carousel-double--img .slide {
	display: block !important;
}

.carousel-double--txt-container{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	background-color: $white;
  color: $primary-text-color;
	@media (min-width: $bp-medium){
		box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
		width: calc(40% + #{$base-margin});
		margin-left: -$base-margin;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
}
.carousel-double--txt{
	padding: 45px 35px;
	@media (min-width: $bp-medium){

	}
}
.carousel-double--title{
	color: $red;
	margin-top: 0;
	margin-bottom: 10px;
}
.pagingInfo{
	position: absolute;
	bottom: 20px;
	right: 20px;
	// color: #999999;
	font-family: $font-stack-mono;
	font-size: 18px;
	line-height: (26/18);
}
