/* ================================
   Directory
   ================================ */

.directory{
   	ul{
   		margin-left: 0;
   		list-style: none;
   	}
   	//Grid Styles
   	&.profile-grid{
   		@include row(12);
   		li{
   			@include column(12);
   			@media(min-width: $bp-small){
   				@include column(6);
   			}
   			@media(min-width: $bp-medium){
   				@include column(4);
   			}
   			@media(min-width: $bp-xlarge){
   				@include column(3);
   			}
   		}
   	}
   	//List Styles
   	&.profile-list li{
   		@include row(12);
   		margin-bottom: $base-margin;
		.profile-image{
			@include column(5);
   			@media(min-width: $bp-medium){
   				@include column(3);
   			}
		}
		.profile-text{
			@include column(7);
   			@media(min-width: $bp-medium){
   				@include column(9);
   			}
		}
	}
	.name, .title{
		display: block;
	}
	a{
		text-decoration: none;
	}
	.name{

	}
	.title{

	}

}
