.floating-images{
	position: relative;
	display: block;
	width: 100%;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	margin-bottom: 140px;
	@media (min-width: $bp-medium){
		align-items: center;
		box-shadow: none;
		display: grid;
		grid-template-columns: 0 49% 2% 49% 0;
	}

	.floating-images--img{
		position: relative;
		display: block;
		width: 100%;
		@media (min-width: $bp-medium){
			box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
			grid-column: 2 / span 2;
			grid-row: 1;
		}
		img{
			width: 100%;
		}
	}
	.floating-images--txt{
		position: relative;
		display: block;
		width: 100%;
		padding: 45px 35px;
		background-color: $white;
		color: $primary-text-color;
		@media (min-width: $bp-medium){
			box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
			grid-column: 3 / span 2;
			grid-row: 1;
		}
	}
	.floating-images--title{
		color: $red;
		margin-top: 0;
		margin-bottom: 10px;
	}

	&:nth-child(even){
		.floating-images--img{
			order: 1;
			@media (min-width: $bp-medium){
				grid-column: 3 / span 2;
			}
		}
		.floating-images--txt{
			order: 2;
			@media (min-width: $bp-medium){
				grid-column: 2 / span 2;
			}
		}
	}
	//Small Version Variation
	&.floating-small{
		@media (min-width: $bp-medium) {
			grid-template-columns: 9% 37% 3% 40% 11%;

			&:nth-child(even) {
				grid-template-columns: 11% 40% 3% 37% 9%;
			}
		}
	}
	//Large Version Variation
	&.floating-large{
		grid-template-columns: 0 1fr $base-margin 40% 0;

		&:nth-child(even) {
			grid-template-columns: 0 40% $base-margin 1fr 0;
		}
	}
}







//Non Floating images
//very similar to floating but only on Homepage

.no-floating-images{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 140px;
	@media (min-width: $bp-medium){

	}
}
.no-floating-images--img{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	@media (min-width: $bp-medium){
		width: 60%;
	}
}
.no-floating-images--txt{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	padding: 45px 35px;
	background-color: $white;
  color: $primary-text-color;
	@media (min-width: $bp-medium){
		width: 40%;
	}
}
.no-floating-images--title{
	color: $red;
	margin-top: 0;
	margin-bottom: 10px;
}
