/* ================================
   Footer
   ================================ */
footer#footer{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	background-color: $gray-dark;
	color: $white;
	font-size: 14px;
	line-height: 1.64285714;
	border-top: 10px solid $white;
	a, a:visited{
		color: $white;
		text-decoration: none;
		&:hover, &:focus-visible, &:active{
			color: $white;
			outline: none;
			text-decoration: underline;
		}
	}
	.footer-main{
		position: relative;
		display: block;
		width: 100%;
		float: left;
		.footer-main--left{
			width: 100%;
			float: left;
			padding: 42px 7.8125%;
			@media (min-width: $bp-medium){
				width: 70%;
				float: left;
				padding: 42px 0 42px 7.8125%;
			}
		}
		.footer-main--right{
			width: 100%;
			float: left;
			padding: 42px 7.8125%;
			@media (min-width: $bp-medium){
				width: 30%;
				float: left;
				padding: 42px 7.8125% 42px 0;
			}
			@media (max-width: $bp-medium){
				background-color: $gray;
			}
		}
	}
}
.footer-row{
	@include grid-collapse;
	@include grid-container;
	@media (min-width: $bp-small){
		display: flex;
		flex-wrap: wrap;
	}
}
.footer-column{
	@include grid-column(12);
	margin-bottom: 38px;
	@media (min-width: $bp-small){
		@include grid-column(6);
		margin-bottom: 38px;
	}
	@media (min-width: $bp-large){
		@include grid-column(4);
		margin-bottom: 0;
	}
	&:last-child{
		@media (max-width: $bp-small){
			margin-bottom: 0;
		}
	}
}
.footer-column--title{
	font-size: 15px;
	font-weight: bold;
	color: #CCCCCC;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 18px;
	@media (min-width: $bp-large){
		margin-bottom: 27px;
	}
}
.footer-column--list{
	margin: 0;
	li{
		margin-bottom: 6px;
		padding: 0;
	}
}

.footer-social{
	.nav--social{
		margin-bottom: 20px;
		li{
			margin-right: 4px;
			margin-bottom: 8px;
			padding: 0;
		}
		a, a:visited{
			background-color: #777777;
			&:hover, &:focus, &:active{
				background-color: #ffffff;
				color: $gray-dark !important;
			}
		}
	}
}
.footer-icon{
	max-width: 95px;
	float: left;
	margin-right: 30px;
}
.footer-address{
	width: calc(100% - 95px - 30px);
	float: left;
}
.address-title{
	font-family: $font-stack-serif;
	font-size: 18px;
	line-height: 1.33333333;
}
.adr span{
	&.tel{
		margin-top: 20px;
	}
}

#footer-post{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	background-color: $white;
	color: $primary-text-color;
	padding: 12px 0 $base-margin;
	@media (min-width: $bp-medium){
		padding: 12px 0;
	}
}
.footer-post--top,
.footer-post--bottom{
	position: relative;
	display: block;
	width: 100%;
	float: left;
}
.footer-post--pin{
	width: 22px;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	@media (min-width: $bp-small){
		margin-top: 0;
	}
}
.footer-post--pin-text{
	width: calc(100% - (22px + 10px));
	float: left;
	font-size: 18px;
	font-family: $font-stack-serif;
	color: $red;
	p{
		margin: 4px 0;
	}
}
.footer-post--bottom{
	margin-top: 5px;
	p{
		display: block;
		margin: 0;
		font-size: 14px;
		line-height: 1.25;
	}
}
footer#footer .footer-text {
	a {
		text-decoration: underline;

		&:focus-visible {
			outline: 1px solid $white;
		}
	}
}




//Back to Top
.back-to-top{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	display: block;
	@media (min-width: $bp-medium){
		display: none;
	}
	button{
		display: block;
		text-decoration: none;
		font-family: $font-stack-mono;
		font-size: 16px;
		color: $yellow;
		padding: 20px;
		background-color: $red;
		width: 100%;
		margin: 0;
		&:hover, &:focus{
			background-color: $red-dark;
		}
		&:active{
			background-color: $red-darker;
		}
	}
}
