/* ================================
   Header
   ================================ */

header#header{
	display: block;
	width: 100%;
    float: left;
    position: relative;
	.header--logo{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		height: 80px;
		width: 100%;
		background-color: $white;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
		@media (min-width: $bp-medium){
			position: absolute;
			pointer-events: none;
			height: 150px;
			background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='796px' height='150px' viewBox='0 0 796 150' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3ERectangle 4 Copy 207%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Field-of-Study---Cyber-Security' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(-15.000000, -347.000000)' fill='%23FFFFFF'%3E%3Cpolygon id='Rectangle-4-Copy-207' points='0.18999958 0.501347213 1329.79937 89.3074584 1329.79937 249.746767 0.18999958 498.992187'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			background-position: top left;
			background-repeat: no-repeat;
			background-size: 800px;
			transition: background-size 250ms ease-in-out;
			box-shadow: none;
		}

		@media (orientation: landscape) and (max-width: $bp-medium) {
			position: relative;
		}

		a:focus img {
			outline: 2px solid $blue-darker;
		}
	}
	.header--logo-link{
		pointer-events: all;
	}
	.header--logo-img{
		max-width: 190px;
		width: 45%;
		max-width: 160px;
		position: absolute;
		top: 20px;
		left: 20px;
		opacity: 1;
		transition: max-width 250ms ease-in-out;
		@media (min-width: $bp-medium){
			max-width: 223px;
			width: auto;
			left: 35px;
		}
	}
	.header--logo-icon{
		display: none;
	}
}

.header--title-area{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	@media (min-width: $bp-medium){
		padding: 35px 0 0;
	}
	&.after-hero{
		background-color: $white;
	}
}

//Remove space if no red sub nav bar
.no-nav-bar{
	.page-title{
		margin-bottom: 0;
	}
}


//Posts: Blogs, News, Events

.capitology-title, .capitology-title:visited{
  display: inline-block;
  font-family: $font-stack-mono;
	color: $blue-dark;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: $base-margin;
  background-color: $yellow;
  padding: 5px 10px;
	text-decoration: none;
	transition: box-shadow 150ms ease-in-out;
	&:hover, &:focus, &:active{
		color: $blue-dark;
		background-color: darken($yellow, 5%);
		// text-decoration: none;

	}
}

.post-timestamp--container{
	display: block;
	position: relative;
	width: 100%;
	float: left;
	margin: $base-margin/2 0 0;
}
.post-timestamp{
	display: block;
	color: $gray;
	font-size: 14px;
	line-height: 1.45;
  margin-bottom: 5px;
}

.post-share-this{
	display: block;
	position: relative;
	width: 100%;
	float: left;
	margin: $base-margin/2 0 0;
	.addthis_toolbox .share{
		text-align: left;

		li{
			margin-left: 0;
		}

	}
}
