/* ================================
   Heros
   ================================ */

   .page-top--hero{
     position: relative;
     display: block;
     width: 100%;
     float: left;
     overflow: hidden; //stops from peaking out under footer
     // padding-bottom: 42.1875%;
     // background-position: center;
     // background-size: cover;
     // background-repeat: no-repeat;
     margin-top: -98px;
     padding-bottom: 42.1875%;
     @media (min-width: $bp-medium){
       // padding-bottom: 42.1875%;
       margin-top: -150px;
     }
     .page-top--hero-img{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       // @media (min-width: $bp-medium){
       //   padding-bottom: 42.1875%;
       // }
     }
     .page-top--hero-vid{
       #video_overlays{
         background: url('/sites/default/files/capitol-tech-online.png');
         z-index: 9999;
         position: absolute;
         background-size: contain;
         height: 100%;
         width: 100%;
         //only on small screens
         @media (max-width: $bp-medium){
           background: url('/sites/default/files/capitol-tech-online-small.png');
           background-size: contain!important;
         }
       }
       .hero-vid{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
      }
     }
   }



.hero--bottom{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  img{
    width: 100%;
  }
}
