//Homepage hero
.homepage-hero{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  background-color: $blue-dark;
  *:focus{
		outline: 0;
	}
}
.homepage-hero--txt-container{
  position: relative;
  // background-color: $red;
  width: 100%;
  @media (min-width: $bp-medium){
    width: 35.9375%;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: rgba($red, 0.88);
  }
  //only on small screens
  @media (max-width: $bp-medium){
    float: left;
    width: 100%;
  }
  .slick-dots{
    list-style: none;
    padding: 0 0 10px;
    margin: 0;
    text-align: center;
    @media (min-width: $bp-medium){
      padding: 22px;
    }
    li{
      display: inline-block;
      padding: 0;
      margin: 0 6px;
      height: 17px;
      width: 17px;
      background-color: $white;
      border-radius: 50%;
      transition: background-color 200ms ease-in-out;
      &.slick-active{
        background-color: $yellow;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover, &:focus{
        background-color: $cream;
      }
      &:active{
        transform: scale(0.9);
        background-color: $white;
      }
      &:focus-within {
        outline: 2px solid $blue-dark;
      }
      button{
        position: absolute !important;
        height: 1px; width: 1px; 
        overflow: hidden;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
      }
    }
  }
}
.homepage-hero--txt{
  color: $white;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  background-color: $red;
  @media (min-width: $bp-medium){
    background-color: rgba($red, 0.88);
  }
  &.slick-initialized{
    opacity: 1;
  }
  .slide{
    padding: 20px;
    @media (min-width: $bp-medium){
      padding: 175px 42px 32px;
    }
  }
  .homepage-hero--title{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 28px;
    line-height: (34/28);
    font-family: $font-stack-serif;
    font-weight: 400;
  }
  .homepage-hero--blurb{
    font-size: 17px;
    line-height: (22/17);
    margin-bottom: 16px;
  }
  .btn{
    margin-top: 42px - 16px;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: left;
  }
}
.homepage-hero--img-container{
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $bp-medium){
    height: 90vh;
    min-height: 500px;
  }
  //only on small screens
  @media (max-width: $bp-medium){
    float: left;
    width: 100%;
  }
}
.homepage-hero--img{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  &.slick-initialized{
    opacity: 1;
  }
  .slick-list, .slick-track, .slide{
    height: 100% !important;
  }
  .slick-slide {
    & > div {
      height: 100%;
      width: 100%;
    }
  }
  .slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}

.homepage-hero--controls {
  position: absolute;
  bottom: 0;
  left: 40px;
}

.homepage-hero--play-pause {
  background-color: $white;
  clip-path: circle();
  color: $red;
  font-size: 38px;
  padding: 12px;

  &:focus, &:hover {
    background-color: $blue-dark;
    color: $white;
  }
}
