/* ================================
   Homepage
   ================================ */
//Page Title

#homepage--page-title{
  position: relative;
  display: block;
  @media (min-width: $bp-medium){
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    right: 0;
    z-index: 1;
    pointer-events: none;
  }

  .homepage--full-but-contained{
    pointer-events: all;
    // margin-top: $base-margin;
    @media (min-width: $bp-medium){
      margin-top: 0;
      margin-bottom: 0;
    }
    @media (max-height: 500px){
      pointer-events: all;
      margin-top: $base-margin;
    }
    @media (max-width: $bp-medium){
      margin: 0;
      padding: 0;
    }
  }
  .homepage--title-island{
    background-color: $white;
    text-align: center;
  }
  h1{
    display: inline-block;
    margin: 0;
    padding: 1rem;
    color: $primary-text-color;
    font-size: 27px;
    // font-size: get-vw($bp-small, 27px);
    @media (min-width: $bp-small){
      font-size: 35px;
      font-size: get-vw($bp-medium, 35px);
    }
    @media (min-width: 790px){
      font-size: 48px;
      font-size: get-vw($bp-large, 48px);
    }
    @media (min-width: 980px){
      font-size: 66px;
      font-size: get-vw($bp-xlarge, 66px);
    }
    @media (min-width: 1265px){
      font-size: 72px;
      // font-size: get-vw(72px);
    }
  }
}

//Homepage - Button Grid
.homepage--button-grid{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  ul{
    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin: 0;
    @media (min-width: $bp-small){
      display: flex;
      flex-wrap: wrap;
    }
  }
  li{
    position: relative;
    display: flex;
    width: 100%;
    float: left;
    overflow: hidden;
    @media (min-width: $bp-small){
      width: 50%;
    }
    @media (min-width: $bp-medium){
      width: 33.3333333%;
    }
    @media (min-width: $bp-large){
      width: 25%;
    }
    &:hover{
      .btn-bg img{
        transform: scale(1.1);
      }
      .btn-bg--red:after{
        background-color: rgba($red, 0.95);
      }
      .btn-bg--red-dark:after{
        background-color: rgba($red-dark, 0.95);
      }
      .btn-bg--blue:after{
        background-color: rgba($blue, 0.95);
      }
      .btn-bg--green:after{
        background-color: rgba($green, 0.95);
      }
      .btn-bg--purple:after{
        background-color: rgba($purple, 0.95);
      }
      .btn-bg--gray-dark:after{
        background-color: rgba($gray-dark, 0.95);
      }
      a, a:visited{
        color: $yellow;
      }
    }

  }
  a, a:visited{
    position: relative;
    width: 100%;
    padding: 40px 15px;
    color: $white;
    font-family: $font-stack-mono;
    font-size: 20px;
    line-height: (28/20);
    text-decoration: none;
    z-index: 1;
    text-align: center;
    @media (min-width: $bp-small){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      // align-items: center;
      font-size: 16px;
    }
    @media (min-width: $bp-medium){
      font-size: 20px;
    }
  }
  a:focus {
    text-decoration: underline;
  }
  .btn-bg{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color 150ms ease-in-out;
    }
    &.btn-bg--red:after{
      background-color: rgba($red, 0.85);
    }
    &.btn-bg--red-dark:after{
      background-color: rgba($red-dark, 0.85);
    }
    &.btn-bg--blue:after{
      background-color: rgba($blue, 0.85);
    }
    &.btn-bg--green:after{
      background-color: rgba($green, 0.85);
    }
    &.btn-bg--purple:after{
      background-color: rgba($purple, 0.85);
    }
    &.btn-bg--gray-dark:after{
      background-color: rgba($gray-dark, 0.85);
    }

    img, video{
      object-fit: cover;
      font-family: 'object-fit: cover;';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 150ms ease-in-out;
    }
  }
}



//Icon-Blurb
.icon-blurb--container{
  @include grid-container;
  @include grid-collapse;
  display: flex;
  flex-wrap: wrap;
}
.icon-blurb--row{
  @include grid-column(12);
  margin-bottom: $base-margin;
  @media (min-width: $bp-medium){
    @include grid-column(6);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
.icon-blurb--icon{
  @include grid-column(3);
}
.icon-blurb--blurb{
  @include grid-column(9);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  color: $white;
}
.icon-blurb--blurb-title{
  margin: 0;
  font-size: 18px;
  line-height: (24/18);
  font-weight: 500;
}
.icon-blurb--blurb-text{
  margin: 0;
  font-size: 15px;
  line-height: (24/15);
}



//Cue Bert Background

.cue-bert-bg{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  padding: 50px 0;
  background-color: #00668F;
	background-size: 68px;
	background-position: top;
	background-repeat: repeat;
  // pattern from https://philiprogers.com/svgpatterns/#honeycomb
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSJyZ2JhKDAsMCwwLDApIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0icmdiYSgwLCA5OCwgMTM3LCAxLjApIiBzdHJva2Utd2lkdGg9IjIiPjwvcGF0aD4KPHBhdGggZD0iTTI4IDBMMjggMzRMMCA1MEwwIDg0TDI4IDEwMEw1NiA4NEw1NiA1MEwyOCAzNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJyZ2JhKDAsIDk4LCAxMzcsIDEuMCkiIHN0cm9rZS13aWR0aD0iMiI+PC9wYXRoPgo8L3N2Zz4=");
  .page-title{
    color: $white !important;
  }
}



//News Feed
.homepage-feed--container{
  position: relative;
  display: block;
  width: 100%;
  float:left;
  // margin-bottom: 140px;
}
.homepage-feed{
  position: relative;
  display: block;
  width: calc(100% + 25px);
  margin-left: -(25px/2);
  margin-right: -(25px/2);
  float: left;
  @media (min-width: $bp-xlarge){
    width: calc((100% - 90px) + (25px/2));
    margin-left: 90px - (25px/2);
  }
  .slick-list{
    overflow: visible;
  }
  *:focus{
    outline: 0;
  }
  .slick-slide {
    margin: 0 12.5px;
    &:focus-visible {
      clip-path: none;
      outline: 8px solid $red;
    }
  }
  .homepage-feed--slide-title, .router-page--txt-title{
    margin-top: 0;
    margin-bottom: $base-margin/2;
    font-family: $font-stack-serif;
    font-size: 18px;
    line-height: (26/18);
    font-weight: 400;
  }
}
.homepage-feed--slide{
  background: $white;
  margin: 0 0 $base-margin;
  padding: 25px;
}

.homepage-feed--slide-img{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin-bottom: $base-margin/2;
}
.homepage-feed--slide-txt{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: (24/14);
  p{
    margin-bottom: $base-margin/2;
  }
}
.homepage-feed--slide-btn{
  margin-top: $base-margin/2;
  margin-bottom: $base-margin/2;
}
.homepage-feed--navigation{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: $base-margin;
  .homepage-feed--next,
  .homepage-feed--prev{
    display: inline-block;
  }
  .homepage-feed--next{
    position: absolute;
    top: 0;
    right: 0;
  }
  button{
		background-color: $blue-darker;
		border: 0;
		height: 40px;
		width: 40px;
    padding: 10px;
		margin: 0;
		svg{
			fill: $yellow;
		}
    &:hover{
      background-color: $blue-dark;
    }
		&:hover, &:focus{
			outline: 0;
			box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
			svg{
				fill: $yellow;
			}
		}
    &:focus-visible {
      outline: 6px solid $red;
    }
		&:active{
			outline: 0;
			@media (min-width: $bp-small){
				box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
			}
		}
	}
  .slick-disabled{
    button{
      opacity: 0.5;
      box-shadow: none;
      cursor: default;
      svg{
				fill: $white;
			}
      &:hover, &:focus, &:active{
        box-shadow: none;
        background-color: $blue-darker;
        svg{
  				fill: $white;
  			}
      }
    }
  }
}



//Homepage Router Links
.homepage-router-list{
  @include grid-column(12);
  margin-bottom: $base-margin;
  @media (min-width: $bp-medium){
    @include grid-column(7);
  }
  .homepage-router-list--title{
    margin-top: 0;
    margin-bottom: 25px;
    color: $white;
    font-weight: 300;
    font-size: 26px;
  }
  .column-half{
    margin-bottom: $base-margin;
    @media (min-width: $bp-medium){
      margin-bottom: 0;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    padding: 0;
    margin-bottom: 15px;
  }
  .btn{
    margin: 0;
  }
}
.homepage-twitter-feed{
  @include grid-column(12);
  background: #fff;
  padding: $base-margin/2 $base-margin/2 $base-margin;
  margin-bottom: $base-margin;
  @media (min-width: $bp-medium){
    @include grid-column(5);
  }
}
