/* ================================
   Logo Grid
   ================================ */
.logo-grid--container{

}
.logo-grid{
  position: relative;
  width: calc(100% + 30px);
  margin-right: -15px;
  margin-left: -15px;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-top: 0;
  li{
    width: calc(50% - 30px);
    margin: 0 $base-margin/2;
    margin-bottom: $base-margin/2;
    float: left;
    padding: 0;
    @media(min-width: $bp-large){
      width: calc(25% - 30px);
      margin: 0 $base-margin/2;
      margin-bottom: $base-margin/2;
      //display: table;
    }
  }
}
