/* ================================
   Media
   ================================ */

//Images

//OFFSETS (Images, Blockquotes)
.offset{
	margin-bottom: $base-margin !important;
	@media(min-width: $bp-small){
		margin-top: 10px !important;
		margin-bottom: $base-margin/2 !important;
	}
}
//Left offset
.left-offset, img.left, .alignleft, article.embedded-entity.align-left, p img{
	width: 100%;
	float: left;
	display: inline;
	transition: width 5ms linear !important;
	margin-bottom: 10px;
	text-align: center;
	@media(min-width: $bp-small){
		// @include grid-column(5);
		max-width: calc(33.333333% - 28.33333px);
		width: auto;
		margin-right: $base-margin;
		margin-left: 0;
	}
	img{
		@media(min-width: $bp-small){
			width: 100%;
		}
	}
	&.small{
		max-width: calc(25% - 25px);
	}
}

.embedded-entity.align-left {
    img {
        margin-bottom: 10px;
        margin-right: 20px;
    }
}

//Right offset
.right-offset, img.right, .alignright, article.embedded-entity.align-right{
	width: 100%;
	float: left;
	display: inline;
	transition: width 5ms linear !important;
	margin-bottom: 10px;
	text-align: center;
	@media(min-width: $bp-small){
		// @include grid-column(5);
		max-width: calc(33.333333% - 28.33333px);
		width: auto;
		float: right !important;
		margin-left: $base-margin;
		margin-right: 0;
	}
	img{
		@media(min-width: $bp-small){
			width: 100%;
		}
	}
	&.small{
		max-width: calc(25% - 25px);
	}
}

.embedded-entity.align-right {
    img {
        margin-bottom: 10px;
        margin-left: 20px;
    }
}

.media-full{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	margin-bottom: $base-margin;
	img{
		width: 100%;
	}
}
.media-full--container{
	position: relative;
	display: block;
	float: left;
	width: 100%;
}

//Image Caption
.image-caption, figcaption{
	font-size: 14px;
	background-color: $gray-light;
	color: $gray;
	display: inline-block;
	float: left;
	clear: both;
	padding: 8px 16px;
	text-align: left;
	p{
		margin: 0;
	}

}

.image-title{
	display: block;
	position: absolute;
	bottom: 20px;
	left: 0;
	padding: 10px 30px 10px 20px;
	background-color: gray;
	color: $white;
	&.red{
		background-color: $red;
	}
	&.green{
		background-color: $green;
	}
	&.purple{
		background-color: $purple;
	}
	p{
		margin: 0;
	}
}





//Videos
//Responsive (YouTube ratio)
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
