// Nav social

.nav--social{
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav--social-buttons .nav--social{
  li{
    display: inline-block;
    padding: 0;
    a, a:visited{
      position: relative;
      display: block;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
    }
  }
}
