// Nav Bar

$nav-bar-color: $red;
$current-page-border-size: 13px;
.nav-bar{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  background: $nav-bar-color;
  // border-top: 35px solid $white;
  .super-container,
  .super-contained{
    @media (max-width: $bp-small){
      overflow: auto;
      display: flex;
      flex-direction: row;
    }
  }
  a, a:visited{
    color: $white;
  }
}
.nav-bar--nav{
  position: relative;
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  width: auto;
  flex: 1 0 auto;
  @media(min-width: $bp-medium){
    margin: 0;
    width: 100%;

  }
  li{
    display: inline-block;
    padding: 0;
    margin-right: (16px - 4px); //4px added to LIs by browsers
    @media (min-width: $bp-medium){
      margin-right: (24px - 4px);
    }
    @media (min-width: $bp-large){
      margin-right: (36px - 4px);
    }
    &.current-page{
      a, a:visited{
        border-bottom: $current-page-border-size solid $white;
      }
    }
  }
  a, a:visited{
    display: inline-block;
    padding: 20px 5px (20px - $current-page-border-size);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: $current-page-border-size solid $nav-bar-color;
    &:hover, &:focus, &:active{
      background-color: $red-dark;
      border-bottom: $current-page-border-size solid $red-dark;
    }
    @media (min-width: $bp-medium){
        font-size: 16px;
        padding: 20px 15px (20px - $current-page-border-size);
    }
    @media (min-width: $bp-xlarge){
        font-size: 19px;
    }
  }
}
.nav-bar--cta{
  position: absolute;
  display: block;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  background-color: $nav-bar-color;
  margin: 0;
  @media (max-width: $bp-medium){
    display: none;
  }
  li{
    display: inline-block;
    padding: 0;
  }
  .btn{
    font-size: 16px;
    padding: 16px 20px;
    margin-bottom: 0;
  }
}
