.nav--side{

  @media (min-width: $bp-large){
    padding: 0 20px;
  }
  ul{
    list-style: none;
    margin: 0;
    li, ol{
      padding-left: 0;
    }
  }
  a, a:visited{
    position: relative;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    line-height: 1.45;
    &:hover, &:focus, &:active{
      text-decoration: underline;
      background-color: #f5f5f5;
    }
  }
  .nav--side-parent{
    a,a:visited{
      font-size: 16px;
      padding-left: 4px;
      &.current-page{
        font-weight: bold;
        color: #555555;
      }
    }
  }
  .nav--side-child{
    a,a:visited{
      font-size: 14px;
      border-left: 7px solid #D0D0D0;
      padding-left: 9px;
    }
  }
  .nav--side-grandchild{
    a,a:visited{
      border-left: 7px solid #B1B1B1;
      padding-left: 16px;
      &:before{
        content: "-";
        position: absolute;
        top: 8px;
        left: 10px;
      }
    }
  }
}


//Mobile Only
.nav--side--mobile-btn{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  font-size: 18px;
  padding: 20px 15px;
  @media (min-width: $bp-large){
    display: none;
  }
  &:after{
    content: "\f2f9";
    font-family: 'Material-Design-Iconic-Font';
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
  }
  &.open:after{
    content: "\f2fc";
  }
}
.nav--side--mobile-container{
  display: none;
  position: relative;
  width: 100%;
  float: left;
  &.open{
    display: block;
  }
  @media (min-width: $bp-large){
    display: block;
  }
}
