/* ================================
   Navigation
   ================================ */

#nav--full{
	z-index: 200;
	pointer-events: none;
	.nav--full-trigger{
		position: fixed;
		top: 15px;
		right: 20px;
		z-index: 300;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		pointer-events: all;
		@media (min-width: $bp-medium){
			right: 35px;
			top: 20px;
		}
		#nav--trigger{
			position: relative;
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			float: left;
			background-color: $red;
			margin: 0;
			padding: 0;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
			transition: box-shadow 150ms ease-in-out;
			&:hover, &:focus-visible{
				background-color: $red-dark;
				box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
			}
			&:focus-visible {
				outline: 2px solid $yellow;
			}
			&:active{
				box-shadow: 0px 1px 3px rgba(0,0,0,0.75);
			}
			&.open{
				&:hover, &:focus {
					background-color: #fff !important;
					.menu-line{
						background-color: #000 !important;
					}
				}
				&:focus {
					.menu-line{
						height: 3px;
					}
				}
			}
			.menu-icon {
			  position: absolute;
			  width: 20px;
			  height: 14px;
			  margin: auto;
			  left: 0;
			  top: 0;
			  right: 0;
			  bottom: 1px;
			}
			.menu-line {
			  background-color: #FFF;
			  height: 2px;
			  width: 100%;
			  border-radius: 2px;
			  position: absolute;
			  left: 0;
			  transition: all 200ms ease-in-out;
			}
			.menu-line-2 {
			  top: 0;
			  bottom: 0;
			  margin: auto;
			}
			.menu-line-3 {
			  bottom: 0;
			}
		}
	}
	.menu-circle-transition{
		background-color: $red;
		width: 50px;
		height: 50px;
		position: fixed;
		border-radius: 50%;
		transform: scale(1);
		z-index: 200;
		transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
		top: 15px;
		right: 20px;
		@media (min-width: $bp-medium){
			right: 35px;
			top: 20px;
		}
	}
	.nav--full-overlay{
		opacity: 0;
		background-color: $blue-darker;
	 	width: 100%;
	 	height: 100vh;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

	}
	//Open State
	&.open{
		pointer-events: all;
		#nav--trigger{
			background-color: #ffffff;
		}
		#search--trigger, .search--site-inner{
			transform: translateX(60px);
		}
		.nav--full-overlay{
			z-index: 200;
			animation: fadeIn 200ms ease-in-out forwards;
			animation-delay: 100ms;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			@media (min-width: $bp-menu-shift){
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
			}
			#nav--main-secondary{
				transform: translateX(0%);
			}
		}
		.menu-circle-transition{
			transform: scale(70);
			background-color: $blue-dark;
		}
		//Menu to X button
		.menu-line{
			background-color: $blue-dark !important;
		}
		.menu-line-1 {
			transform: translateY(7px) translateY(-50%) rotate(-45deg);
		}
		.menu-line-2 {
			opacity: 0;
		}
		.menu-line-3 {
			transform: translateY(-7px) translateY(50%) rotate(45deg);
		}
	}
}


//Search
.search--site-search{
	display: none;
	@media (min-width: $bp-small){
		display: block;
		position: absolute;
		top: 8px;
		right: 65px;
		color: $white;
		font-size: 20px;
		border-radius: 36px;
		height: 36px;
		transition: box-shadow 150ms ease-in-out;
	}

	//Open/close
	.search--site-inner{
		max-width: 36px;
		overflow: hidden;
		transition: all 200ms ease-in-out;
		border-radius: 36px;
		background-color: $gray-dark;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	}
	&.search-open{
		.search--site-inner{
			opacity: 1;
			max-width: 360px;
			opacity: 1;
		}
	}
	#search--main{
		position: relative;
		float: left;
		margin: 0 20px;
		input{
			width: (300px - 50px);
			margin-right: 50px;
			float: left;
			height: 36px;
			background-color: $gray-dark;
			border-color: $gray-dark;
			color: $white;
			padding: 0;

			&::placeholder {
				color: $yellow;
			}
		}
		button{
			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			float: left;
			width: 30px;
			height: 30px;
			margin: 3px;
			margin-right: 20px;
			padding: 0;
			background-color: $gray;
			color: $white;
			border-radius: 50%;
			&:hover, &:focus, &:active{
				background-color: $gray-dark;
			}
		}
	}


	#search--trigger{
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		float: left;
		margin: 0;
		padding: 0;
		background-color: $gray;
		color: $white;
		font-size: 20px;
		transition: all 200ms ease-in-out;
		&:hover, &:focus-visible, &:active{
			background-color: $gray-dark;
		}
		&:focus-visible {
			outline: 2px solid $yellow;
		}
		&:after{
			content: "\f1c3";
			display: inline-block;
			font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&.open {
			background-color: $gray-dark;
			&:hover, &:focus-visible, &:active{
				background-color: $gray-light;
				color: $gray-dark;
			}

			&::after {
				content: "\f136";
			}
		}
	}

	&.search-open {
		#search--main {
			button {
				background-color: $gray-dark;
				&:hover, &:focus-visible, &:active{
					background-color: $gray-light;
					color: $gray-dark;
				}
			}
		}	
	}
}


//Nav Pop out menu
.nav--main-body{
	width: 100%;
	float: left;
	@media (min-width: $bp-menu-shift){
		width: 60%;
		// flex: 1;
	}
	@media (min-width: 800px){
		width: 70%;
	}
	@media (min-width: $bp-xlarge){
		width: 80%;
	}
}
#nav--header{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	@media (min-width){
		margin-bottom: 43px;
	}
}
.nav--header-inner{
	padding: 20px;
	@media (min-width: $bp-medium){
		padding: 23px 36px 90px;
	}
}
.nav--header-logo{
	max-width: 190px;
	width: 55%;
	@media (min-width: $bp-medium){
		max-width: 223px;
	}
}

$mobile-search-size: 35px;
.nav--header-search{
	display: block;
	position: relative;
	width: 100%;
	float: left;
	padding: 11px 35px;
	@media (min-width: $bp-small){
		display: none;
	}
	.search--mobile{
		position: relative;
		display: block;
		width: calc(100% - 45px);
		margin-right: 10px;
		float: left;
		height: $mobile-search-size;
		border-radius: $mobile-search-size;
	}
	.search--mobile-btn{
		position: relative;
		display: block;
		width: $mobile-search-size;
		height: $mobile-search-size;
		border-radius: 50%;
		float: left;
		padding: 0;
		margin: 0;
		&:hover, &:focus, &:active{
			background-color: $white;
			color: #b4b4b4;
		}
	}
}

#nav--main{
	position: relative;
	display: block;
	list-style: none;
	background-color: $blue-darker;
	width: 100%;
	float: left;
	@media (min-width: 800px){
		@include grid-column(12);
	}
	@media (min-width: $bp-xlarge){
		@include grid-column(11);
		@include grid-push(1);
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li{
		display: block;
		padding: 0;
		ul{
			position: relative;
			@media (min-width: 800px){
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	.nav--main-li-level-1{
		.level-1--btn{
			background-color: #16354A;
			margin: 2px 0 0 0;
			border: 0;
			padding: 11px 35px;
			width: 100%;
			text-align: left;
			color: $cream;
			font-family: $font-stack-serif;
			font-size: 16px;
			line-height: 1.25;
			font-weight: bold;
			@media (min-width: 800px){
				width: 35%;
				margin: 0 0 6px 0;
				background-color: $blue-darker;
				padding: 11px 15px;
			}
			@media (min-width: 1200px){
				text-align: right;
				padding: 11px 35px;
				width: 24.5%;
			}
			&:hover{
				background-color: $blue;
				outline: none;
			}
			&:focus{
				outline: none;
				text-decoration: underline;
			}
			&:active{
				background-color: $red-dark;
				outline: none;
			}
			&[aria-expanded="true"]{
				background-color: $blue;
				color: $white;
				@media (min-width: $bp-menu-shift){
					background-color: $blue;
				}
	 			@media (min-width: 800px){
					background-color: $red;
				}
			}
		}
	}
	.level-2--ul{
		width: 100%;
		background-color: $blue-dark;
		padding: 7px 0;
		@media (min-width: $bp-menu-shift){
			background-color: $blue-dark;
			padding: 0;
		}
		@media(min-width: 800px){
			width: 65%;
			background-color: $blue-darker;
		}
		@media (min-width: 1200px){
			width: 75.5%;
		}
		a, a:visited{
			color: $white;
			text-decoration: none;
			font-size: 14px;
			line-height: 1.40740741;
			padding: 7px 35px;
			display: block;
			@media (min-width: 800px){
				font-size: 24px;
				padding: 11px 53px;
				font-weight: 300;
			}
			@media (min-width: 1200px){
				font-size: 27px;
				padding: 5px 53px;
			}
			&:hover, &:focus, &:active{
				text-decoration: underline;
			}
			&:focus-visible {
				outline: 1px solid $white;
			}
		}
	}
}




.level-2--ul[aria-hidden="false"] li{
	@media (min-width: 800px){
		animation: fadeLIup 300ms ease-in-out;
	}
}
//The animation
@keyframes fadeLIup {
	0% {
		opacity: 0;
		transform: translate3d(0, 15px, 0);
	}
	80%{
		opacity: 1;
	}
	100% {
		transform: none;
	}
}


#nav--main-secondary{
	background-color: $red;
	position: relative;
	display: block;
	list-style: none;
	width: 100%;
	float: left;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	@media (min-width: $bp-menu-shift){
		width: 40%;
		transform: translateX(100%);
		transition: transform 200ms ease-in-out;
		transition-delay: 200ms;
		padding-top: 94px;
		flex: 1 1 auto;
		// display: block;
	}
	@media (min-width: 800px){
		width: 30%;
		height: 100%;
	}
	@media (min-width: $bp-xlarge){
		width: 20%;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	a,a:visited{
		color: #fff;
	}
	a:focus-visible {
		outline: none;
	}
	.callouts{
		@media (min-width: $bp-menu-shift){
			display: flex;
			flex-wrap: wrap;
			height: 100%;
		}
		.btn-extreme{
			width: 100%;
			margin: 0;
			padding: 36px 30px;
			font-family: $font-stack-serif;
			color: #fff !important;
			font-size: 16px;
			font-weight: bold;
			@media (min-width: $bp-menu-shift){
				align-items: center;
				justify-content: center;
				display: flex;
				flex-wrap: wrap;
			}
			&:after{
				content: "\00BB";
				margin-left: 5px;
			}
			&.red-dark{
				background-color: $red-dark;
				&:hover, &:active, &:focus-visible{
					background-color: #28060b;
				}
			}
			&.red-darker{
				background-color: $red-darker;
				&:hover, &:active, &:focus-visible{
					background-color: #28060b;
				}
			}
		}
	}

}
.nav--main-secondary--full,
.nav--main-secondary--cta{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	background-color: $red;
	@media (min-width: $bp-menu-shift){

	}
}
.nav--main-secondary--full{
	order: 2;
	padding-top: 20px;
	@media (min-width: $bp-menu-shift){
		order: 1;
		padding-top: 0;
	}
}
.nav--main-secondary--cta{
	display: block;
	order: 1;
	@media (min-width: $bp-menu-shift){
		display: flex;
		flex-wrap: wrap;
		order: 2;
	}
}
.main-secondary--row{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	margin-bottom: $base-margin/2;
	&.contained{
		padding: 0 40px;
	}
	&:last-child{
		margin-bottom: $base-margin;
		@media (min-width: $bp-menu-shift){
			margin-bottom: 0;
		}
	}
}
.main-secondary--callout-btn{
	li{
		padding: 0;
	}
	.btn{
		width: 100%;
		margin-bottom: 7px;
		padding: 10px;

		&:focus-visible {
			background-color: #28060b;
		}
	}
}
.main-secondary--link-list{
	font-size: 14px;
	li{
		margin-bottom: 7px;
		padding: 0;
	}
	a, a:visited{
		text-decoration: none;
		&:hover, &:focus, &:active{
			text-decoration: underline;
		}
	}
}
.main-secondary--social{
	margin-bottom: $base-margin;
	a, a:visited{
		background-color: $red-dark;
		transition: background-color .2s ease;
		&:hover, &:focus, &:active{
			background-color: $red-darker;
		}
		&:focus-visible {
			background-color: #28060b;
		}
	}
}



//Disable body scroll when menu open
.disable-scroll{
	overflow: hidden;
}
