/* ================================
   Profile
   ================================ */

.profile-row{
	@include grid-collapse;
	@include grid-container;
	margin-bottom: $base-margin;
	text-align: center;
	@media (min-width: $bp-medium){
		text-align: left;
	}
	.background-white & {
		border-bottom: 5px solid #F4F4F4;
		padding-bottom: 30px;
	}
}
.profile-row--img{
	@include grid-column(7);
	@include grid-push(2.5);
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: $base-margin;
	@media (min-width: $bp-medium){
		@include grid-column(3);
		margin-bottom: 0;
	}
}
.profile-row--txt{
	@include grid-column(12);
	@media (min-width: $bp-medium){
		@include grid-column(8.5);
		@include grid-push(0.5);
	}
	.background-blue-dark &{
		color: $white;
	}
}
.profile-row--name-area{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	margin-bottom: $base-margin/2;
}
.profile-row--name,
.profile-row--title{
	margin: 0;
	font-weight: bold;
}
.profile-row--title{
	@media (max-width: $bp-medium){
		font-size: 18px;
	}
}
.profile-row--blurb{
	display:none;
	&.open{
		display: block;
	}
	@media (min-width: $bp-medium){
		position: relative;
		display: block;
		width: 100%;
		float: left;
		display: block;
		p{
			margin-bottom: 15px;
		}
	}
}
.profile-row--trigger{
	display:inline-block;
	text-align: center;
	background-color: transparent;
	color: $white;
	text-decoration: underline;
	font-family: $font-stack-sans;
	&:hover, &:focus, &:active{
		background-color: transparent;
	}
	&:before{
		content: "Read Bio";
	}
	&.open:before{
		content: "Close Bio";
		color: $cream;
	}
	@media (min-width: $bp-medium){
		display: none;
	}
}

.background-blue-dark .profile-row {
    a,
    a:visited {
        color: $white;
    }
    a:hover {
        text-decoration: none;
    }
}


.faculty-carousel {
	margin-top: calc(4rem + 65px);
	margin-bottom: 8rem;

	@media (min-width: $bp-xlarge) {
		display: flex;
		flex-flow: row wrap;
	}

	button.slick-arrow {
		// clip-path: circle();
		background-color: $blue-dark;
		color: $white;
		position: absolute;
		top: -65px;
		z-index: 1;

		&.slick-prev {
			left: 0;
		}
		&.slick-next {
			right: 0;
		}

		svg {
			fill: $white;
			height: 1rem;
		}

		&:hover {
			color: $yellow;
			background-color: $blue;
		}
	}

	.slick-list {
		margin: auto;
		// width: 75%;
		@media (min-width: $bp-xlarge) {
			// width: 85%;
		}
	}

	.slick-slide > div {
		@media (min-width: $bp-medium) {
			margin: 15px;

			.profile-block {
				margin: 0;
			}
		}
	}
}

.faculty-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	@media (min-width: $bp-medium) {
		justify-content: flex-start;
	}

	.profile-block {
		color: $white;
		&--txt {
			&--name {
				color: $white;
			}
			&--link {
				color: $yellow;
				transition: color .2s;
				&:hover {
					color: $white;
				}

				&:focus-visible {
					outline: 1px solid $yellow;
				}
			}
		}
		&--img {
			img {
				border-radius: 0;
			}
		}

		@media (min-width: $bp-medium) {
			width: calc(33.33% - 30px);
			margin: 15px;
		}
		@media (min-width: $bp-large) {
			width: calc(25% - 30px);
			margin: 15px;
		}

		@media (min-width: $bp-xlarge) {
			width: calc(16.66% - 30px);
			margin: 15px;
		}
	}
}

.profile-block {
	width: 80%;
	@media (min-width: $bp-medium) {
		width: calc(50% - 30px);
		margin: 15px;
	}
	@media (min-width: $bp-large) {
		width: calc(33.33% - 30px);
		margin: 15px;
	}
	@media (min-width: $bp-xlarge) {
		width: calc(25% - 30px);
		margin: 15px;
	}

	&--img {
		img {
			border-radius: 50%;
		}
	}

	&--txt {
		margin: 1rem 0;
		text-align: center;
		&--name {
			color: $blue-dark;
			font-family: $font-stack-serif;
			font-size: 1.5rem;
			font-weight: 400;
			margin-bottom: 1rem;
		}
		&--title,
		&--department,
		&--link {
			display: block;
		}
	}

	&.key-faculty {
		.profile-block--txt {
			&--name,
			&--title,
			&--department {
				color: $white
			}
			&--link {
				color: $yellow;
				transition: color .2s;

				&:hover {
					color: $white;
				}
				&:focus-visible {
					outline: 1px solid $yellow;
				}
			}

			&--title {
				margin: .5rem;
			}
		}
		.profile-block--img {
			img {
				margin: auto;
				width: 85%;
			}
		}
	}
}

.alumni-testimonials-carousel {
	margin-top: calc(4rem + 65px);
	margin-bottom: 10rem;

	button.slick-arrow {
		background-color: $blue-darker;
		color: $white;
		position: absolute;
		top: -65px;
		z-index: 1;

		&.slick-prev {
			left: 0;
		}
		&.slick-next {
			right: 0;
		}

		svg {
			fill: $white;
			height: 1rem;
		}

		&:hover {
			color: $yellow;
			background-color: $blue;
		}
	}

	.alumni-profile-row {
		background-color: $white;
		@media (min-width: $bp-medium) {
			flex-flow: row;
			&--img {
				background-color: $blue-darker;
				width: 50%;
				img {
					object-fit: contain;
				}
			}
			&--txt {
				width: 50%;
			}
		}
		@media (min-width: $bp-xlarge) {
			flex-flow: row;
			&--img {
				width: 40%;
				img {
					object-fit: cover;
				}
			}
			&--txt {
				width: 60%;
			}
		}
	}
}

.alumni-form-selector select {
	appearance: none;
	background-color: $cream;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
	background-position: 97.5% 50%;
	background-repeat: no-repeat;
	border-radius: 1rem;
	margin: 1rem auto 10rem;

	option {
		background-color: $cream;
	}
}

.alumni-profile-row {
	display: flex;
	flex-flow: column;
	margin-bottom: 1.5rem;

	&--img {
		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&--txt {
		background-color: $white;
		padding: 1rem;

		&--heading {
			margin-bottom: 1rem;
		}

		&--name {
			color: $blue-dark;
			font-family: $font-stack-serif;
			font-size: 1.75rem;
			margin-bottom: .75rem;
		}
		&--title,
		&--corporation,
		&--class {
			font-size: 1.5rem;
			display: block;
			line-height: 1.2;
		}

		.title {
			font-weight: bold;
		}
	}

	@media (min-width: $bp-large) {
		flex-flow: row;
		margin-bottom: 0;
		&:nth-child(even) {
			.alumni-profile-row--img {
				order: 1;
			}
		}
		&--img {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
		&--txt {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 1rem 3rem;
			width: 50%;

			
		}
	}
}