/* ================================
   Routers
   ================================ */

//Router List
.router-list--container{
	@include grid-container;
	@include grid-collapse;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.router-list--column-third{
	@include grid-column(12);
	@media (min-width: $bp-small){
		@include grid-column(6);
	}
	@media (min-width: $bp-medium){
		@include grid-column(4);
	}
}
.router-list--section{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	border-top: 5px solid #F4F4F4;
	padding: 1rem 0;
	margin-bottom: 1rem;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li{
		margin-bottom: $base-margin/2;
		padding: 0;
		line-height: 1.5;
	}
}
.router-list--title{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #333333;
	margin: 0 0 1rem 0;
}


//Router Row
.router-row--container{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	background-color: white;
	padding: 30px;
	margin-bottom: 5px;
}
.router-row{
	@include grid-container;
	@include grid-collapse;
	// display: flex;
	// flex-wrap: wrap;
	// align-items: center;
}
.router-row--icon{
	width: 89px;
	margin: 0 auto $base-margin;
	@media (min-width: $bp-small){
		@include grid-column(4);
	}
	@media (min-width: $bp-medium){
		@include grid-column(3);
	}
	@media (min-width: $bp-large){
		@include grid-column(1.5);
	}
}
.router-row--txt{
	@include grid-column(12);
	font-size: 15px;
	text-align: center;
	@media (min-width: $bp-small){
		@include grid-column(8);
		text-align: left;
	}
	@media (min-width: $bp-medium){
		@include grid-column(9);
	}
	@media (min-width: $bp-large){
		@include grid-column(10.5);
	}
}
.router-row--title{
	margin: 0 0 5px;
}
.router-row--blurb{
	margin: 0;
}




//Router Page
.router-page-bg{
	padding-top: 0px;
	.page-top{
		padding-top: 260px;
	}
}
.router-page--container{
	@include grid-container;
	@include grid-collapse;
	display: flex;
	flex-wrap: wrap;
	.vue-content{
		display: flex;
		flex-wrap: wrap;
	}
	//Rows
	.router-page--row{
		position: relative;
		display: block;
		@include grid-column(12);
		float: left;
		margin-bottom: 32px;
		&.with-image{
			display: flex;
			flex-wrap: wrap;
			.router-page--row-img{
				width: 100%;
				padding-bottom: 67.76%;
				float: left;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				@media (min-width: $bp-medium){
					width: 37%;
					padding-bottom: 0;
				}
			}
			.router-page--row-txt{
				width: 100%;
				float: left;
				@media (min-width: $bp-medium){
					width: 63%;
				}
			}
		}
	}
	//Blocks
	.router-page--block{
		@include grid-column(12);
		margin-bottom: 32px;
		@media (min-width: $bp-medium){
			@include grid-column(6);
			display: flex;
			flex-wrap: wrap;
		}
	}
	//Text Styles
	.router-page--txt{
		position: relative;
		display: block;
		width: 100%;
		float: left;
		padding: 45px 35px;
		background-color: $white;
	  color: $primary-text-color;
	}
	.router-page--txt-title{
		color: $red;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.router-text--links {
		margin: 30px 0;
	}

}
