/* ================================
   Side Navigation
   ================================ */
#expanding-side-nav{
  margin-bottom: $base-margin;
}
.expanding-side-menu,
.expanding-side-menu > ul ul {
    clear: both;
    transition: max-height 0.3s ease-in-out;
}
.js .expanding-side-menu,
.js .expanding-side-menu > ul ul {
    overflow: hidden;
    max-height: 0;

}
.expanding-side-menu.active,
.js .expanding-side-menu > ul ul.active {
    max-height: 555em;
}

.expanding-side-menu li{
  position: relative;
}

.expanding-side-menu ul li a {
    display: block;
    padding: $base-margin/2;
    position: relative;
}

#expanding-side-nav ul,
#expanding-side-nav ol,
#expanding-side-nav ul li a{
    list-style: none !important;
    position: relative;
    margin: 0;
}

//Level colors
.level-1{
  background: $gray-light;
}
.level-2{
  background: $gray-medium;
}
.level-3{
  background: $gray-dark;
}
.level-4{
  background: $gray-light;
}
.level-5{
  background: $gray-medium;
}
.level-6{
  background: $gray-dark;
}



//Drop down +/-
.side-more-link{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  text-align: center;
  background: rgba($white, 0.20);
  cursor: pointer;
  &:hover{
    background: rgba($black, 0.15);
  }
}

.side-more-link:focus{
  outline-color: rgba(#ffffff,0.1);
  outline-width: 0px;
}

.side-more-link:after {
    content: "\f275";
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;

    line-height: $base-line-height;
    padding: $base-margin/2;
}
.side-more-link.active:after {
    content: "\f270";
}




//Current page li
.current-page{
  background: #333 !important;
  a{
    color: $white;
  }
}
