.column--small--callout-button{
  background: #F4F4F4;
  padding: $base-margin;
  li{
    padding-left: 0;
  }
  .btn-callout{
    min-width: 100px;
    width: 100%;
  }
}

.column--small--island{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin-bottom: $base-margin;
}
