/* ================================
   Tabs
   ================================ */
.tabbed-content {
    position: relative;
    display: block;
    width: 100%;
    float: left;
    .tabs-list {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        .tab {
            background-color: $red;
            color: $white;
            display: inline-block;
            font-family: $font-stack-sans;
            font-size: 1em;
            font-weight: 600;
            margin: 0;
            padding: 1.25em;
            position: relative;
            text-align: center;
            text-decoration: none;
            height: 100%;
            width: 100%;
            z-index: 3;

            &:hover, &:focus-visible {
                background-color: $red-dark;
                opacity: 1;
            }

            &:not(:first-of-type):not(:last-of-type) {
                margin: 10px 0;
                @media (min-width: $bp-small) {
                    margin: 0 10px;
                }
            }

            &.selected {
                background-color: $blue-dark;
                opacity: 1;
                &:after {
                    @media (min-width: $bp-small) {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 60px;
                        width: 0;
                        height: 0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid $blue-dark;
                        clear: both;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            @media (min-width: $bp-small){
                width: auto;
            }
        }


        li {
            background-color: $red;
            list-style-type: none;
            text-align: center;
            display: block;
            position: relative;
            opacity: .7;
            width: 100%;
            padding: 0;
            transition: all .3s ease;
            z-index: 99;
            &:not(:first-of-type):not(:last-of-type) {
                margin: 10px 0;
                @media (min-width: $bp-small) {
                    margin: 0 10px;
                }
            }
            &:hover {
                background-color: $red-dark;
                opacity: 1;
            }
            @media (min-width: $bp-small){
                display: inline-block;
                width: auto;
            }
            &.current {
                background-color: $blue-dark;
                opacity: 1;
                &:after {
                    @media (min-width: $bp-small) {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 60px;
                        width: 0;
                        height: 0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid $blue-dark;
                        clear: both;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            &.current a, &:hover a, &:focus a {
                color: #fff;
            }
            
        }
    }
    .tab-panel {
        display: none;
        float: left;
        opacity: 0;
        width: 100%;
        animation-delay: 1s;
        animation: fadeIn .5s;
        &.current {
            clear: both;
            display: block;
            padding: 2em 1em 1em 1em;
            border: 1px solid #ccc;
            opacity: 1;
        }
        .tabs-col-img {
            img {
                width: 100%;
            }
            @media (min-width: $bp-medium) {
                @include grid-column(5);
            }
            &.wide {
                @include grid-column(12);
                text-align: center;
            }
        }
        .tabs-col-content {
            @media (min-width: $bp-medium) {
                @include grid-column(6);
                @include grid-push(1);
            }
            &.wide {
                @include grid-column(12);
            }
            ul {
                list-style: none;
                margin: 0;
            }
            .column-half {
                @media (min-width: $bp-small) {
                    @include grid-column(6);
                }
            }
            .column-third {
                @media (min-width: $bp-small) {
                    @include grid-column(6);
                }
                @media (min-width: $bp-medium) {
                    @include grid-column(4);
                }
            }
        }
    }
}
