/* ================================
   Typography -- Custom
   ================================ */
.page-title{
  margin: 0 0 35px;
}
.intro-text{
  font-size: 20px;
  line-height: 1.75;
}

//Arrow after link
.more-link, .more-link:visited{
  text-decoration: none;
  color: $blue;
}
.more-link:after{
  content: "\00bb";
  display: inline-block;
  padding-left: 5px;
  transition: transform 200ms ease-in-out;
}
.more-link:hover:after{
  transform: translateX(10px);
}


//General Text Classes
.white-text-color{
  color: $white !important;
}
.black-text-color{
  color: $black !important;
}
.blue-text-color{
  color: $blue !important;
}
.red-text-color{
  color: $red !important;
}
.font-family-serif{
  font-family: $font-stack-serif !important;
}
.font-family-sans{
  font-family: $font-stack-sans !important;
}
.font-family-mono{
  font-family: $font-stack-mono !important;
}


.no-margin-top{
  margin-top: 0;
}
.no-margin-bottom{
  margin-bottom: 0;
}



blockquote{
  margin: $base-margin 0;
  padding: 0;
  border: 0;
  position: relative;
  display: block;
  p, q{
    display: block;
    font-family: $font-stack-serif;
    color: $red;
    font-style: italic !important;
    font-size: 24px;
    line-height: 1.72413793;
    font-weight: 400;
    quotes: "\201C""\201D""\2018""\2019";
    margin-bottom: 0.5rem;
    &:before{
      content: open-quote;
      margin-left: -18px;
      padding-right: 5px;
    }
    &:after{
      content: close-quote;
    }
  }
  cite, .cite{
    display: block;
    margin: 0;
    font-style: normal;
  }
}

//Indented Text
.indent, .indented{
  padding-left: $base-margin;
}


//Accessiblity Error Corrections
.screen-reader-text{
  color: $white;
  background: $black;
}
video{
  color: $white;
}
