<div id="alert" class="active">
  <div class="alert-inner">
    <p><strong>This is an alert.</strong> Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. <a href="/">Sed posuere consectetur est at lobortis.</a></p>
    <a id="alert--dismiss" href="#" nofollow>
      <span class="screen-reader-text">Dismiss</span>
      <i class="zmdi zmdi-close-circle"></i>
    </a>
  </div>
</div>
<script>
  document.getElementById('alert--dismiss').addEventListener('click', function(){
    document.getElementById('alert').classList.remove("active");
  });
</script>
