<div id="blockchain" class="blockchain accordion">
    <div id="step1" class="blockchain-part banking">
        <div class="blockchain-image">
            <a href="#accordion1" id="accordion2title" class="is-collapsed js-accordionTrigger" aria-expanded="false" aria-controls="accordion1" role="button">
                <span class="screen-reader-text">Banking and Finance</span>
                <%= image_tag 'blockchain/blockchain-item.svg', :class=>"closed", :alt => 'Blockchain item closed' %>
                <%= image_tag 'blockchain/blockchain-item-open.svg', :class=>"open", :alt => 'Blockchain item open' %>
                <h2>Banking & Finance</h2>
            </a>
        </div>
        <div id="accordion1" class="blockchain-text accordion-content accordionItem is-collapsed" role="region" aria-labelledby="accordion1title">
            <div class="blockchain-text-inner contained-narrow">
                <p>Over $600 million are currently locked up in decentralized finance platforms, and this number is expected to exceed $1 billion by summer. The financial sector has seen the highest growth with blockchain technology. It allows customer identity and data to be managed privately and the transparency of the system makes it easy for anyone to audit the database.</p>
            </div>
        </div>
    </div>
    <div id="step2" class="blockchain-part education">
        <div class="blockchain-image">
            <a href="#accordion2" id="accordion2title" class="is-collapsed js-accordionTrigger" aria-expanded="false" aria-controls="accordion2" role="button">
                <span class="screen-reader-text">Education</span>
                <%= image_tag 'blockchain/blockchain-item.svg', :class=>"closed", :alt => 'Blockchain item closed' %>
                <%= image_tag 'blockchain/blockchain-item-open.svg', :class=>"open", :alt => 'Blockchain item open' %>
                <h2>Education</h2>
            </a>
        </div>
        <div id="accordion2" class="blockchain-text accordion-content accordionItem is-collapsed" role="region" aria-labelledby="accordion2title">
            <div class="blockchain-text-inner contained-narrow">
                <p>53,000 students and 3,100 educators had personal information exposed due to a data breach at the company that handles K-8 assessments in Illinois. Using blockchain to secure student data makes data breaches that go after student information is a thing of the past. This technology can also be used to safeguard and verify student transcripts.</p>
            </div>
        </div>
    </div>
    <div id="step3" class="blockchain-part government">
        <div class="blockchain-image">
            <a href="#accordion3" id="accordion3title" class="is-collapsed js-accordionTrigger" aria-expanded="false" aria-controls="accordion3" role="button">
                <span class="screen-reader-text">Government</span>
                <%= image_tag 'blockchain/blockchain-item.svg', :class=>"closed", :alt => 'Blockchain item closed' %>
                <%= image_tag 'blockchain/blockchain-item-open.svg', :class=>"open", :alt => 'Blockchain item open' %>
                <h2>Government & Security</h2>
            </a>
        </div>
        <div id="accordion3" class="blockchain-text accordion-content accordionItem is-collapsed" role="region" aria-labelledby="accordion3title">
            <div class="blockchain-text-inner contained-narrow">
                <p>The Department of Homeland Security (DHS) requested a total of $1.92 billion for its cybersecurity budget. This budget includes funding for DHS projects advancing cryptology based on blockchain technologies to create virtually unhackable data encryption to secure the Internet of Things.</p>
            </div>
        </div>
    </div>
    <div id="step4" class="blockchain-part healthcare">
        <div class="blockchain-image">
            <a href="#accordion4" id="accordion4title" class="is-collapsed js-accordionTrigger" aria-expanded="false" aria-controls="accordion4" role="button">
                <span class="screen-reader-text">Healthcare and Life Science</span>
                <%= image_tag 'blockchain/blockchain-item.svg', :class=>"closed", :alt => 'Blockchain item closed' %>
                <%= image_tag 'blockchain/blockchain-item-open.svg', :class=>"open", :alt => 'Blockchain item open' %>
                <h2>Healthcare & Life Science</h2>
            </a>
        </div>
        <div id="accordion4" class="blockchain-text accordion-content accordionItem is-collapsed" role="region" aria-labelledby="accordion4title">
            <div class="blockchain-text-inner contained-narrow">
                <p>55% of healthcare applications will have adopted blockchain for commercial deployment by 2025. This secures patient records and allows patients to give permission to whoever they want to have access to their information.</p>
            </div>
        </div>
    </div>
    <div id="step5" class="blockchain-part politics">
        <div class="blockchain-image">
            <a href="#accordion5" id="accordion5title" class="is-collapsed js-accordionTrigger" aria-expanded="false" aria-controls="accordion5" role="button" class="is-collapsed js-accordionTrigger">
                <span class="screen-reader-text">Politics</span>
                <%= image_tag 'blockchain/blockchain-item.svg', :class=>"closed", :alt => 'Blockchain item closed' %>
                <%= image_tag 'blockchain/blockchain-item-open.svg', :class=>"open", :alt => 'Blockchain item open' %>
                <h2>Politics</h2>
            </a>
        </div>
            <div id="accordion5" class="blockchain-text accordion-content accordionItem is-collapsed" role="region" aria-labelledby="accordion5title">
            <div class="blockchain-text-inner contained-narrow">
                <p>Implementing blockchain to secure ballot boxes would lower government costs per single vote from an average of $9.50 to just $0.50 per vote. A blockchain-based platform was used in a test project for mobile voting in West Virginia. Not only are these systems cost-cutting, but they also eliminate problems with voter fraud.</p>
        </div>
    </div>
</div>