<ul class="breadcrumbs">
	<li class="breadcrumbs--home-icon" aria-hidden="true">
		<%= image_tag "capitol-logo--breadcrumb.png" %>
	</li>
	<li><a href="/" alt="/" title="/">Home</a></li>
	<li><a href="/" alt="/" title="/">Router</a></li>
	<li><a href="/" alt="/" title="/">Degree</a></li>
	<li><a href="/" alt="/" title="/">Major</a></li>
</ul>
