<div class="carousel-double">
	<div class="carousel-double--prev">
		<button>
			<svg class="arrow-prev" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 65,95 L 20,50  L 65,5 L 60,0 Z" class="arrow"></path></svg>
			<span class="screen-reader-text">Previous Slide</span>
		</button>
	</div>
	<div class="carousel-double--img-container">
		<div class="carousel-double--img">
			<div class="slide">
				<%= image_tag "placeholder-landscape.png" %>
			</div>
			<div class="slide">
				<%= image_tag "placeholder-landscape.png" %>
			</div>
			<div class="slide">
				<%= image_tag "placeholder-landscape.png" %>
			</div>
			<div class="slide">
				<%= image_tag "placeholder-landscape.png" %>
			</div>
			<div class="slide">
				<%= image_tag "placeholder-square.png" %>
			</div>
		</div>
	</div>
	<div class="carousel-double--txt-container">
		<div class="carousel-double--txt">
		  <div class="slide">
			  <h3 class="carousel-double--title">Text Block 1</h3>
			  <p>Nulla vitae elit libero, a pharetra augue.</p>
			</div>
		  <div class="slide">
			  <h3 class="carousel-double--title">Text Block 2</h3>
			  <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			</div>
		  <div class="slide">
			  <h3 class="carousel-double--title">Text Block 3 Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
			  <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			</div>
		  <div class="slide">
			  <h3 class="carousel-double--title">Text Block 4</h3>
			  <p>Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
			</div>
		  <div class="slide">
			  <h3 class="carousel-double--title">Text Block 5</h3>
			  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
			</div>
		</div>
		<span class="pagingInfo"></span>
	</div>
	<div class="carousel-double--next"><button>
		<svg class="arrow-next" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 65,95 L 20,50  L 65,5 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
		<span class="screen-reader-text">Next Slide</span></button></div>
</div>
