
<footer id="footer">
  <div class="footer-main">
    <div class="footer-main--left">
      <div class="footer-row">
        <div class="footer-column">
          <h2 class="footer-column--title">Column Title</h2>
          <ul class="footer-column--list clean">
            <li><a href="/" alt="">My Capitol</a></li>
            <li><a href="/" alt="">Puente Library</a></li>
            <li><a href="/" alt="">Campus Store</a></li>
            <li><a href="/" alt="">Maps / Directions</a></li>
            <li><a href="/" alt="">Policies</a></li>
            <li><a href="/" alt="">Employment</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h2 class="footer-column--title">Column Title</h2>
          <ul class="footer-column--list clean">
            <li><a href="/" alt="">Request Information</a></li>
            <li><a href="/" alt="">Apply Online</a></li>
            <li><a href="/" alt="">Schedule a Visit</a></li>
            <li><a href="/" alt="">Directory</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h2 class="footer-column--title">Column Title</h2>
          <div class="footer-column--list">
            <div class="footer-social nav--social-buttons">
              <%= partial "custom/nav-social" %>
            </div>
          </div>
          <a href="/" alt="">An accredited private non-profit University.</a>
        </div>
      </div>
    </div>
    <div class="footer-main--right">
      <div class="">
        <div class="footer-address-container">
          <div class="footer-icon">
            <%= image_tag "capitol-logo--footer.png", :alt=>'' %>
          </div>
          <div class="footer-address">
            <div class="vcard address">
              <span class="address-title">Lorem Ipsum Schoolum</span>
              <div class="adr">
                <span class="street-address display-block">One University Ave</span>
                <span class="region">Lorem, IM</span>
                <span class="postal-code">XXXXX</span>
                <span class="tel display-block">800.XXX.XXXX</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer-post">
    <div class="contained">
      <div class="footer-post--top">
        <div class="footer-post--pin">
          <%= image_tag "capitol--map-pin.png", :alt => '' %>
        </div>
        <div class="footer-post--pin-text">
          <p>Located in Greater Washington, D.C.</p>
        </div>
      </div>
      <div class="footer-post--bottom">
        <p>&copy; 2018 Capitol Technology University</p>
      </div>
    </div>
  </div>
</footer>
