<header id="header">
	<div class="header--logo">
		<a class="header--logo-link" href="/" aria-label="Return to homepage">
			<div class="header--logo-img">
				<%= image_tag "capitol-logo--color.png", :alt=>"Capitol Technology University Logo" %>
			</div>
			<div class="header--logo-icon">
				<%= image_tag "capitol-logo--sheild.png", :alt=>"" %>
			</div>
		</a>
	</div>
</header>
