<div class="logo-grid--container">
  <ul class="logo-grid">
    <li>
      <a href="" alt="" title="">
        <img src="http://placehold.it/200x75" alt="" title="">
      </a>
    </li>
    <li>
      <a href="" alt="" title="">
        <img src="http://placehold.it/200x100" alt="" title="">
      </a>
    </li>
    <li>
      <a href="" alt="" title="">
        <img src="http://placehold.it/200x100" alt="" title="">
      </a>
    </li>
    <li>
      <a href="" alt="" title="">
        <img src="http://placehold.it/200x75" alt="" title="">
      </a>
    </li>
    <li>
      <a href="" alt="" title="">
        <img src="http://placehold.it/200x100" alt="" title="">
      </a>
    </li>
    <li>
      <a href="" alt="" title="">
        <img src="http://placehold.it/200x75" alt="" title="">
      </a>
    </li>
    <li>
      <a href="" alt="" title="">
        <img src="http://placehold.it/200x75" alt="" title="">
      </a>
    </li>

  </ul>
</div>
