<ul class="nav--social">
  <li>
    <a href="/" alt="">
      <span class="zmdi zmdi-facebook">
        <span class="screen-reader-text">Facebook</span>
      </span>
    </a>
  </li>
  <li>
    <a href="/" alt="">
      <span class="zmdi zmdi-twitter">
        <span class="screen-reader-text">Twitter</span>
      </span>
    </a>
  </li>
  <li>
    <a href="/" alt="">
      <span class="zmdi zmdi-youtube">
        <span class="screen-reader-text">YouTube</span>
      </span>
    </a>
  </li>
  <li>
    <a href="/" alt="">
      <span class="zmdi zmdi-google-plus">
        <span class="screen-reader-text">Google+</span>
      </span>
    </a>
  </li>
</ul>
