<div class="nav-bar" role="navigation" aria-label="internal links">
  <div class="super-contained">
    <ul class="nav-bar--nav">
      <li class="current-page"><a href="#section-1" alt="">Skills</a></li>
      <li><a href="#section-2" alt="">Opportunities</a></li>
      <li><a href="#section-3" alt="">Requirements</a></li>
    </ul>
    <ul class="nav-bar--cta clean">
      <li><a class="btn btn-alternative" href="/" alt="">Request Information</a></li>
      <li><a class="btn btn-alternative" href="/" alt="">Apply</a></li>
    </ul>
  </div>
</div>
