<div id="nav--full" role="navigation">

	<div class="nav--full-trigger">
		<div class="search--site-search">
			<div class="search--site-inner">
				<div id="search--main">
					<input id="site-search-input" type="search" name="search" tabindex="-1" aria-label="search the site" placeholder="Enter search terms" />
					<button tabindex="-1"><span class="zmdi zmdi-arrow-right"><span class="screen-reader-text">Search Submit</span></span></button>
				</div>
			</div>
			<button class="toggle-tabindex" id="search--trigger" aria-label="Open Search Input" tabindex="0">
				<span class="screen-reader-text">Search Open and Close</span>
			</button>
		</div>
		<button id="nav--trigger" class="trigger block-scroll" rel="nav--full" tabindex="0">
			<span class="menu-icon">
	      <span class="menu-line menu-line-1"></span>
	      <span class="menu-line menu-line-2"></span>
	      <span class="menu-line menu-line-3"></span>
				<spand class="screen-reader-text">Menu Open</span>
	    </span>

		</button>
	</div>

	<div class="nav--full-overlay">
		<div class="nav--main-body">
			<div id="nav--header">
				<div class="nav--header-inner">
					<div class="nav--header-logo">
						<%= image_tag "capitol-logo--mono.png", :alt=>"Capitol Technology University Logo" %>
					</div>
				</div>
			</div>
			<div class="nav--header-search">
				<input id="site-search-input-mobile" class="search--mobile toggle-tabindex" type="search" name="search" tabindex="-1">
				<button class="search--mobile-btn toggle-tabindex" tabindex="-1">
					<span class="zmdi zmdi-search"><span class="screen-reader-text">Search Submit</span></span>
				</button>
			</div>
			<div id="nav--main" class="triggered-area">
				<ul class="nav--main-ul-level-1">
				<li class="nav--main-li-level-1">
					<button class="level-1--btn toggle-tabindex" aria-controls="content-a" aria-expanded="true" id="accordion-control-a" tabindex="-1">Degrees and Programs</button>
					<ul class="level-2--ul" aria-hidden="false" id="content-a">
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Aenean Mollis Nibh</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Vehicula Fermentum</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Elit Magna Cursus</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Ligula Porta</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Cras Mollis Ullamcorper Ridiculus Condimentum Vulputate Ridiculus Amet Mattis</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Malesuada</a></li>
					</ul>
				</li>
				<li class="nav--main-li-level-1">
					<button class="level-1--btn toggle-tabindex" aria-controls="content-b" aria-expanded="false" id="accordion-control-b" tabindex="-1">Sollicitudin</button>
					<ul class="level-2--ul" aria-hidden="true" id="content-b">
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Tortor Ultricies Vestibulum Risus</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Purus Sem Vestibulum Fusce</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Condimentum Sollicitudin Amet</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Venenatis Parturient</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Malesuada Pharetra Fermentum</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Fermentum Mollis Ullamcorper Commodo Fringilla</a></li>
					</ul>
				</li>
				<li class="nav--main-li-level-1">
					<button class="level-1--btn toggle-tabindex" aria-controls="content-c" aria-expanded="false" id="accordion-control-c" tabindex="-1">Elit Vestibulum</button>
					<ul class="level-2--ul" aria-hidden="true" id="content-c">
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Ligula Ipsum Sit Mollis</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Ligula Quam Lorem Sit Ultricies</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Sollicitudin Euismod Lorem</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Pellentesque Nibh Adipiscing</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Purus</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Vestibulum Mollis</a></li>
					</ul>
				</li>
				<li class="nav--main-li-level-1">
					<button class="level-1--btn toggle-tabindex" aria-controls="content-d" aria-expanded="false" id="accordion-control-d" tabindex="-1">Purus</button>
					<ul class="level-2--ul" aria-hidden="true" id="content-d">
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Magna Euismod Aenean</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Fermentum Quam Vehicula Fringilla Sollicitudin</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Risus Porta Mattis</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Parturient Quam Purus Fermentum Amet</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Malesuada Nibh Bibendum Tristique Tortor</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Nullam Consectetur Sit Fringilla Etiam</a></li>
					</ul>
				</li>
				<li class="nav--main-li-level-1">
					<button class="level-1--btn toggle-tabindex" aria-controls="content-3" aria-expanded="false" id="accordion-control-e" tabindex="-1">Vulputate Dolor</button>
					<ul class="level-2--ul" aria-hidden="true" id="content-e">
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Tortor Ultricies Vestibulum Risus</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Purus Sem Vestibulum Fusce</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Condimentum Sollicitudin Amet</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Venenatis Parturient</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Malesuada Pharetra Fermentum</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Fermentum Mollis Ullamcorper Commodo Fringilla</a></li>
					</ul>
				</li>
				<li class="nav--main-li-level-1">
					<button class="level-1--btn toggle-tabindex" aria-controls="content-f" aria-expanded="false" id="accordion-control-f" tabindex="-1">Ultricies</button>
					<ul class="level-2--ul" aria-hidden="true" id="content-f">
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Aenean Mollis Nibh</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Vehicula Fermentum</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Elit Magna Cursus</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Ligula Porta</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Cras Mollis Ullamcorper Ridiculus Condimentum Vulputate Ridiculus Amet Mattis</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Malesuada</a></li>
					</ul>
				</li>
				</ul>
			</div>
		</div>
		<div id="nav--main-secondary">
			<div class="nav--main-secondary--full">
				<div class="main-secondary--row contained">
					<ul class="main-secondary--callout-btn">
						<li><button class="btn btn-alternative toggle-tabindex" tabindex="-1">Current Students</button></li>
						<li><button class="btn btn-alternative toggle-tabindex" tabindex="-1">Faculty & Staff</button></li>
						<li><button class="btn btn-alternative toggle-tabindex" tabindex="-1">Alumni & Giving</button></li>
						<li><button class="btn btn-alternative toggle-tabindex" tabindex="-1">Donate Now</button></li>
					</ul>
				</div>
				<div class="main-secondary--row contained">
					<ul class="main-secondary--link-list">
                        <li><a href="https://www.captechu.edu/about-capitol/why-capitol-tech" class="toggle-tabindex" tabindex="-1">Why Capitol Tech</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">News & Events</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Capitology Blog</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Maps / Directions</a></li>
						<li><a href="/" class="toggle-tabindex" tabindex="-1">Contact Us</a></li>
					</ul>
				</div>
				<div class="main-secondary--row">
					<div class="main-secondary--social nav--social-buttons">
						<%= partial "custom/nav-social" %>
					</div>
				</div>
			</div>
			<div class="nav--main-secondary--cta">
				<div class="main-secondary--row">
					<div class="callouts">
						<a href="/" class="btn btn-extreme red-darker toggle-tabindex" tabindex="-1">Apply Online</a>
						<a href="/" class="btn btn-extreme red-dark toggle-tabindex" tabindex="-1">Request Information</a>
                        <a href="https://www.captechu.edu/admissions/undergraduate/schedule-campus-visit" class="btn btn-extreme red-darker toggle-tabindex" tabindex="-1">Schedule a Visit</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
