<div id="nav--full" role="navigation">

	<div class="nav--full-trigger">
		<div class="search--site-search">
			<div class="search--site-inner">
				<div id="search--main">
					<input id="site-search-input" type="search" name="search" tabindex="-1" aria-label="search the site" placeholder="Enter search terms" />
					<button tabindex="-1"><span class="zmdi zmdi-arrow-right"><span class="screen-reader-text">Search Submit</span></span></button>
				</div>
			</div>
			<button class="toggle-tabindex" id="search--trigger" aria-label="Open Search Input" tabindex="0">
				<span class="screen-reader-text">Search Open and Close</span>
			</button>
		</div>
		<button id="nav--open" class="nav--trigger block-scroll" rel="nav--full-dialog">
			<span class="menu-icon">
	      <span class="menu-line menu-line-1"></span>
	      <span class="menu-line menu-line-2"></span>
	      <span class="menu-line menu-line-3"></span>
				<spand class="screen-reader-text">Menu Open</span>
	    </span>

		</button>
	</div>
    <dialog class="nav--full-dialog" id="nav--full-dialog">
        <div class="nav--full-dialog-inner">
            <div class="nav--main-body">
                <div id="nav--header">
                    <div class="nav--header-inner">
                        <div class="nav--header-logo">
                            <a href="/" class="nav--header-logo-link">
                            <%= image_tag "capitol-logo--mono.png", :alt=>"Capitol Technology University Logo" %>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav--header-search">
                    <input id="site-search-input-mobile" class="search--mobile toggle-tabindex" type="search" name="search" tabindex="-1">
                    <button class="search--mobile-btn toggle-tabindex" tabindex="-1">
                        <span class="zmdi zmdi-search"><span class="screen-reader-text">Search Submit</span></span>
                    </button>
                </div>
                <div id="nav--main" class="triggered-area">
                    <ul class="nav--main-ul-level-1">
                    <li class="nav--main-li-level-1">
                        <button class="level-1--btn" aria-controls="content-a" aria-expanded="true" id="accordion-control-a">Degrees and Programs</button>
                        <ul class="level-2--ul current" id="content-a">
                            <li><a href="/">Aenean Mollis Nibh</a></li>
                            <li><a href="/">Vehicula Fermentum</a></li>
                            <li><a href="/">Elit Magna Cursus</a></li>
                            <li><a href="/">Ligula Porta</a></li>
                            <li><a href="/">Cras Mollis Ullamcorper Ridiculus Condimentum Vulputate Ridiculus Amet Mattis</a></li>
                            <li><a href="/">Malesuada</a></li>
                        </ul>
                    </li>
                    <li class="nav--main-li-level-1">
                        <button class="level-1--btn" aria-controls="content-b" aria-expanded="false" id="accordion-control-b">Sollicitudin</button>
                        <ul class="level-2--ul" id="content-b">
                            <li><a href="/">Tortor Ultricies Vestibulum Risus</a></li>
                            <li><a href="/">Purus Sem Vestibulum Fusce</a></li>
                            <li><a href="/">Condimentum Sollicitudin Amet</a></li>
                            <li><a href="/">Venenatis Parturient</a></li>
                            <li><a href="/">Malesuada Pharetra Fermentum</a></li>
                            <li><a href="/">Fermentum Mollis Ullamcorper Commodo Fringilla</a></li>
                        </ul>
                    </li>
                    <li class="nav--main-li-level-1">
                        <button class="level-1--btn" aria-controls="content-c" aria-expanded="false" id="accordion-control-c">Elit Vestibulum</button>
                        <ul class="level-2--ul" id="content-c">
                            <li><a href="/">Ligula Ipsum Sit Mollis</a></li>
                            <li><a href="/">Ligula Quam Lorem Sit Ultricies</a></li>
                            <li><a href="/">Sollicitudin Euismod Lorem</a></li>
                            <li><a href="/">Pellentesque Nibh Adipiscing</a></li>
                            <li><a href="/">Purus</a></li>
                            <li><a href="/">Vestibulum Mollis</a></li>
                        </ul>
                    </li>
                    <li class="nav--main-li-level-1">
                        <button class="level-1--btn" aria-controls="content-d" aria-expanded="false" id="accordion-control-d">Purus</button>
                        <ul class="level-2--ul" id="content-d">
                            <li><a href="/" >Magna Euismod Aenean</a></li>
                            <li><a href="/" >Fermentum Quam Vehicula Fringilla Sollicitudin</a></li>
                            <li><a href="/" >Risus Porta Mattis</a></li>
                            <li><a href="/" >Parturient Quam Purus Fermentum Amet</a></li>
                            <li><a href="/" >Malesuada Nibh Bibendum Tristique Tortor</a></li>
                            <li><a href="/" >Nullam Consectetur Sit Fringilla Etiam</a></li>
                        </ul>
                    </li>
                    <li class="nav--main-li-level-1">
                        <button class="level-1--btn" aria-controls="content-e" aria-expanded="false" id="accordion-control-e">Vulputate Dolor</button>
                        <ul class="level-2--ul" id="content-e">
                            <li><a href="/">Tortor Ultricies Vestibulum Risus</a></li>
                            <li><a href="/">Purus Sem Vestibulum Fusce</a></li>
                            <li><a href="/">Condimentum Sollicitudin Amet</a></li>
                            <li><a href="/">Venenatis Parturient</a></li>
                            <li><a href="/">Malesuada Pharetra Fermentum</a></li>
                            <li><a href="/">Fermentum Mollis Ullamcorper Commodo Fringilla</a></li>
                        </ul>
                    </li>
                    <li class="nav--main-li-level-1">
                        <button class="level-1--btn" aria-controls="content-f" aria-expanded="false" id="accordion-control-f">Ultricies</button>
                        <ul class="level-2--ul" id="content-f">
                            <li><a href="/">Aenean Mollis Nibh</a></li>
                            <li><a href="/">Vehicula Fermentum</a></li>
                            <li><a href="/">Elit Magna Cursus</a></li>
                            <li><a href="/">Ligula Porta</a></li>
                            <li><a href="/">Cras Mollis Ullamcorper Ridiculus Condimentum Vulputate Ridiculus Amet Mattis</a></li>
                            <li><a href="/">Malesuada</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </div>
            <div id="nav--main-secondary">
                <div class="nav--main-secondary--full">
                    <div class="main-secondary--row contained">
                        <ul class="main-secondary--callout-btn">
                            <li><button class="btn btn-alternative">Current Students</button></li>
                            <li><button class="btn btn-alternative">Faculty & Staff</button></li>
                            <li><button class="btn btn-alternative">Alumni & Giving</button></li>
                            <li><button class="btn btn-alternative">Donate Now</button></li>
                        </ul>
                    </div>
                    <div class="main-secondary--row contained">
                        <ul class="main-secondary--link-list">
                            <li><a href="https://www.captechu.edu/about-capitol/why-capitol-tech" class="toggle-tabindex" tabindex="-1">Why Capitol Tech</a></li>
                            <li><a href="/">News & Events</a></li>
                            <li><a href="/">Capitology Blog</a></li>
                            <li><a href="/">Maps / Directions</a></li>
                            <li><a href="/">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="main-secondary--row">
                        <div class="main-secondary--social nav--social-buttons">
                            <%= partial "custom/nav-social" %>
                        </div>
                    </div>
                </div>
                <div class="nav--main-secondary--cta">
                    <div class="main-secondary--row">
                        <div class="callouts">
                            <a href="/" class="btn btn-extreme red-darker" >Apply Online</a>
                            <a href="/" class="btn btn-extreme red-dark" >Request Information</a>
                            <a href="https://www.captechu.edu/admissions/undergraduate/schedule-campus-visit" class="btn btn-extreme red-darker">Schedule a Visit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav--full-trigger">
                <button id="nav--close" class="nav--trigger">
                    <span class="menu-icon">
                    <span class="menu-line menu-line-1"></span>
                    <span class="menu-line menu-line-2"></span>
                    <span class="menu-line menu-line-3"></span>
                            <span class="screen-reader-text">Close Menu</span>
                    </span>

                </button>
            </div>
        </div>
    </dialog>
</div>

