<nav class="main-nav">
	<li>
		<a class="top-level-a" href="/">Aenean Pellentesque</a>
	</li>
	<li>
		<a class="top-level-a" href="/" alt="/" title="/">Euismod Dolor Magna</a>
	</li>
	<li>
		<a class="top-level-a" href="#" alt="/" title="/">Etiam</a>
	</li>
	<li>
		<a class="top-level-a" href="/" alt="/" title="/">Lorem Vehicula</a>
	</li>
</nav>
