<nav class="pager" role="navigation" aria-labelledby="pagination-heading">
  <h4 id="pagination-heading" class="screen-reader-text">Pagination</h4>
  <ul class="pager__items js-pager__items">
    <li class="pager__item pager__item--first">
      <a href="?keywords=NASA&amp;page=0" title="Go to first page">
        <span class="screen-reader-text">First page</span>
        <span aria-hidden="true">« First</span>
      </a>
    </li>
    <li class="pager__item pager__item--previous">
      <a href="?keywords=NASA&amp;page=1" title="Go to previous page" rel="prev">
        <span class="screen-reader-text">Previous page</span>
        <span aria-hidden="true">‹‹</span>
      </a>
    </li>
    <li class="pager__item">
      <a href="?keywords=NASA&amp;page=0" title="Go to page 1">
        <span class="screen-reader-text">
          Page
        </span>1</a>
    </li>
    <li class="pager__item">
      <a href="?keywords=NASA&amp;page=1" title="Go to page 2">
        <span class="screen-reader-text">
          Page
        </span>2</a>
    </li>
    <li class="pager__item is-active">
      <a href="?keywords=NASA&amp;page=2" title="Current page">
        <span class="screen-reader-text">
          Current page
        </span>3</a>
    </li>
    <li class="pager__item">
      <a href="?keywords=NASA&amp;page=3" title="Go to page 4">
        <span class="screen-reader-text">
          Page
        </span>4</a>
    </li>
    <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
    <li class="pager__item pager__item--next">
      <a href="?keywords=NASA&amp;page=3" title="Go to next page" rel="next">
        <span class="screen-reader-text">Next page</span>
        <span aria-hidden="true">››</span>
      </a>
    </li>
    <li class="pager__item pager__item--last">
      <a href="?keywords=NASA&amp;page=3" title="Go to last page">
        <span class="screen-reader-text">Last page</span>
        <span aria-hidden="true">Last »</span>
      </a>
    </li>
  </ul>
</nav>
