<section class="section">
    <div class="callout-blocks">
        <a href="/" alt="/" class="callout-blocks--block red-dark">
            <span class="callout-blocks--cat">In the News</span>
            <h4 class="callout-blocks--title">Etiam porta sem malesuada magna mollis euismod.</h4>
        </a>
        <a href="/" alt="/" class="callout-blocks--block red">
            <span class="callout-blocks--cat">Adipiscing Vehicula Amet Commodo</span>
            <h4 class="callout-blocks--title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
        </a>
        <a href="/" alt="/" class="callout-blocks--block purple">
            <span class="callout-blocks--cat">Vehicula Tristique Commodo</span>
            <h4 class="callout-blocks--title">Aenean Mattis</h4>
        </a>
    </div>
</section>