<div class="router-row--container">
  <div class="router-row">
    <div class="router-row--icon">
      <%= image_tag "placeholder-square.png" %>
    </div>
    <div class="router-row--txt">
      <h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
      <p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
  </div>
</div>
<div class="router-row--container">
  <div class="router-row">
    <div class="router-row--icon">
      <%= image_tag "placeholder-square.png" %>
    </div>
    <div class="router-row--txt">
      <h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
      <p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
  </div>
</div>
<div class="router-row--container">
  <div class="router-row">
    <div class="router-row--icon">
      <%= image_tag "placeholder-square.png" %>
    </div>
    <div class="router-row--txt">
      <h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
      <p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
  </div>
</div>
