<section class="section">
    <div class="callout-block-full blue">
        <h3 class="callout-block-full--title">Adipiscing Mollis Dolor Fringilla Fusce</h3>
        <a href="/" alt="/" class="btn btn-transparent more-btn">Button Link</a>
    </div>
</section>