<div class="tabbed-content">
    <div class="tabs-list" role='tablist'>
        <button aria-controls="dc-area" data-target="#dc-area" aria-selected="true" id="tab-dc" role='tab' class='tab selected'>
            D.C. Area
        </button>
        <button aria-controls="60-mile-radius" data-target="#60-mile-radius" aria-selected='false' id="tab-60-mile" role='tab' tabindex='-1' class='tab'>
            60 Mile Radius
        </button>
        <button aria-controls='120-mile-radius' aria-selected="false" data-target="#120-mile-radius" id="tab-120-mile" role='tab' tabindex='-1' class='tab'>
            120 Mile Radius
        </button>
    </div>

    <div aria-labelledby="tab-dc" class="tab-panel current" id="dc-area" role='tabpanel'>
        <div class="tabs-col-img wide">
            <%= image_tag "placeholder-landing.png"%>
        </div>
        <div class="tabs-col-content wide">
            <h4>Where Capitol Tech Grads are Working</h4>
            <div class="column-row">
                <div class="column-third">
                    <ul>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                    </ul>
                </div>
                <div class="column-third">
                    <ul>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                    </ul>
                </div>
                <div class="column-third">
                    <ul>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="tab-60-mile" class="tab-panel" id="60-mile-radius" role='tab-60-mile'>
        <div class="tabs-col-img">
            <%= image_tag "maryland.jpg"%>
        </div>
        <div class="tabs-col-content">
            <h4>Where Capitol Tech Grads are Working</h4>
            <div class="column-row">
                <div class="column-half">
                    <ul>
                       
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                    </ul>
                </div>
                <div class="column-half">
                    <ul>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="tab-120-mile" class="tab-panel" id="120-mile-radius" role='tabpanel'>
        <div class="tabs-col-img">
            <%= image_tag "virginia-maryland-dc-map.gif"%>
        </div>
        <div class="tabs-col-content">
            <h4>Where Capitol Tech Grads are Working</h4>
            <div class="column-row">
                <div class="column-half">
                    <ul>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                    </ul>
                </div>
                <div class="column-half">
                    <ul>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                        <li>Company Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
