<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= current_page.data.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <%= stylesheet_link_tag "style" %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500,700|Roboto+Slab:300,400,700|Roboto:300,300i,400,400i,700" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="/assets/scripts/vendor/html5shiv.min.js"></script>
      <script src="/assets/scripts/vendor/respond.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <![endif]-->
</head>
