---
title: Alumni
layout: main
---
<div class="page-top">
  <div class="page-top--hero">
		<div class="page-top--hero-img" style="background-image:url('assets/images/placeholder-landscape.png');"></div>
	</div>
	<%# <div class="header--title-area after-hero">
		<div class="super-contained">
			<%= partial "custom/breadcrumbs"
			<h1 class="page-title">Header Level 1 Page Title</h1>
		</div>
	</div> #%>
</div>
<div class="page-body">
    <section class="section background-blue-dark">
        <div class="super-contained">
            <h1 class="center color-white">Meet Our Alumni</h1>

            <p class="center alumni-form-selector">
                <select>
                    <option slected="selected">Select Category</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </p>
            
            <% 4.times do |index| %>
                <div class="alumni-profile-row">
                    <div class="alumni-profile-row--img">
                        <%= image_tag 'placeholder-square.png' %>
                    </div>
                    <div class="alumni-profile-row--txt">
                        <div class="alumni-profile-row--txt--heading">
                            <span class="alumni-profile-row--txt--name">Name <%= index %></span>
                            <span class="alumni-profile-row--txt--title">Title</span>
                            <span class="alumni-profile-row--txt--corporation">Corporation</span>
                            <span class="alumni-profile-row--txt--class">Class of XXXX</span>
                        </div>
                        <div class="alumni-profile-row--txt--body">
                            <p><span class="title">How Capitol Tech lorem ipsum</span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p><a href="#">Read story</a></p>
                        </div>
                    </div>
                </div>
            <% end %>
            
        </div>
    </section>
</div>