---
title: Industry Demand for Blockchain is Growing
layout: blockchain
---
<div class="page-body">
	<div class="contained-narrow intro">
        <h1 class="title">Industry Demand for Blockchain is Growing</h1>
        <p>People connect the word <em>blockchain</em> with <em>bitcoin</em>, because this is where blockchain technology was first used. However, diverse industries are now embracing the privacy that this technology provides. With recent LinkedIn research listing blockchain as the most in-demand tech skill for 2020, your knowledge of blockchain technology makes you employable in emerging roles at the cutting-edge of many sectors.</p>
        <p>Click on <a href="#step1" class="intro-link">Banking & Finance</a>, <a href="#step2" class="intro-link">Education</a>, <a href="#step3" class="intro-link">Government & Security</a>, <a href="#step4" class="intro-link">Healthcare</a>, or <a href="#step5" class="intro-link">Politics</a> shown below to learn about the demand and impact of blockchain technology in each of these industries.</p>
		<%= partial "/custom/blockchain-accordion" %>
        <p class="outro">Capitol Tech is Washington D.C.’s premier STEM University —supplying human capital to America’s most technologically advanced government agencies and their private sector supply chains. With an education laser-focused on STEM careers,Capitol Technology University uniquely positions students for top roles in the region’s booming tech hub.</p>
        <div class="logo">
            <a href="/"><%= image_tag 'blockchain/logo.png', :alt => 'Capitol Technology University' %></a>
            <a href="https://www.captechu.edu" class="site-link">www.captechu.edu</a>
        </div>
	</div>
</div>

<!--End page body-->

<div class="blockchain-footer">
    <div class="contained-narrow">
        <h3>Sources:</h3>
        <ul>
            <li>
                <a href="https://news.bitcoin.com/blockchain-tops-the-list-of-most-in-demand-tech-skills-for-2020/" target="_blank">https://news.bitcoin.com/blockchain-tops-the-list-of-most-in-demand-tech-skills-for-2020/</a>
            </li>
            <li>
                <a href="https://bisresearch.com/industry-report/global-blockchain-in-healthcare-market-2025.html" target="_blank">https://bisresearch.com/industry-report/global-blockchain-in-healthcare-market-2025.html</a>
            </li>
            <li>
                <a href="https://beincrypto.com/over-600-million-in-ethereum-locked-in-defi-up-more-than-200-from-last-year/">https://beincrypto.com/over-600-million-in-ethereum-locked-in-defi-up-more-than-200-from-last-year/</a>
            </li>
            <li>
                <a href="https://www.investopedia.com/news/how-blockchain-technology-can-prevent-voter-fraud/" target="_blank">https://www.investopedia.com/news/how-blockchain-technology-can-prevent-voter-fraud/</a>
            </li>
            <li>
                <a href="https://www.govtech.com/education/Data-Breach-Exposes-Personal-Info-for-53000-Illinois-Students.html" target="_blank">https://www.govtech.com/education/Data-Breach-Exposes-Personal-Info-for-53000-Illinois-Students.html</a>
            </li>
            <li>
                <a href="https://fedtechmagazine.com/article/2019/03/white-houses-fiscal-2020-budget-keeps-it-spending-flat" target="blank">https://fedtechmagazine.com/article/2019/03/white-houses-fiscal-2020-budget-keeps-it-spending-flat</a>
            </li>
            <li>
                <a href="https://blog.chronobank.io/what-does-2020-hold-for-the-blockchain-industry-796f13772f06" target="_blank">https://blog.chronobank.io/what-does-2020-hold-for-the-blockchain-industry-796f13772f06</a>
            </li>
        </ul>
    </div>
</div>

