---
title: Everything
layout: main
---
<div class="page-top">
	<div class="page-top--hero">
		<div class="page-top--hero-img" style="background-image:url('assets/images/placeholder-landscape.png');"></div>
	</div>
	<div class="header--title-area after-hero">
		<div class="super-contained">
			<%= partial "custom/breadcrumbs"%>
			<h1 class="page-title">Header Level 1 Page Title</h1>
		</div>
	</div>
	<%= partial "custom/nav-bar"%>
</div>
<div class="page-body">
    <!-- Callout buttons for landing pages"-->
    <section id="landing-page-callouts" class="mobile-callout">
        <a class="btn btn-alternative btn-mobile-callout" href="https://www.captechu.edu/request-information-form" alt="">Request Information</a>
        <a class="btn btn-alternative-3 btn-mobile-callout" href="https://mycapitol.captechu.edu/ICS/Admissions/Home.jnz?portlet=Apply_Online_2.0" alt="">Apply Online</a>
    </section>
    <!-- -->
	<section class="section body-content">
		<div class="super-contained">
			<h2>Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</h2>
			<p class="intro-text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
			<blockquote>
				<p>This is a block quote. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<cite>Sara Quote</cite>
			</blockquote>
		</div>
		<div class="super-contained">
			<%= partial "custom/add-this"%>
		</div>
		<div class="super-contained">
			<%= partial "custom/accordion"%>
		</div>
	</section>
	<section id="section-2" class="section background-gray">
		<div class="super-contained">
			<h3 class="blue-text-color">I Am Blue</h3>
			<div class="router-row--container">
				<div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
			</div>
			<div class="router-row--container">
				<div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
			</div>
			<div class="router-row--container">
				<div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
			</div>
		</div>
        <!-- New column grid type -->
        <div class="super-contained">
            <h3 class="blue-text-color">Two-Column Grid</h3>
            <div class="block-half">
                <div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
            </div>
            <div class="block-half">
                <div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
            </div>
            <div class="block-half">
                <div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
            </div>
            <div class="block-half">
                <div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
            </div>
        </div>
        <div class="super-contained">
            <h3 class="blue-text-color">Three-Column Grid</h3>
            <div class="block-third">
                <div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
            </div>
            <div class="block-third">
                <div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
            </div>
            <div class="block-third">
                <div class="router-row">
					<div class="router-row--icon">
						<%= image_tag "placeholder-square.png" %>
					</div>
					<div class="router-row--txt">
						<h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
						<p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
				</div>
            </div>
        </div>
	</section>
	<section id="section-2" class="section background-blue">
		<div class="contained">
			<%= partial "custom/carousel-double" %>
		</div>
		<div class="full-but-contained">
			<div class="background-blue-dark">
				<div class="contained">
					<div class="section-title--area">
						<h2 class="section-title--title h1">Blue Section</h2>
					</div>
					<div class="profile-row">
						<div class="profile-row--img">
							<%= image_tag "placeholder-square.png" %>
						</div>
						<div class="profile-row--txt">
							<div class="profile-row--name-area">
								<h4 class="profile-row--name">Ridiculus Lorem Sollicitudin</h4>
								<p class="profile-row--title h4">Mattis Ultricies Magna Inceptos Egestas</p>
							</div>
							<button class="profile-row--trigger trigger" alt="/" rel="profile-1"><span class="screen-reader-text">Read Bio</span></button>
							<div class="profile-row--blurb" id="profile-1">
								<p>Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
								<p>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</p>
							</div>
						</div>
					</div>
					<div class="profile-row">
						<div class="profile-row--img">
							<%= image_tag "placeholder-square.png" %>
						</div>
						<div class="profile-row--txt">
							<div class="profile-row--name-area">
								<h4 class="profile-row--name">Ridiculus Lorem Sollicitudin</h4>
								<p class="profile-row--title h4">Mattis Ultricies Magna Inceptos Egestas</p>
							</div>
							<button class="profile-row--trigger trigger" alt="/" rel="profile-2"><span class="screen-reader-text">Read Bio</span></button>
							<div class="profile-row--blurb" id="profile-2">
								<p>Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
								<p>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="background-white">
				<div class="super-contained">
					<div class="section-title--area">
						<h2 class="section-title--title h1">Cras Inceptos Tellus Ultricies Tortor Inceptos Fermentum Sem</h2>
					</div>
					<%= partial "custom/logo-grid"  %>
				</div>
			</div>
		</div>
	</section>

	<section id="section-3" class="section body-content skew-bottom">
		<div class="super-contained">
			<div class="column-row">
				<div class="column-full">
					<h3 class="blue-text-color">This is a blue header level 3 using the class <em>blue-text-color</em>.</h3>
				</div>
				<div class="column-half">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
				</div>
				<div class="column-half">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
				</div>
			</div>
			<div class="column-row">
				<div class="column-third">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
				</div>
				<div class="column-third">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
				</div>
				<div class="column-third">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
				</div>
			</div>
			<div class="column-row">
				<div class="column-quarter">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
				</div>
				<div class="column-quarter">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
				</div>
				<div class="column-quarter">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
				</div>
				<div class="column-quarter">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section svg-bg">
		<div class="section-title--area">
			<h2 class="section-title--title h1">Section Title in SVG-BG</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="contained">
			<div class="floating-images floating-small">
				<div class="floating-images--img">
					<%= image_tag "placeholder-square.png" %>
				</div>
				<div class="floating-images--txt">
					<h3 class="floating-images--title">Floating Image Small</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
				</div>
			</div>
			<div class="floating-images floating-small">
				<div class="floating-images--img">
					<%= image_tag "placeholder-square.png" %>
				</div>
				<div class="floating-images--txt">
					<h3 class="floating-images--title">Floating Image Small</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
				</div>
			</div>
			<div class="floating-images floating-large">
				<div class="floating-images--img">
					<%= image_tag "placeholder-landscape.png" %>
				</div>
				<div class="floating-images--txt">
					<h3 class="floating-images--title">Floating Image Large</h3>
					<p>This image is on the right side because it is a child:nth(odd).</p>
				</div>
			</div>
			<div class="floating-images floating-large">
				<div class="floating-images--img">
					<%= image_tag "placeholder-landscape.png" %>
				</div>
				<div class="floating-images--txt">
					<h3 class="floating-images--title">Floating Image Large</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section body-content skew-top">
		<div class="super-contained">
			<div class="block-row">
				<div class="block-full block-red">
					This is red
				</div>
			</div>
			<div class="block-row">
				<div class="block-half block-red">
					This is red
				</div>
				<div class="block-half block-blue">
					This is blue
				</div>
			</div>
			<div class="block-row">
				<div class="block-third block-red">
					<div class="stat-container">
						<span class="stat"><span class="stat-thin">$</span>722.9M</span>
						<span class="stat-blurb">Nullam quis risus eget urna mollis ornare vel eu leo.</span>
					</div>
				</div>
				<div class="block-third block-blue">
					<div class="stat-container">
						<span class="stat"><span class="stat-thin">$</span>6T</span>
						<span class="stat-blurb">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</span>
					</div>
				</div>
				<div class="block-third block-green">
					<div class="stat-container">
						<span class="stat"><span class="stat-thin">$</span>85B</span>
						<span class="stat-blurb">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</span>
					</div>
				</div>
			</div>
			<div class="block-row">
				<div class="block-quarter block-red">
					This is red
				</div>
				<div class="block-quarter block-blue">
					This is blue
				</div>
				<div class="block-quarter block-green">
					This is green
				</div>
				<div class="block-quarter block-gray">
					This is gray
				</div>
			</div>
		</div>
	</section>
	<section class="section body-content">
		<div class="super-contained">
			<div class="section-title--area">
				<h2 class="section-title--title h1">This is a Section Title Area</h2>
				<p>Nullam quis <a href="/" alt="/">risus</a> eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
			</div>
			<hr>
			<h3>Ipsum Nullam Bibendum Pellentesque</h3>
			<ul>
				<li>Nulla vitae elit libero, a pharetra augue.</li>
				<li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla.</li>
				<li>Curabitur blandit tempus porttitor.</li>
			</ul>
			<hr>
			<h3>Fringilla Tristique</h3>
			<ul>
				<li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</li>
				<li>Nullam id dolor id nibh ultricies vehicula ut id elit.</li>
				<li>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
				<li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum.</li>
			</ul>
		</div>
	</section>



	<section class="section body-content">
		<div class="contained">
			<%= partial "custom/pagination" %>
		</div>
	</section>







	<section class="section body-content">
		<div class="contained">
			<div class="section-title--area section-title--width-button">
				<span class="section-title--category">Explore Programs &amp; Degrees</span>
				<h2 class="section-title--title h1">This is a Section Title Area</h2>
				<button class="section-title--button btn btn-secondary">View All</button>
			</div>
			<div class="router-list--container">
				<div class="router-list--column-third">
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
						</ul>
					</div>
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
						</ul>
					</div>
				</div>
				<div class="router-list--column-third">
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
						</ul>
					</div>
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
							<li><a class="more-link" href="/" alt="/">Something</a></li>
						</ul>
					</div>
				</div>
				<div class="router-list--column-third">
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="callout--next-steps section body-content">
		<div class="contained">
			<div class="callout--next-steps--row">
				<div class="callout--next-steps--left">
					<div class="section-title--area section-title--width-button">
						<span class="section-title--category">Next Steps</span>
						<h2 class="section-title--title h1">This is a Section Title.</h2>
						<h2 class="section-title--title h1">And Another.</h2>
						<div class="router-list--section">
							<ul>
								<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="callout--next-steps--right">
					<ul class="callout--buttons vertical">
						<li><a class="btn btn-callout btn-alternative" href="/" alt="/">Button</a></li>
						<li><a class="btn btn-callout btn-alternative-2" href="/" alt="/">Button</a></li>
						<li><a class="btn btn-callout btn-alternative-3" href="/" alt="/">Button</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="section body-content">
		<div class="contained">
			<ul class="callout--buttons horizontal">
				<li><a class="btn btn-callout btn-alternative" href="/" alt="/">Button</a></li>
				<li><a class="btn btn-callout btn-alternative-2" href="/" alt="/">Button</a></li>
				<li><a class="btn btn-callout btn-alternative-3" href="/" alt="/">Button</a></li>
			</ul>
		</div>
	</section>
	<%= partial "custom/router-bottom" %>
	<%= partial "custom/router-bottom-full" %>

    <!--Callout Block Row -->
    <section class="callout-block-row">
        <div class="callout-block-row--left purple">
            <div class="callout-block-row--item">
                <div class="callout-block-row--img" style="background-image: url('assets/images/placeholder-square.png')"></div>
                <div class="callout-block-row--txt">
                    <h4 class="callout-block-row--title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h4>
                    <p class="callout-block-row--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu posuere ligula, at pretium ligula.</p>
                    <a class="btn btn-transparent homepage-bottom-grid--button" href="" alt="">Button</a>
                </div>
            </div>
        </div>
        <div class="callout-block-row--left purple">
            <div class="callout-block-row--item callout-block-row--no-image red">
                <div class="callout-block-row--txt">
                    <h4 class="callout-block-row--title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h4>
                    <a class="btn btn-transparent homepage-bottom-grid--button" href="" alt="">Button</a>
                </div>
            </div>
        </div>
        <div class="callout-block-row--left green">
            <div class="callout-block-row--item">
                <div class="callout-block-row--img right" style="background-image: url('assets/images/placeholder-square.png')"></div>
                <div class="callout-block-row--txt">
                    <h4 class="callout-block-row--title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h4>
                    <p class="callout-block-row--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu posuere ligula, at pretium ligula.</p>
                    <a class="btn btn-transparent homepage-bottom-grid--button" href="" alt="">Button</a>
                </div>
            </div>
        </div>
    </div>

	<div class="hero--bottom">
		<%= image_tag "placeholder-landscape.png" %>
	</div>
</div>
