---
title: Faculty
layout: main
---
<div class="page-top">
  <div class="page-top--hero">
		<div class="page-top--hero-img" style="background-image:url('assets/images/placeholder-landscape.png');"></div>
	</div>
	<%#<div class="header--title-area after-hero">
		<div class="super-contained">
			<%= partial "custom/breadcrumbs"
			<h1 class="page-title">Header Level 1 Page Title</h1>
		</div>
	</div>%>
</div>
<div class="page-body">
    <section class="section background-white">
        <div class="super-contained">
            <h2 class="h1 center color-red">Meet Our Deans</h2>
            <div class="faculty-carousel">
            <% 8.times do |index| %>
                <div class="profile-block">
                    <div class="profile-block--img">
                        <%= image_tag 'placeholder-square.png' %>
                    </div>
                    <div class="profile-block--txt">
                        <h3 class="profile-block--txt--name">Name <%= index %></h3>
                        <span class="profile-block--txt--title">Title</span>
                        <span class="profile-block--txt--department">Department</span>
                        <a class="profile-block--txt--link" href="#">Read Bio</a>
                    </div>
                </div>
            <% end %>
            </div>

            <h2 class="h1 center color-red">Meet Our Department Chairs</h2>
            <div class="faculty-carousel">
            <% 8.times do |index| %>
                <div class="profile-block">
                    <div class="profile-block--img">
                        <%= image_tag 'placeholder-square.png' %>
                    </div>
                    <div class="profile-block--txt">
                        <h3 class="profile-block--txt--name">Name <%= index %></h3>
                        <span class="profile-block--txt--title">Title</span>
                        <span class="profile-block--txt--department">Department</span>
                        <a class="profile-block--txt--link" href="#">Read Bio</a>
                    </div>
                </div>
            <% end %>
            </div>

            <h2 class="h1 center color-red">Meet Our Full-Time Faculty</h2>
            <div class="faculty-carousel">
            <% 8.times do |index| %>
                <div class="profile-block">
                    <div class="profile-block--img">
                        <%= image_tag 'placeholder-square.png' %>
                    </div>
                    <div class="profile-block--txt">
                        <h3 class="profile-block--txt--name">Name <%= index %></h3>
                        <span class="profile-block--txt--title">Title</span>
                        <span class="profile-block--txt--department">Department</span>
                        <a class="profile-block--txt--link" href="#">Read Bio</a>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
    </section>
    <section class="section background-blue-dark">
        <div class="super-contained">
            <h2 class="h1 center color-white">Meet Our Adjunct Faculty</h2>
            <div class="faculty-grid">
            <% 20.times do |index| %>
                <div class="profile-block">
                    <div class="profile-block--img">
                        <%= image_tag 'placeholder-square.png' %>
                    </div>
                    <div class="profile-block--txt">
                        <h3 class="profile-block--txt--name">Name <%= index %></h3>
                        <span class="profile-block--txt--title">Title</span>
                        <span class="profile-block--txt--department">Department</span>
                        <a class="profile-block--txt--link" href="#">Read Bio</a>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
    </section>
</div>