---
title: Grid Test
layout: main
---
<div class="page-top no-nav-bar">
	<div class="page-top--hero">
        <div class="page-top--hero-vid">
            <div id="video_overlays"></div>
            <video playsinline="" autoplay="" muted="" loop="" class="hero-vid">
                <source src="https://d8captechua9dgudacz.devcloud.acquia-sites.com/sites/default/files/2019-07/iStock-857418850.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</div>
<div class="page-body">		
    <section id="section" class="section background-white">
        <div class="super-contained grid-wrapper">       
            <div class="block-third">
                <div class="router-row">
                    <div class="router-row--icon">
                        <img src="https://d8captechua9dgudacz.devcloud.acquia-sites.com//sites/default/files/1-proprietary-programs-icon.png" alt="proprietary-programs">
                    </div>
                    <div class="router-row--text">
                        <h4 class="router-row--title">Proprietary Programs&nbsp;</h4>
                        <p class="router-row--blurb"></p><p>Capitol Tech’s online programs are developed and delivered by Capitol Tech – not through third-party, for-profit providers.</p>
                        <p></p> 
                    </div>
                </div>
            </div>         
            <div class="block-third">
                <div class="router-row">
                    <div class="router-row--icon">
                        <img src="https://d8captechua9dgudacz.devcloud.acquia-sites.com//sites/default/files/2-subject-matter-experts-icon.png" alt="subject-matter-experts-icon">
                    </div>
                    <div class="router-row--text">
                        <h4 class="router-row--title">Subject Matter Experts&nbsp;</h4>
                        <p class="router-row--blurb"></p><p>Our faculty come from America’s most technologically sophisticated government agencies and private-sector supply chain.</p>
                        <p></p>     
                    </div>
                </div>
            </div>   
            <div class="block-third">
                <div class="router-row">
                    <div class="router-row--icon">
                        <img src="https://d8captechua9dgudacz.devcloud.acquia-sites.com//sites/default/files/3-small-cohorts-icon.png" alt="small-cohorts-icon">
                    </div>
                    <div class="router-row--text">
                        <h4 class="router-row--title">Small Cohorts&nbsp;</h4>
                        <p class="router-row--blurb"></p><p>Small class sizes give students lots of contact with faculty and peers.</p>
                        <p></p>    
                    </div>
                </div>
            </div>
            <div class="block-third">
                <div class="router-row">
                    <div class="router-row--icon">
                        <img src="https://d8captechua9dgudacz.devcloud.acquia-sites.com//sites/default/files/4-connected-learning-icon.png" alt="connected-learning-icon">
                    </div>
                    <div class="router-row--text">
                        <h4 class="router-row--title">Connected Learning &nbsp;</h4>
                        <p class="router-row--blurb"></p><p>Interactive coursework, discussion boards and peer-to-peer activities ensure that you’re never isolated.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="block-third">
                <div class="router-row">
                    <div class="router-row--icon">
                        <img src="https://d8captechua9dgudacz.devcloud.acquia-sites.com//sites/default/files/5-easy-to-use-icon.png" alt="easy-to-use-icon">
                    </div>
                    <div class="router-row--text">
                        <h4 class="router-row--title">Easy to Use</h4>
                        <p class="router-row--blurb"></p><p>Capitol Tech’s Learning Management Software user experience is effortless and doesn’t intrude upon your learning experience.</p>
                        <p></p>   
                    </div>
                </div>
            </div> 
            <div class="block-third">
                <div class="router-row">
                    <div class="router-row--icon">
                        <img src="https://d8captechua9dgudacz.devcloud.acquia-sites.com//sites/default/files/6-ensuring-your-success.png" alt="ensuring-your-success-icon">
                    </div>
                    <div class="router-row--text">
                        <h4 class="router-row--title">Ensuring Your Success </h4>
                        <p class="router-row--blurb"></p><p>Capitol Tech’s support network helps you stay engaged and makes sure you aren’t left behind.</p>
                        <p></p>
                    </div>
                </div>
            </div>
    
    
            <div class="block-half">
                <div class="router-row">
                    <div class="router-row--icon">
                        <img src="https://d8captechua9dgudacz.devcloud.acquia-sites.com/sites/default/files/4-connected-learning-icon.png" alt="connected-learning-icon">
                    </div>
                    <div class="router-row--text">
                        <h4 class="router-row--title">Connected Learning &nbsp;</h4>
                        <p class="router-row--blurb"></p><p>Interactive coursework, discussion boards and peer-to-peer activities ensure that you’re never isolated.</p>
                        <p></p>      
                    </div>
                </div>
            </div>  
            <div class="block-half">
                <div class="router-row">
                    <div class="router-row--icon">
                        <img src="https://d8captechua9dgudacz.devcloud.acquia-sites.com/sites/default/files/5-easy-to-use-icon.png" alt="easy-to-use-icon">
                    </div>
                    <div class="router-row--text">
                        <h4 class="router-row--title">Easy to Use</h4>
                        <p class="router-row--blurb"></p><p>Capitol Tech’s Learning Management Software user experience is effortless and doesn’t intrude upon your learning experience.</p>
                        <p></p>   
                    </div>
                </div>
            </div>   
            <div class="block-half">
                <div class="router-row">
                    <div class="router-row--icon">
                        <img src="https://d8captechua9dgudacz.devcloud.acquia-sites.com/sites/default/files/6-ensuring-your-success.png" alt="ensuring-your-success-icon">
                    </div>
                    <div class="router-row--text">
                        <h4 class="router-row--title">Ensuring Your Success</h4>
                        <p class="router-row--blurb"></p><p>Capitol Tech’s support network helps you stay engaged and makes sure you aren’t left behind.</p>
                        <p></p>  
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
