---
title: Homepage
layout: main
---
<div class="page-top">
  <div class="page-top--hero">
		<div class="page-top--hero-vid">
      <video class="hero-vid"autoplay loop muted playsinline>
        <source src="assets/images/video/hero-test.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
	</div>
	<div class="header--title-area after-hero">
		<div class="super-contained">
			<%= partial "custom/breadcrumbs"%>
			<h1 class="page-title">Header Level 1 Page Title</h1>
		</div>
	</div>
</div>
<div class="page-body">
	<section class="section body-content skew-bottom">
		<div class="super-contained">
			<h2>Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</h2>
			<p class="intro-text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

      <h3 class="blue-text-color">Elit Aenean Fermentum Tristique Euismod</h3>
      <div class="block-row">
        <div class="block-third block-red">
          <div class="stat-container">
            <span class="stat"><span class="stat-thin">$</span>85B</span>
            <span class="stat-blurb">Nullam quis risus eget urna mollis ornare vel eu leo.</span>
          </div>
        </div>
        <div class="block-third block-blue">
          <div class="stat-container">
            <span class="stat"><span class="stat-thin">$</span>6T</span>
            <span class="stat-blurb">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</span>
          </div>
        </div>
        <div class="block-third block-green">
          <div class="stat-container">
            <span class="stat"><span class="stat-thin">$</span>85B</span>
            <span class="stat-blurb">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</span>
          </div>
        </div>
      </div>
      <h3 class="blue-text-color">Tellus Adipiscing</h3>
      <div class="column-row">
				<div class="column-full">
					<h3 class="blue-text-color">This is a blue header level 3 using the class <em>blue-text-color</em>.</h3>
				</div>
				<div class="column-half">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
				</div>
				<div class="column-half">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
				</div>
			</div>
    </div>

	</section>
  <section class="section svg-bg">
		<div class="section-title--area">
			<h2 class="section-title--title h1">Section Title in SVG-BG</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="contained">
			<div class="floating-images floating-small">
				<div class="floating-images--img">
					<%= image_tag "placeholder-square.png" %>
				</div>
				<div class="floating-images--txt">
					<h3 class="floating-images--title">Floating Image Small</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
				</div>
			</div>
			<div class="floating-images floating-large">
				<div class="floating-images--img">
					<%= image_tag "placeholder-landscape.png" %>
				</div>
				<div class="floating-images--txt">
					<h3 class="floating-images--title">Floating Image Large</h3>
					<p>This image is on the right side because it is a child:nth(odd).</p>
				</div>
			</div>
			<div class="floating-images floating-large">
				<div class="floating-images--img">
					<%= image_tag "placeholder-landscape.png" %>
				</div>
				<div class="floating-images--txt">
					<h3 class="floating-images--title">Floating Image Large</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
				</div>
			</div>
      <div class="floating-images floating-large">
				<div class="floating-images--img">
					<%= image_tag "placeholder-landscape.png" %>
				</div>
				<div class="floating-images--txt">
					<h3 class="floating-images--title">Floating Image Large</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
				</div>
			</div>
		</div>
	</section>
  <section class="section body-content skew-top">
		<div class="contained">
			<div class="section-title--area section-title--width-button">
				<span class="section-title--category">Explore Programs &amp; Degrees</span>
				<h2 class="section-title--title h1">This is a Section Title Area</h2>
				<button class="section-title--button btn btn-secondary">View All</button>
			</div>
			<div class="router-list--container">
				<div class="router-list--column-third">
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
						</ul>
					</div>
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
						</ul>
					</div>
				</div>
				<div class="router-list--column-third">
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
						</ul>
					</div>
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
							<li><a class="more-link" href="/" alt="/">Something</a></li>
						</ul>
					</div>
				</div>
				<div class="router-list--column-third">
					<div class="router-list--section">
						<h4 class="router-list--title">List Title</h4>
						<ul>
							<li><a class="more-link" href="/" alt="/">Something</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else</a></li>
							<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
  <section class="section body-content">
    <div class="contained">
      <ul class="callout--buttons horizontal">
        <li><a class="btn btn-callout btn-alternative" href="/" alt="/">Button</a></li>
        <li><a class="btn btn-callout btn-alternative-2" href="/" alt="/">Button</a></li>
        <li><a class="btn btn-callout btn-alternative-3" href="/" alt="/">Button</a></li>
      </ul>
    </div>
  </section>




</div><!-- page-body -->
