---
title: Capitol Technology University Learn. Build. Succeed.
layout: main
---

<div class="homepage-hero">
	<div id="homepage--page-title">
		<div class="homepage--full-but-contained">
			<div class="homepage--title-island">
				<h1><span class="screen-reader-text">Capitol Technology University </span>Learn. Build. <span class="red-text-color">Succeed.</span></h1>
			</div>
		</div>
	</div>
	<div class="homepage-hero--img-container">
		<div class="homepage-hero--img" aria-hidden="true">
			<div class="slide" >
				<img src="https://picsum.photos/1600/500?random=1" alt="" class="homepage-hero--img--img" />
			</div>
			<div class="slide">
				<img src="https://picsum.photos/1600/500?random=2" alt="" class="homepage-hero--img--img" />
			</div>
			<div class="slide" >
				<img src="https://picsum.photos/1600/500?random=3" alt="" class="homepage-hero--img--img" />
			</div>
			<div class="slide">
				<img src="https://picsum.photos/1600/500?random=4" alt="" class="homepage-hero--img--img" />
			</div>
			<div class="slide">
				<img src="https://picsum.photos/1600/500?random=5" alt="" class="homepage-hero--img--img" />
			</div>
		</div>
	</div>
	<div class="homepage-hero--txt-container">
		<div class="homepage-hero--txt">
		  <div class="slide">
			  <h2 class="homepage-hero--title">Text Block 1</h2>
			  <p class="homepage-hero--blurb">Nulla vitae elit libero, a pharetra augue.</p>
        <a class="btn btn-transparent more-btn" href="#btn-1">Security, Intelligence & Critical Infrastructure</a>
			</div>
		  <div class="slide">
			  <h2 class="homepage-hero--title">Text Block 2</h2>
			  <p class="homepage-hero--blurb">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-transparent more-btn" href="#btn-2">Button</a>
			</div>
		  <div class="slide">
			  <h2 class="homepage-hero--title">Text Block 3</h2>
			  <p class="homepage-hero--blurb">Nullam quis risus eget urna mollis ornare vel eu leo.</p>
        <a class="btn btn-transparent more-btn" href="#btn-3">Button</a>
			</div>
		  <div class="slide">
			  <h2 class="homepage-hero--title">Text Block 4</h2>
			  <p class="homepage-hero--blurb">Vestibulum id ligula porta felis euismod semper.</p>
        <a class="btn btn-transparent more-btn" href="#btn-4">Button</a>
			</div>
		  <div class="slide">
			  <h2 class="homepage-hero--title">Text Block 5</h2>
			  <p class="homepage-hero--blurb">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <a class="btn btn-transparent more-btn" href="#btn-5">Button</a>
			</div>
		</div>
		<div class="homepage-hero--controls">
			<button class="homepage-hero--play-pause pause" aria-label="Pause the slideshow"><i class="zmdi zmdi-pause"></i></button>
		</div>
	</div>

</div>
<div class="page-body">
	<section class="section background-blue-dark">
		<div class="homepage--full-but-contained">
			<div class="section-title--area section-title--width-button no-bottom-margin">
				<span class="section-title--category">Venenatis Purus Elit</span>
			</div>
			<div class="homepage--button-grid">
				<ul class="clean">
					<li>

						<div class="btn-bg btn-bg--red">
							<video autoplay loop class="bg-video" id="videoTest">
		            <source src="../assets/images/video/test.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
		            <source src="../assets/images/video/test.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
			        </video>
						</div>
						<a href="/">Pellentesque Ipsum Sem Condimentum</a>
					</li>
					<li>
						<div class="btn-bg btn-bg--purple">
							<%= image_tag "placeholder-landscape.png", :alt=>'' %>
						</div>
						<a href="/" alt="/">Ipsum Malesuada</a>
					</li>
					<li>
						<div class="btn-bg btn-bg--blue">
							<%= image_tag "placeholder-landscape.png", :alt=>'' %>
						</div>
						<a href="/" alt="/">Adipiscing Malesuada Elit</a>
					</li>
					<li>
						<div class="btn-bg btn-bg--green">
							<%= image_tag "placeholder-landscape.png", :alt=>'' %>
						</div>
						<a href="/" alt="/">Condimentum</a>
					</li>
					<li>
						<div class="btn-bg btn-bg--purple">
							<%= image_tag "placeholder-landscape.png", :alt=>'' %>
						</div>
						<a href="/" alt="/">Quam Dapibus Sem Fringilla</a>
					</li>
					<li>
						<div class="btn-bg btn-bg--blue">
							<%= image_tag "placeholder-landscape.png", :alt=>'' %>
						</div>
						<a href="/" alt="/">Consectetur Parturient Vehicula</a>
					</li>
					<li>
						<div class="btn-bg btn-bg--red-dark">
							<%= image_tag "placeholder-landscape.png", :alt=>'' %>
						</div>
						<a href="/" alt="/">Ridiculus Fusce</a>
					</li>
                    <li>
						<div class="btn-bg btn-bg--gray-dark">
							<%= image_tag "placeholder-landscape.png", :alt=>'' %>
						</div>
						<a href="/" alt="/">Construction, Facilities, and Safety</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="section background-blue-dark">
		<div class="super-container">
			<div class="section-title--area">
				<h2 class="section-title--title">It's 2018. Every job is a <strong>technology job.</strong></h2>
			</div>
			<div class="icon-blurb--container">
				<div class="icon-blurb--row">
					<div class="grid-row">
						<div class="icon-blurb--icon">
							<%= image_tag "placeholder-square.png", :alt=>'' %>
						</div>
						<div class="icon-blurb--blurb">
							<h3 class="icon-blurb--blurb-title">Fusce Porta</h3>
							<p class="icon-blurb--blurb-text">Curabitur blandit tempus porttitor.</p>
						</div>
					</div>
				</div>
				<div class="icon-blurb--row">
					<div class="grid-row">
						<div class="icon-blurb--icon">
							<%= image_tag "placeholder-square.png", :alt=>'' %>
						</div>
						<div class="icon-blurb--blurb">
							<h3 class="icon-blurb--blurb-title">Pharetra Dapibus Venenatis</h3>
							<p class="icon-blurb--blurb-text">Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
				<div class="icon-blurb--row">
					<div class="grid-row">
						<div class="icon-blurb--icon">
							<%= image_tag "placeholder-square.png", :alt=>'' %>
						</div>
						<div class="icon-blurb--blurb">
							<h3 class="icon-blurb--blurb-title">Commodo Lorem Amet Purus</h3>
							<p class="icon-blurb--blurb-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
						</div>
					</div>
				</div>
				<div class="icon-blurb--row">
					<div class="grid-row">
						<div class="icon-blurb--icon">
							<%= image_tag "placeholder-square.png", :alt=>'' %>
						</div>
						<div class="icon-blurb--blurb">
							<h3 class="icon-blurb--blurb-title">Tortor Risus</h3>
							<p class="icon-blurb--blurb-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section background-blue-dark">
		<div class="contained">
			<div class="no-floating-images">
				<div class="no-floating-images--img">
					<img src="assets/images/placeholder-landscape.png" alt="">
				</div>
				<div class="no-floating-images--txt">
					<h3 class="no-floating-images--title">Etiam Sollicitudin Tristique</h3>
					<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
					<button class="btn btn-transparent-alternative more-btn">Learn More</button>
				</div>
			</div>
		</div>
	</section>
	<section class="section cue-bert-bg">
		<div class="homepage--full-but-contained">
			<div class="section-title--area section-title--width-button">
				<span class="section-title--category">Venenatis Purus Elit</span>
				<div class="section-title--button">
					<button class="btn btn-additional">View All</button>
					<button class="btn btn-additional">View Some</button>
				</div>
			</div>
			<div class="homepage-feed--navigation">
				<div class="homepage-feed--prev">
					<button>
						<svg class="arrow-prev" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 65,95 L 20,50  L 65,5 L 60,0 Z" class="arrow"></path></svg>
						<span class="screen-reader-text">Previous Slide</span>
					</button>
				</div>
				<div class="homepage-feed--next">
					<button>
						<svg class="arrow-next" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 65,95 L 20,50  L 65,5 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
						<span class="screen-reader-text">Next Slide</span></button>
					</button>
				</div>
			</div>
			<div class="homepage-feed--container">
				<div class="homepage-feed" aria-label="Carousel of Highlights from Captech U">
					<div class="homepage-feed--slide notched">
						<h4 class="homepage-feed--slide-title">Inceptos Ridiculus Venenatis Porta Fusce</h4>
						<div class="homepage-feed--slide-img">
							<%= image_tag "blank-dark.png", :alt=>'' %>
							<%= image_tag "blank-dark.png", :alt=>'' %>
						</div>
						<div class="homepage-feed--slide-txt">
							<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
							<p>Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
						<a href="/" alt="" class="homepage-feed--slide-btn btn btn-transparent-alternative more-btn">Read More</a>
					</div>
					<div class="homepage-feed--slide notched">
						<h4 class="homepage-feed--slide-title">Etiam Cursus Mollis</h4>
						<div class="homepage-feed--slide-txt">
							<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod.</p>
						</div>
						<a href="/" alt="" class="homepage-feed--slide-btn btn btn-transparent-alternative more-btn">Read More</a>
					</div>
					<div class="homepage-feed--slide notched">
						<h4 class="homepage-feed--slide-title">Bibendum Aenean Tortor Malesuada Elit</h4>

						<div class="homepage-feed--slide-txt">
							<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod.</p>
						</div>
						<a href="/" alt="" class="homepage-feed--slide-btn btn btn-transparent-alternative more-btn">Read More</a>
					</div>
					<div class="homepage-feed--slide notched">
						<h4 class="homepage-feed--slide-title">Commodo Magna Egestas Condimentum</h4>
						<div class="homepage-feed--slide-img">
							<%= image_tag "placeholder-square.png", :alt=>'' %>
						</div>
						<div class="homepage-feed--slide-txt">
							<p>Donec ullamcorper nulla non metus auctor fringilla.</p>
						</div>
						<a href="/" alt="" class="homepage-feed--slide-btn btn btn-transparent-alternative more-btn">Read More</a>
					</div>
					<div class="homepage-feed--slide notched">
						<h4 class="homepage-feed--slide-title">Vestibulum Nullam Egestas Vulputate</h4>
						<div class="homepage-feed--slide-img">
							<%= image_tag "blank-dark.png", :alt=>'' %>
						</div>
						<div class="homepage-feed--slide-txt">
							<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
							<p>Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
						<a href="/" alt="" class="homepage-feed--slide-btn btn btn-transparent-alternative more-btn">Read More</a>
					</div>
				</div>

			</div>
		</div>
		<div class="contained">
			<div class="grid-row">
				<div class="homepage-router-list">
					<div class="column-row">
						<div class="column-half">
							<h4 class="homepage-router-list--title">Column Title</h4>
							<ul class="">
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Sit Sem Vehicula</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Vehicula</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Ornare Vestibulum Adipiscing</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Malesuada Vehicula Cras</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Sollicitudin Bibendum</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Purus Venenatis</a></li>
							</ul>
						</div>
						<div class="column-half">
							<h4 class="homepage-router-list--title">Column Title</h4>
							<ul class="">
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Amet Fringilla</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Quam Cras</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Vulputate Vehicula</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Fermentum Condimentum Cras</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Lorem Porta Vehicula</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Dapibus</a></li>
								<li><a class="btn btn-additional more-btn" href="/" alt="/">Porta Ornare</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!--
				<div class="homepage-twitter-feed notched">
					<a id="homepage-twitter-feed--start"></a>
					<a href="#homepage-twitter-feed--end" class="skipnav--internal">Jump to the end of the Twitter feed</a>
					<a class="twitter-timeline" data-width="" data-height="529" href="https://twitter.com/captechu">Read Captech U on Twitter</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					<a href="#homepage-twitter-feed--start" class="skipnav--internal">Jump to the beginning of the Twitter feed</a>
					<a id="homepage-twitter-feed--end"></a>
				</div>
				-->
			</div>
		</div>
	</section>
	<section class="homepage-bottom-grid">

	<div class="homepage-bottom-grid--left purple">

		<div class="homepage-bottom-grid--item">
			<div class="homepage-bottom-grid--img" style="background-image: url('assets/images/placeholder-square.png')"></div>
			<div class="homepage-bottom-grid--txt">
				<span class="homepage-bottom-grid--title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</span>
				<a class="btn btn-transparent homepage-bottom-grid--button" href="" alt="">Button</a>
			</div>
		</div>
		<div class="homepage-bottom-grid--item homepage-bottom-grid--no-image red">
			<div class="homepage-bottom-grid--txt">
				<span class="homepage-bottom-grid--title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</span>
				<a class="btn btn-transparent homepage-bottom-grid--button" href="" alt="">Button</a>
			</div>
		</div>
	</div>

	<div class="homepage-bottom-grid--right green">
		<div class="homepage-bottom-grid--item">
			<div class="homepage-bottom-grid--img" style="background-image: url('assets/images/placeholder-square.png')"></div>
			<div class="homepage-bottom-grid--txt green">
				<span class="homepage-bottom-grid--title">Praesent commodo cursus magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.</span>
				<a class="btn btn-transparent homepage-bottom-grid--button" href="" alt="">Button</a>
			</div>
		</div>
	</div>


	</section>
</div>
