---
title: Landing
layout: main
---
<div class="page-top">
	<div class="page-top--hero">
		<div class="page-top--hero-img" style="background-image:url('assets/images/placeholder-landscape.png');"></div>
	</div>
</div>
<div class="page-body">
    <div class="container">
        <section id="tabs" class="section background-white">
            <%= partial "custom/tabs-landing"%>
        </section>
    </div>

    <div class="full-but-contained">
        <div class="emsicc-iframe-container">
            <iframe src="https://widget.emsicc.com/?hasCareerList=true&amp;hasEmployment=true&amp;hasImages=true&amp;hasJobOpenings=true&amp;hasNationalData=true&amp;hasOutlook=true&amp;hasVisitButton=false&amp;hasWages=true&amp;isHourlyWage=false&amp;labelSet=default&amp;clientId=demo&amp;locationName=The%20Palouse&amp;orderCareersBy=None&amp;primaryColor=%23c31d24&amp;programs=emsi-0001&amp;visitButtonColor=%2341d492&amp;headingText=Our%20students%20can%20go%20into%20these%20careers%3A"></iframe>
        </div>
    </div>
</div>
