---
title: Homepage
layout: main
---
<div class="page-top has-sub-nav">
	<div class="header--title-area">
		<div class="super-contained">
			<%= partial "custom/breadcrumbs"%>
			<h1 class="page-title">Header Level 1 Page Title</h1>
		</div>
	</div>
	<%= partial "custom/nav-bar"%>
</div>
<div class="page-body">
	<section class="section body-content">
		<div class="super-contained">
			<h2>Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</h2>
			<p class="intro-text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		</div>
	</section>
  <section id="section-2" class="section background-gray">
    <div class="super-contained">
			<h3 class="blue-text-color">This is a blue header level 3 using the class <em>blue-text-color</em>.</h3>
      <div class="router-row--container">
        <div class="router-row">
          <div class="router-row--icon">
            <%= image_tag "placeholder-square.png" %>
          </div>
          <div class="router-row--txt">
            <h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
            <p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
        </div>
      </div>
      <div class="router-row--container">
        <div class="router-row">
          <div class="router-row--icon">
            <%= image_tag "placeholder-square.png" %>
          </div>
          <div class="router-row--txt">
            <h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
            <p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
        </div>
      </div>
      <div class="router-row--container">
        <div class="router-row">
          <div class="router-row--icon">
            <%= image_tag "placeholder-square.png" %>
          </div>
          <div class="router-row--txt">
            <h4 class="router-row--title">Euismod Bibendum Adipiscing Tristique Egestas</h4>
            <p class="router-row--blurb">Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-2" class="section background-blue">
		<div class="contained">
			<%= partial "custom/carousel-double" %>
		</div>
		<div class="full-but-contained">
			<div class="background-blue-dark">
				<div class="contained">
					<div class="section-title--area">
						<h2 class="section-title--title h1">Blue Section</h2>
					</div>
					<div class="profile-row">
						<div class="profile-row--img">
							<%= image_tag "placeholder-square.png" %>
						</div>
						<div class="profile-row--txt">
							<div class="profile-row--name-area">
								<h4 class="profile-row--name">Ridiculus Lorem Sollicitudin</h4>
								<p class="profile-row--title h4">Mattis Ultricies Magna Inceptos Egestas</p>
							</div>
							<button class="profile-row--trigger trigger" alt="/" rel="profile-1"><span class="screen-reader-text">Read Bio</span></button>
							<div class="profile-row--blurb" id="profile-1">
								<p>Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
								<p>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</p>
                                <a href="/">Contact faculty member</a>
							</div>
						</div>
					</div>
					<div class="profile-row">
						<div class="profile-row--img">
							<%= image_tag "placeholder-square.png" %>
						</div>
						<div class="profile-row--txt">
							<div class="profile-row--name-area">
								<h4 class="profile-row--name">Ridiculus Lorem Sollicitudin</h4>
								<p class="profile-row--title h4">Mattis Ultricies Magna Inceptos Egestas</p>
							</div>
							<button class="profile-row--trigger trigger" alt="/" rel="profile-2"><span class="screen-reader-text">Read Bio</span></button>
							<div class="profile-row--blurb" id="profile-2">
								<p>Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
								<p>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="background-white">
				<div class="super-contained">
					<div class="section-title--area">
						<h2 class="section-title--title h1">Cras Inceptos Tellus Ultricies Tortor Inceptos Fermentum Sem</h2>
					</div>
					<%= partial "custom/logo-grid"  %>
				</div>
			</div>
		</div>
	</section>
  <section class="section body-content">
		<div class="super-contained">
			<div class="section-title--area">
				<h2 class="section-title--title h1">This is a Section Title Area</h2>
				<p>Nullam quis <a href="/" alt="/">risus</a> eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
			</div>
			<hr>
			<h3>Ipsum Nullam Bibendum Pellentesque</h3>
			<ul>
				<li>Nulla vitae elit libero, a pharetra augue.</li>
				<li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla.</li>
				<li>Curabitur blandit tempus porttitor.</li>
			</ul>
			<hr>
			<h3>Fringilla Tristique</h3>
			<ul>
				<li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</li>
				<li>Nullam id dolor id nibh ultricies vehicula ut id elit.</li>
				<li>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
				<li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum.</li>
			</ul>
		</div>
	</section>
  <section class="callout--next-steps section body-content">
		<div class="contained">
			<div class="callout--next-steps--row">
				<div class="callout--next-steps--left">
					<div class="section-title--area section-title--width-button">
						<span class="section-title--category">Next Steps</span>
						<h2 class="section-title--title h1">This is a Section Title.</h2>
						<h2 class="section-title--title h1">And Another.</h2>
						<div class="router-list--section">
							<ul>
								<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="callout--next-steps--right">
					<ul class="callout--buttons vertical">
						<li><a class="btn btn-callout btn-alternative" href="/" alt="/">Button</a></li>
						<li><a class="btn btn-callout btn-alternative-2" href="/" alt="/">Button</a></li>
						<li><a class="btn btn-callout btn-alternative-3" href="/" alt="/">Button</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>



</div><!-- page-body -->
