---
title: Academic Program Page
layout: main
---
<div class="page-top">
  <div class="page-top--hero">
		<div class="page-top--hero-img" style="background-image:url('assets/images/placeholder-landscape.png');"></div>
	</div>
	<div class="header--title-area after-hero">
		<div class="super-contained">
			<%= partial "custom/breadcrumbs" %>
			<h1 class="page-title">Degree Name</h1>
		</div>
	</div>
</div>
<div class="page-body">
    <section class="section background-white">
        <div class="super-contained">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <h2>Why Capitol</h2>
            <p>
                Ultricies lacus sed turpis tincidunt id. Commodo ullamcorper a lacus vestibulum sed arcu non. Dolor sit amet consectetur adipiscing. Bibendum ut tristique et egestas quis. Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Dolor morbi non arcu risus quis varius quam quisque. Est pellentesque elit ullamcorper dignissim cras. Eros in cursus turpis massa tincidunt dui ut ornare. Amet cursus sit amet dictum. Ligula ullamcorper malesuada proin libero nunc. Dictumst vestibulum rhoncus est pellentesque elit.
            </p>
        </div>
    </section>
    <section class="section background-blue-dark">
        <div class="super-contained">
            <h2 class="h1 center color-white">Alumni Testimonials</h2>
             <div class="alumni-testimonials-carousel">   
                <% 4.times do |index| %>
                    <div>
                    <div class="alumni-profile-row">
                        <div class="alumni-profile-row--img">
                            <%= image_tag 'placeholder-square.png' %>
                        </div>
                        <div class="alumni-profile-row--txt">
                            <div class="alumni-profile-row--txt--heading">
                                <span class="alumni-profile-row--txt--name">Name <%= index %></span>
                                <span class="alumni-profile-row--txt--title">Title</span>
                                <span class="alumni-profile-row--txt--corporation">Corporation</span>
                                <span class="alumni-profile-row--txt--class">Class of XXXX</span>
                            </div>
                            <div class="alumni-profile-row--txt--body">
                                <p><span class="title">How Capitol Tech lorem ipsum</span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p><a href="#">Read story</a></p>
                            </div>
                        </div>
                    </div>
                    </div>
                <% end %>
                </div>

            <h2 class="h1 center color-white">Key Faculty</h2>
            <div class="faculty-carousel">
            <% 3.times do |index| %>
                <div class="key-faculty profile-block">
                    <div class="profile-block--img">
                        <%= image_tag 'placeholder-square.png' %>
                    </div>
                    <div class="profile-block--txt">
                        <h3 class="profile-block--txt--name">Name <%= index %></h3>
                        <span class="profile-block--txt--title">Title</span>
                        <span class="profile-block--txt--department">Department</span>
                        <a class="profile-block--txt--link" href="#">Read Bio</a>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
    </section>
</div>