---
title: Routers
layout: main
---


<section class="section cue-bert-bg router-page-bg">
	<div class="page-top">
		<div class="section-title--area">
			<h2 class="section-title--title h1">Section Title in SVG-BG</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</div>
	<div class="contained">
		<div class="router-page--container">
			<div class="router-page--row ">
				<div class="router-page--row-img" style="background-image:url('/');"></div>
				<div class="router-page--row-txt router-page--txt">
					<h3 class="router-page--txt-title blue-text-color">

							Meltdown and Spectre: What To Expect

					</h3>
					<div>
						<p>It is not known whether
							<a href="https://spectreattack.com/">Meltdown and Spectre</a>, the two major security vulnerabilities announced on January 3, have been already exploited by hackers.</p>
					</div>
				</div>
			</div>

			<div class="router-page--row">
				<div class="router-page--row-txt router-page--txt">
					<h3 class="router-page--txt-title">Vulputate Consectetur Cras Parturient Magna</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
					<button class="btn btn-transparent-alternative more-btn">Learn More</button>
				</div>
			</div>
			<div class="router-page--row with-image">
				<div class="router-page--row-img" style="background-image:url('/assets/images/placeholder-landscape.png');">
				</div>
				<div class="router-page--row-txt router-page--txt">
					<h3 class="router-page--txt-title">Vulputate Consectetur Cras Parturient Magna</h3>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</p>
					<button class="btn btn-transparent-alternative more-btn">Learn More</button>
				</div>
			</div>
		</div>


		<div class="router-page--container">
			<div class="router-page--block">
				<div class="router-page--block-txt router-page--txt">
					<h3 class="router-page--txt-title">Vulputate Consectetur Cras Parturient Magna</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
					<button class="btn btn-transparent-alternative more-btn">Learn More</button>
				</div>
			</div>
			<div class="router-page--block">
				<div class="router-page--block-txt router-page--txt">
					<h3 class="router-page--txt-title">Vulputate Consectetur Cras Parturient Magna</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
					<button class="btn btn-transparent-alternative more-btn">Learn More</button>
				</div>
			</div>
			<div class="router-page--block with-image">
				<div class="router-page--block-img">
					<%= image_tag "placeholder-landscape.png" %>
				</div>
				<div class="router-page--block-txt router-page--txt">
					<h3 class="router-page--txt-title">Vulputate Consectetur Cras Parturient Magna</h3>
					<p>Nulla vitae elit libero, a pharetra augue.</p>
					<button class="btn btn-transparent-alternative more-btn">Learn More</button>
				</div>
			</div>
		</div>

		<%= partial "custom/breadcrumbs" %>
		<%= partial "custom/pagination" %>

	</div>
</section>
