---
title: Side Nav
layout: main
---
<div class="page-top">
	<div class="header--title-area">
		<div class="full-but-contained no-margin">
			<%= partial "custom/breadcrumbs"%>
			<h1 class="page-title">Header Level 1 Page Title</h1>
		</div>
	</div>
</div>
<div class="page-body">
	<section class="section body-content">
		<div class="full-but-contained no-margin">
			<div class="column-row">
				<div class="column--small">
					<div class="nav--side column--small--island">
						<button class="btn btn-primary nav--side--mobile-btn trigger" rel="nav-side">Navigation</button>
						<div class="nav--side--mobile-container" id="nav-side">
							<ul class="nav--side-parent">
								<li>
									<a href="/" class="current-page">Parent Title</a>
									<ul class="nav--side-child">
										<li><a href="/">Child Title</a></li>
										<li><a href="/">Child Title</a></li>
										<li>
											<a href="/">Child Title</a>
											<ul class="nav--side-grandchild">
												<li><a href="/">Grand Child Title Ridiculus Nullam Porta Fermentum Pellentesque</a></li>
												<li><a href="/">Grand Child Title</a></li>
												<li><a href="/">Grand Child Title</a></li>
											</ul>
										</li>
										<li><a href="/">Child Title</a></li>
									</ul>
								</li>
								<li><a href="/">Parent Title</a></li>
								<li><a href="/">Parent Title</a></li>
								<li><a href="/">Parent Title</a></li>
								<li><a href="/">Parent Title</a></li>
								<li><a href="/">Parent Title</a></li>
								<li><a href="/">Parent Title</a></li>
							</ul>
						</div>
					</div>
					<div class="column--small--callout-button column--small--island">
						<ul class="callout--buttons vertical">
							<li><a class="btn btn-callout btn-alternative" href="/" alt="/">Button</a></li>
							<li><a class="btn btn-callout btn-alternative-2" href="/" alt="/">Button</a></li>
							<li><a class="btn btn-callout btn-alternative-3" href="/" alt="/">Button</a></li>
						</ul>
					</div>


					<div class="callout-small--block notched red-dark">
						<div class="callout-small--block-img">
							<%= image_tag "placeholder-landscape.png" %>
						</div>
						<div class="callout-small--block-txt">
							<h4 class="callout-small--block-title">Adipiscing Egestas Pellentesque Vulputate</h4>
							<a href="/" alt="/" class="btn btn-transparent more-btn">Button Link</a>
						</div>
					</div>

					<div class="callout-small--block notched blue-dark">
						<div class="callout-small--block-txt">
							<h4 class="callout-small--block-title">Adipiscing Egestas Pellentesque Vulputate</h4>
							<a href="/" alt="/" class="btn btn-transparent more-btn">Button Link</a>
						</div>
					</div>

					<div class="callout-small--block notched blue">
						<div class="callout-small--block-img">
							<%= image_tag "placeholder-landscape.png" %>
						</div>
						<div class="callout-small--block-txt">
							<h4 class="callout-small--block-title">Adipiscing Egestas Pellentesque Vulputate</h4>
							<a href="/" alt="/" class="btn btn-transparent more-btn">Button Link</a>
						</div>
					</div>

					<div class="callout-small--block notched purple">
						<div class="callout-small--block-txt">
							<h4 class="callout-small--block-title">Adipiscing Egestas Pellentesque Vulputate</h4>
							<a href="/" alt="/" class="btn btn-transparent more-btn">Button Link</a>
						</div>
					</div>

					<div class="callout-small--block notched red">
						<div class="callout-small--block-img">
							<%= image_tag "placeholder-landscape.png" %>
						</div>
						<div class="callout-small--block-txt">
							<h4 class="callout-small--block-title">Adipiscing Egestas Pellentesque Vulputate</h4>
							<a href="/" alt="/" class="btn btn-transparent more-btn">Button Link</a>
						</div>
					</div>

				</div>
				<div class="column--large">
					<h2>Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</h2>
					<div class="media-full">
						<div class="media-full--container">
							<%= image_tag "placeholder-landscape.png" %>
							<div class="image-title red notched">
								<p>Hello I am an image-title.</p>
							</div>
						</div>
						<div class="image-caption">
							<p>Hello I am an image-caption.</p>
						</div>
					</div>
					<p class="intro-text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
				</div>
			</div>
		</div>
	</section>


  <section class="callout--next-steps section body-content">
		<div class="contained">
			<div class="callout--next-steps--row">
				<div class="callout--next-steps--left">
					<div class="section-title--area section-title--width-button">
						<span class="section-title--category">Next Steps</span>
						<h2 class="section-title--title h1">This is a Section Title.</h2>
						<h2 class="section-title--title h1">And Another.</h2>
						<div class="router-list--section">
							<ul>
								<li><a class="more-link" href="/" alt="/">Something Else Yet Again</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="callout--next-steps--right">
					<ul class="callout--buttons vertical">
						<li><a class="btn btn-callout btn-alternative" href="/" alt="/">Button</a></li>
						<li><a class="btn btn-callout btn-alternative-2" href="/" alt="/">Button</a></li>
						<li><a class="btn btn-callout btn-alternative-3" href="/" alt="/">Button</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="callout-blocks">
			<a href="/" alt="/" class="callout-blocks--block red-dark">
				<span class="callout-blocks--cat">In the News</span>
				<h4 class="callout-blocks--title">Etiam porta sem malesuada magna mollis euismod.</h4>
			</a>
			<a href="/" alt="/" class="callout-blocks--block red">
				<span class="callout-blocks--cat">Adipiscing Vehicula Amet Commodo</span>
				<h4 class="callout-blocks--title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
			</a>
			<a href="/" alt="/" class="callout-blocks--block purple">
				<span class="callout-blocks--cat">Vehicula Tristique Commodo</span>
				<h4 class="callout-blocks--title">Aenean Mattis</h4>
			</a>
		</div>
	</section>
	<section class="section">
		<div class="callout-block-full blue">
			<h3 class="callout-block-full--title">Adipiscing Mollis Dolor Fringilla Fusce</h3>
			<a href="/" alt="/" class="btn btn-transparent more-btn">Button Link</a>
		</div>
	</section>



</div><!-- page-body -->
