
  *{
    box-sizing: border-box;
  }
  html, body{
    &.guide-font,
    &.guide-section-title,
    &.guide-page-title,
    &.guide-type-reset{
      font-size: 10px;
      line-height: 1.5;
    }
  }
  body{
    min-height: 100vh;
    color: $guide-black;
    background: $guide-background !important;
  }

  .guide-font{
    font-family: $guide-font;
    font-weight: lighter;
  }
  .guide-section-title{
    font-family: $guide-font;
  }
  .guide-example-code{
    font-family: $guide-font;
    font-size: 1rem;
    line-height: 1.125;
    margin-top: $base-margin;
    margin-bottom: $base-margin/2;
  }
  .guide-page-title{
    margin-top: 0;
    font-weight: normal;
    color: $primary-text-color;
  }

  h1{
    &.guide-font,
    &.guide-section-title,
    &.guide-page-title{
      font-size: 4rem;
      margin-bottom: 1rem;
    }
  }
  h2{
    &.guide-font,
    &.guide-section-title,
    &.guide-page-title{
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }
  h3{
    &.guide-font,
    &.guide-section-title,
    &.guide-page-title{
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &.guide-section-title{
      margin-top: 2rem;
    }
  }
  h4{
    &.guide-font,
    &.guide-section-title,
    &.guide-page-title{
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    &.guide-section-title{
      margin-top: 3rem;
      width: 100%;
      float: left;
    }
  }
  h5{
    &.guide-font,
    &.guide-section-title,
    &.guide-page-title{
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  h6{
    &.guide-font,
    &.guide-section-title,
    &.guide-page-title{
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  p{
    &.guide-font,
    &.guide-section-title,
    &.guide-page-title{
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  a{
    &.guide-font,
    &.guide-section-title,
    &.guide-page-title{
      font-size: 1rem;
      color: $guide-black;
      &:visited{
        color: $guide-black;
      }
    }
  }


  .styleguide{
    section.guide-section{
      @include grid-container;
      margin-bottom: 2rem;
      border-bottom: 1px dotted $guide-blue;
    }
  }

  //structure
  .guide-wrap{
    display: flex;
    flex: 1 1 0;
    overflow-y: auto;
  }
  #guide-container, .guide-container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 0;
    padding: 1em;
    height: calc(100vh - 60px);

  }
  #guide-body{
    @include grid-column(12);
    @media(min-width: $bp-medium){
      @include grid-column(9);
    }

  }
  #guide-nav{
    width: 100%;
    position: absolute;
    top: $guide-header-height;
    left: -100%;
    background: $guide-blue;
    height: 100%;
    transition: left 300ms ease;
    z-index: 90;
    text-align: center;
    &.open{
      left: 0;

    }
    @media(min-width: $bp-medium){
      @include grid-column(3);
      position: relative;
      top: auto;
      left: auto;
      text-align: left;
      background: $guide-background;
    }
  }


//half width layout
  .guide-half-row{
    @include grid-collapse;
    margin-bottom: $base-margin;
  }

  .guide-half-small{
    border: 0 !important;
    padding: 0 !important;
    @include grid-column(12);
    @media (min-width: $bp-medium){
      @include grid-column(6);
    }
    @media (min-width: $bp-xlarge){
      @include grid-column(4);
    }
  }

  .guide-half-large{
    @include grid-column(12);
    @media (min-width: $bp-medium){
      @include grid-column(6);
    }
    @media (min-width: $bp-xlarge){
      @include grid-column(8);
    }
  }
