---
title: Colors
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
</div>
<section class="guide-section">
  <p class="guide-example-code"><em>Example:</em></p>
  <ul class="color-blocks">
		<li class="color-container">
			<div class="color-style guide-red-darker"></div>
			<span class="sass">$red-darker</span>
			<span class="hex">#880524</span>
		</li>
		<li class="color-container">
			<div class="color-style guide-red-dark"></div>
			<span class="sass">$red-dark</span>
			<span class="hex">#A20F24</span>
		</li>
		<li class="color-container">
			<div class="color-style guide-red"></div>
			<span class="sass">$red</span>
			<span class="hex">#C31D24</span>
		</li>
	</ul>
	<ul class="color-blocks">
    <li class="color-container">
      <div class="color-style guide-blue-darker"></div>
      <span class="sass">$blue-darker</span>
      <span class="hex">#1B3F56</span>
    </li>
		<li class="color-container">
      <div class="color-style guide-blue-dark"></div>
      <span class="sass">$blue-dark</span>
      <span class="hex">#0D5677</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-blue"></div>
      <span class="sass">$blue</span>
      <span class="hex">#006E9A</span>
    </li>
	</ul>
	<ul class="color-blocks">
		<li class="color-container">
      <div class="color-style guide-yellow"></div>
      <span class="sass">$yellow</span>
      <span class="hex">#FFE747</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-cream"></div>
      <span class="sass">$cream</span>
      <span class="hex">#FFF3A3</span>
    </li>
	</ul>
	<ul class="color-blocks">
		<li class="color-container">
      <div class="color-style guide-purple"></div>
      <span class="sass">$purple</span>
      <span class="hex">#2D3258</span>
    </li>
	</ul>
	<ul class="color-blocks">
		<li class="color-container">
      <div class="color-style guide-green"></div>
      <span class="sass">$green</span>
      <span class="hex">#00665A</span>
    </li>
	</ul>
	<ul class="color-blocks">
    <li class="color-container">
      <div class="color-style guide-gray-dark"></div>
      <span class="sass">$gray-dark</span>
      <span class="hex">#4F4F4F</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-gray"></div>
      <span class="sass">$gray</span>
      <span class="hex">#777777</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-gray-light"></div>
      <span class="sass">$gray-light</span>
      <span class="hex">#F4F4F4</span>
    </li>
	</ul>
	<ul class="color-blocks">
		<li class="color-container">
      <div class="color-style guide-black"></div>
      <span class="sass">$black</span>
      <span class="hex">#333333</span>
    </li>
		<li class="color-container">
      <div class="color-style guide-white"></div>
      <span class="sass">$white</span>
      <span class="hex">#ffffff</span>
    </li>
	</ul>
</section>
