---
title: Forms
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#buttons">Buttons</a></li>
    <li><a href="#text-input">Text Input</a></li>
    <li><a href="#select">Select</a></li>
    <li><a href="#radio-checkbox">Radio &amp; Checkbox</a></li>
	</nav>
</div>
<section class="guide-section">
  <h3 id="buttons" class="guide-section-title">Buttons</h3>
  <p class="guide-example-code"><em>Example:</em></p>
  <ul class="guide-button-area">
    <li>
      <button class="btn">Default</button>
      <button class="btn hover">Hover</button>
      <button class="btn active">Active</button>
      <button class="btn focus">Focus</button>
      <button class="btn disabled">Disabled</button>
    </li>
    <li>
      <button class="btn btn-secondary">Secondary</button>
      <button class="btn btn-secondary hover">Hover</button>
      <button class="btn btn-secondary active">Active</button>
      <button class="btn btn-secondary focus">Focus</button>
      <button class="btn btn-secondary disabled">Disabled</button>
    </li>
		<li>
      <button class="btn btn-additional">Additional</button>
      <button class="btn btn-additional hover">Hover</button>
      <button class="btn btn-additional active">Active</button>
      <button class="btn btn-additional focus">Focus</button>
      <button class="btn btn-additional disabled">Disabled</button>
    </li>
    <li>
      <button class="btn btn-alternative">Alternative</button>
      <button class="btn btn-alternative hover">Hover</button>
      <button class="btn btn-alternative active">Active</button>
      <button class="btn btn-alternative focus">Focus</button>
      <button class="btn btn-alternative disabled">Disabled</button>
    </li>
		<li>
      <button class="btn btn-alternative-2">Alternative 2</button>
      <button class="btn btn-alternative-2 hover">Hover</button>
      <button class="btn btn-alternative-2 active">Active</button>
      <button class="btn btn-alternative-2 focus">Focus</button>
      <button class="btn btn-alternative-2 disabled">Disabled</button>
    </li>
		<li>
      <button class="btn btn-alternative-3">Alternative 3</button>
      <button class="btn btn-alternative-3 hover">Hover</button>
      <button class="btn btn-alternative-3 active">Active</button>
      <button class="btn btn-alternative-3 focus">Focus</button>
      <button class="btn btn-alternative-3 disabled">Disabled</button>
    </li>
    <li class="guide-button-background-area" style="background-color: #1B3F56;">
      <button class="btn btn-transparent">Transparent</button>
      <button class="btn btn-transparent hover">Hover</button>
      <button class="btn btn-transparent active">Active</button>
      <button class="btn btn-transparent focus">Focus</button>
      <button class="btn btn-transparent disabled">Disabled</button>
    </li>
		<li >
      <button class="btn btn-transparent-alternative">Transparent Alternative</button>
      <button class="btn btn-transparent-alternative hover">Hover</button>
      <button class="btn btn-transparent-alternative active">Active</button>
      <button class="btn btn-transparent-alternative focus">Focus</button>
      <button class="btn btn-transparent-alternative disabled">Disabled</button>
    </li>
    <li>
      <button class="btn btn-large">Button Large</button>
    </li>
    <li>
      <button class="btn btn-full">Button Full</button>
    </li>
  </ul>
  <p class="guide-example-code"><em>Code:</em></p>
  <pre class="language-markup"><code><%= escape_html('<button class="btn btn-primary">Primary</button>
<button class="btn btn-secondary">Secondary</button>
<button class="btn btn-alternative">Alternative</button>
<button class="btn btn-alternative-2">Alternative 2</button>
<button class="btn btn-alternative-3">Alternative 3</button>
<button class="btn btn-transparent">Transparent</button>
<button class="btn btn-transparent-alternative">Transparent Alternative</button>
<button class="btn btn-large">Button Large</button>
<button class="btn btn-full">Button Full</button>') %></code></pre>
</section>


<section class="guide-section">
  <h3 id="text-input" class="guide-section-title">Text Input</h3>
  <h4 class="guide-section-title">Text Field</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <p>
        <label for="name">Your Name</label>
    		<input id="name" class="text_field" type="text" name="name" required="" aria-required="true" autocapitalize="words" autocorrect="off" autocomplete="name"/>
      </p>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
      <pre class="language-markup"><code><%= escape_html('<label for="name">Your Name</label>
<input id="name" class="text_field" type="text" name="name" required="" aria-required="true" autocapitalize="words" autocorrect="off" autocomplete="name"/>') %></code></pre>
    </div>
  </div>
  <h4 class="guide-section-title">Text Field with Button</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <p>
        <label for="search">Search Inline Button:</label><br />
        <div class="input-with-button">
          <input type="search" id="search" />
          <a href=""><button class="btn">Inline Button</button></a>
        </div>
      </p>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
      <pre class="language-markup"><code><%= escape_html('<p>
  <label for="search">Search Inline Button:</label><br />
  <div class="input-with-button">
    <input type="search" id="search" />
    <a href=""><button class="btn">Inline Button</button></a>
  </div>
</p>') %></code></pre>
    </div>
  </div>
  <h4 class="guide-section-title">Text Area</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <p >
    		<label for="message">Your Message</label>
    		<textarea id="message" class="textarea" name="message" required="" aria-required="true"></textarea>
    	</p>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
      <pre class="language-markup"><code><%= escape_html('<label for="message">Your Message</label>
<textarea id="message" class="textarea" name="message" required="" aria-required="true"></textarea>') %></code></pre>
    </div>
  </div>
  <h4 class="guide-section-title">Email</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <p>
    		<label for="email">Your Email</label>
    		<input type="email" id="email" class="email" name="email" required="" aria-required="true" aria-describedby="email-note" autocapitalize="off" autocorrect="off" autocomplete="email">
    	</p>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
      <pre class="language-markup"><code><%= escape_html('<label for="email">Your Email</label>
<input type="email" id="email" class="email" name="email" required="" aria-required="true" aria-describedby="email-note" autocapitalize="off" autocorrect="off" autocomplete="email">') %></code></pre>
    </div>
  </div>
  <h4 class="guide-section-title">Telephone</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <p class="tel">
    		<label for="preferred_phone">Preferred Phone</label>
    		<input type="tel" id="preferred_phone" class="tel" name="preferred_phone" placeholder="ex. 123-456-7890" autocorrect="off" autocomplete="tel">
    	</p>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
      <pre class="language-markup"><code><%= escape_html('<label for="preferred_phone">Preferred Phone</label>
<input type="tel" id="preferred_phone" class="tel" name="preferred_phone" placeholder="ex. 123-456-7890" autocorrect="off" autocomplete="tel">') %></code></pre>
    </div>
  </div>
  <h4 class="guide-section-title">URL</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <p class="url">
    		<label for="url">URL</label>
    		<input type="url" id="url" name="url" required aria-describedby="url-note">
    	</p>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
      <pre class="language-markup"><code><%= escape_html('<label for="url">URL</label>
<input type="url" id="url" name="url" required aria-describedby="url-note">') %></code></pre>
    </div>
  </div>
</section>




<section class="guide-section">
  <h3 id="select" class="guide-section-title">Select</h3>

  <h4 class="guide-section-title">Select (Default)</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <p><label for="select_element">Select Element:</label><br />
        <select id="select_element">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </p>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
<pre class="language-markup"><code><%= escape_html('<p><label for="select_element">Select Element:</label><br />
  <select id="select_element">
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    ...
  </select>
</p>') %></code></pre>
    </div>
  </div>

  <h4 class="guide-section-title">Select (Custom)</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <label for="select_custom">Custom Label:</label><br />
      <div class="select-custom">
        <select id="select_custom" aria-label="Select menu example">
          <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
        </select>
      </div>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
<pre class="language-markup"><code><%= escape_html('<label for="select_custom">Custom Label:</label><br />
<div class="select-custom">
  <select id="select_custom" aria-label="Select menu example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    ...
  </select>
</div>') %></code></pre>
    </div>
  </div>
</section>




<section class="guide-section">
  <h3 id="radio-checkbox" class="guide-section-title">Radio &amp; Checkbox</h3>
  <h4 class="guide-section-title">Radio</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <form>
				<legend id="feildset-title">Checkboxes:</legend>
				<fieldset aria-labelledby='feildset-title' role='radiogroup'>
					<ul>
						<li>
							<label for="Checkbox-1">
								<input id="Checkbox-1" type="checkbox" class="checkbox" name="checkboxes" value="check_1" /> Checkbox 1</label>
						</li>
			  		<li>
							<label for="Checkbox-2">
								<input id="Checkbox-2" type="checkbox" class="checkbox" name="checkboxes" value="check_2" /> Checkbox 2</label>
						</li>
			  		<li>
							<label for="Checkbox-3">
								<input id="Checkbox-3" type="checkbox" class="checkbox" name="checkboxes" value="check_3" />
								Checkbox 3
							</label>
						</li>
					</ul>
				</fieldset>
      </form>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
<pre class="language-markup"><code><%= escape_html('<legend id="feildset-title">Checkboxes:</legend>
	<fieldset aria-labelledby="feildset-title" role="radiogroup">
		<ul>
			<li>
				<label for="Checkbox-1">
					<input id="Checkbox-1" type="checkbox" class="checkbox" name="checkboxes" value="check_1" /> Checkbox 1</label>
			</li>
  		<li>
				<label for="Checkbox-2">
					<input id="Checkbox-2" type="checkbox" class="checkbox" name="checkboxes" value="check_2" /> Checkbox 2</label>
			</li>
  		<li>
				<label for="Checkbox-3">
					<input id="Checkbox-3" type="checkbox" class="checkbox" name="checkboxes" value="check_3" />
					Checkbox 3
				</label>
			</li>
		</ul>
	</fieldset>') %></code></pre>
    </div>
  </div>


  <h4 class="guide-section-title">Checkbox</h4>
  <div class="guide-half-row">
    <div class="guide-half-small">
      <p class="guide-example-code"><em>Example:</em></p>
      <form>
        <label>Checkbox Label:</label><br />
        <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_1" /> Checkbox 1</label><br/>
        <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_2" /> Checkbox 2</label><br/>
        <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_3" /> Checkbox 3</label><br/>
        <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_4" disabled /> Checkbox Disabled</label><br/>
      </form>
    </div>
    <div class="guide-half-large">
      <p class="guide-example-code"><em>Code:</em></p>
<pre class="language-markup"><code><%= escape_html('<form>
  <label>Checkboxes:</label><br />
  <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_1" /> Checkbox 1</label><br/>
  <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_2" /> Checkbox 2</label><br/>
  <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_3" /> Checkbox 3</label><br/>
  <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_4" disabled /> Checkbox Disabled</label><br/>
</form>') %></code></pre>
    </div>
  </div>

</section>
