---
title: Test Page
layout: guide
---


<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#one">One</a></li>
		<li><a href="#two">Two</a></li>
		<li><a href="#three">Three</a></li>
	</nav>
</div>




<h3 name="accordion">Accordion</h3>

Example

<%= partial "/custom/accordion" %>

Code

~~~~
<div class="accordion-closed-default">
	<div class="accordion-container">
		<section>
			<h4 id="accordion1" class="accordion" aria-controls="panel1" tabindex="0">Accordion Title 1</h4>
			<div id="panel1" class="panel accordion-content" aria-labeledby="accordion1">
				<div class="panel-inner">
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
				</div><!--panel-inner-->
			</div>
		</section>
		<section>
			<h4 id="accordion2" class="accordion" aria-controls="panel2" tabindex="-1">Accordion Title 2</h4>
			<div id="panel2" class="panel accordion-content" aria-labeledby="accordion2">
				<div class="panel-inner">
					<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				</div><!--panel-inner-->
			</div>
		</section>
		<section>
			<h4 id="accordion3" class="accordion" aria-controls="panel3" tabindex="-1">Accordion Title 3</h4>
			<div id="panel3" class="panel accordion-content" aria-labeledby="accordion3">
				<div class="panel-inner">
					<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				</div><!--panel-inner-->
			</div>
		</section>
	</div><!--accordion-container-->
</div><!--accordion-closed-default-->
~~~~


<section id="three">
	<h2>This is section 3.</h2>
</section>
