/* ================================
   Reuseable Classes
   ================================ */
.hidden,
.screen-reader-text,
.meta-nav{
  position: absolute;
  left: -99999em;
}

.uppercase{
  text-transform: uppercase;
}
.italic{
  font-style: italic;
}

ul.clean,
ol.clean{
  list-style: none;
  margin-left: 0;
  li{
    padding-left: 0;
    margin-bottom: 0;
  }
}

.float-left{
	float: left !important;
}
.float-right {
    width: 100%;
    @media (min-width: $bp-menu-shift) {
        float: right !important;
        width: auto;
    }
    .btn {
        width: 100%;
        @media (min-width: $bp-menu-shift) {
            width: auto;
        }
    }
}
.clear-both{
	clear: both;
}


//Display reusable classes
.display-block{
  display: block !important;
}
.display-inline-block{
  display: inline-block !important;
}
.display-flex{
  display: flex !important;
}

//Position reusable classes
.position-relative{
  position: relative !important;
}
.position-absolute{
  position: absolute !important;
}
.position-fixed{
  position: fixed !important;
}

//Neat Grid helpers
.grid-row{
  @include grid-container;
  @include grid-collapse;
}

//Color Classes
/*.white {
    color: $white !important;
    * {
        color: $white;
    }
}
.black {
    color: $black !important;
    * {
        color: $black;
    }
}
.light-gray,
.gray-light {
    color: $gray-light !important;
    * {
        color: $gray-light;
    }
}
.gray {
    color: $gray !important;
    * {
        color: $gray !important;
    }
}
.dark-gray,
.gray-dark {
    color: $gray-dark !important;
    * {
        color: $gray-dark;
    }
}
.red {
    color: $red !important;
    * {
        color: $red;
    }
}
.dark-red,
.red-dark {
    color: $red-dark !important;
    * {
        color: $red-dark;
    }
}
.darker-red,
.red-darker {
    color: $red-darker !important;
    * {
        color: $red-darker;
    }
}
.blue {
    color: $blue !important;
    * {
        color: $blue;
    }
}
.dark-blue,
.blue-dark {
    color: $blue-dark !important;
    * {
        color: $blue-dark;
    }
}
.darker-blue,
.blue-darker {
    color: $blue-darker !important;
    * {
        color: $blue-darker;
    }
}
.yellow {
    color: $yellow !important;
    * {
        color: $yellow;
    }
}
.cream {
    color: $cream !important;
    * {
        color: $cream;
    }
}
.purple {
    color: $purple !important;
    * {
        color: $purple;
    }
}
.green {
    color: $green !important;
    * {
        color: $green;
    }
}*/

.background-blue-white-text {
    background-color: $blue;
    color: $white;
    h1, .h1, h2, .h2 {
        color: $white;
    }
}

//Background Color Classes
.bg-white {
    background-color: $white !important;
}
.bg-black {
    background-color: $black !important;
}
.bg-light-gray {
    background-color: $gray-light !important;
}
.bg-gray {
    background-color: $gray !important;
}
.bg-dark-gray {
    background-color: $gray-dark !important;
}
.bg-red {
    background-color: $red !important;
}
.bg-dark-red {
    background-color: $red-dark !important;
}
.bg-darker-red {
    background-color: $red-darker !important;
}
.bg-blue {
    background-color: $blue !important;
}
.bg-dark-blue {
    background-color: $blue-dark !important;
}
.bg-darker-blue {
    background-color: $blue-darker !important;
}
.bg-yellow {
    background-color: $yellow !important;
}
.bg-cream {
    background-color: $cream !important;
}
.bg-purple {
    background-color: $purple !important;
}
.bg-green {
    background-color: $green !important;
}

//Borders
.no-border {
    border: 0 !important;
}
