// Form Config -----------------------------

// Font
$fh-font-family: $font-stack-mono;
$fh-font-size: 15px;
$fh-font-color: $primary-text-color;

// Borders
$fh-border-radius: 0px;
$fh-border-width: 1px;
$fh-border-style: solid;
$fh-border-color: #C0DBE6;

// Inputs, Textareas, Select, Option
$fh-input-padding: 10px 15px;
$fh-input-height: 40px;
$fh-input-width: 100%;
$fh-input-max-width: 800px;
$fh-input-bg-color: #fff;
$fh-focus-bg-color: #fff;
$fh-focus-border-color: $btn-active-color;
$fh-focus-font-color: $fh-font-color;

// Select Vendor Styling
$fh-allow-select-vendor-styling: true;

// Fieldset & Legend Styling
$fh-fieldset-bare: false;


// Layout
$fh-centered: false;
$fh-display: block;

// Hide WebForms Honeypot label
label[for="edit-personal-link"]
{
    display:none;
}
