// Typograph
$base-font-size: 17px;
$base-line-height: (30/17);
$base-margin: 30px;


//Font families
$font-stack-sans: 'Roboto', Arial, Helvetica, sans-serif;
$font-stack-serif: 'Roboto Slab', Georgia, Times, "Times New Roman", serif;
$font-stack-mono: 'Roboto Mono', 'Courier New', Courier, monospace;
