// Variables

//Grid Setup
$neat-grid: (
  columns: 12,
  gutter: 20px,
);


// Breakpoints
$bp-tiny: 320px;
$bp-xsmall: 400px;
$bp-small: 480px;
$bp-sm-medium: 640px;
$bp-medium: 760px;
$bp-large: 920px;
$bp-xlarge: 1200px;
$bp-huge: 1400px;
$bp-xhuge: 1500px;
$bp-super: 1700px;
$bp-xsuper: 1900px;

//One awesome breakpoint for when the menu goes from mobile to desktop
$bp-menu-shift: 600px;


//Color Variables
$black: #333333;
$white: #FFFFFF;
$gray-light: #F4F4F4;
$gray: #757575;
$gray-dark: #4F4F4F;
$red: #C31D24;
$red-dark: #A20F24;
$red-darker: #880524;
$blue: #006E9A;
$blue-dark: #0D5677;
$blue-darker: #1B3F56;
$yellow: #FFE747;
$cream: #FFF3A3;
$purple: #2D3258;
$green: #00665A;

$blockchain-blue:          #144a9b;
$blockchain-red:           #c4122f;
$blockchain-gray:          #464646;
$blockchain-gray-light:    #f2f2f3;


//Font Weights
$light:     300;
$normal:    400;
$semibold:  600;
$bold:      700;
$extrabold: 800;


// Main Colors
$background-color: $white;
$blockchain-background-color: $gray-light;

//Text Color
$primary-text-color: $black;
$light-text-color: $white;
$link-text-color: $blue;
$link-hover-color: $red;
$link-underline-color: $link-hover-color;
$visited-text-color: $link-text-color;


//Button Colors
//Default
$btn-background-color: $blue;
$btn-text-color: $cream;
$btn-hover-color: $blue-dark;
$btn-active-color: $blue-darker;

//Secondary
$btn-secondary-background-color: $yellow;
$btn-secondary-text-color: $blue;
$btn-secondary-hover-color: darken($yellow, 15%);
$btn-secondary-active-color: $btn-secondary-hover-color;

//Additional
$btn-additional-background-color: $blue-darker;
$btn-additional-text-color: $yellow;
$btn-additional-hover-color: $blue-dark;
$btn-additional-active-color: $btn-additional-hover-color;

//Alternative
$btn-alternative-background-color: $red-dark;
$btn-alternative-text-color: $light-text-color;
$btn-alternative-hover-color: $red-darker;
$btn-alternative-active-color: darken($red-dark, 10%);

$btn-alternative-2-background-color: $purple;
$btn-alternative-2-text-color: $light-text-color;
$btn-alternative-2-hover-color: lighten($btn-alternative-2-background-color, 10%);
$btn-alternative-2-active-color: lighten($btn-alternative-2-background-color, 10%);

$btn-alternative-3-background-color: $green;
$btn-alternative-3-text-color: $light-text-color;
$btn-alternative-3-hover-color: darken($btn-alternative-3-background-color, 5%);
$btn-alternative-3-active-color: darken($btn-alternative-3-background-color, 5%);

//Transparent
$btn-transparent-background-color: rgba(0,0,0,0);
$btn-transparent-text-color: $yellow;
$btn-transparent-hover-color: rgba(0,0,0,0);
$btn-transparent-active-color: $btn-transparent-hover-color;

//Transparent Alternative
$btn-transparent-alternative-background-color: rgba(0,0,0,0);
$btn-transparent-alternative-text-color: $blue;
$btn-transparent-alternative-hover-color: rgba(0,0,0,0);
$btn-transparent-alternative-active-color: $blue-dark;

//Select Custom
$select-custom-background: $blue;
$select-custom-text: $cream;

// Shadows, Borders, & Others
$box-shadow: 0 2px 5px rgba(0,0,0,0.26);


//header
$header-height: 75px;
$nav-height: 50px;
